<div data-nav-version="1.0.0" id="sl-ms-com-content-header" class="page-translated ms-com-content ms-com-content-tr ms-com-content-header updated-contact-pages new-nav new-selector br-nav loc-nav jp-nav no-helmet">
  <div></div>
  <header class="ms-com-header desktop-header">
    <div class="header-overlay"></div>
    <div class="header-wrapper">
      <div class="header-inside"> <a href="https://www.mulesoft.com/jp/" class="logo" aria-label="Link to MuleSoft homepage"></a>
        <div>
          <nav role="navigation" aria-label="JP main menu" id="block-jpmainmenu" class="block-jpmainmenu">
            <ul class="menu menu--simple-mega-menu" role="menu">
              <li class="menu-item" role="menuitem" aria-label="Product"> <span class="main-menu-product" data-simple-mega-menu="211">&#x88FD;&#x54C1;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header-translated field--name-field-header-translated field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <section class="mega-menu-container-left">
                              <nav class="nav-intro"><span class="menu-label">IT&#x62C5;&#x5F53;&#x8005;&#x5411;&#x3051;</span><a class="nav-main-title" href="https://www.mulesoft.com/jp/platform/enterprise-integration" role="menuitem"><span class="title">Anypoint Platform</span> <span>&#x4E16;&#x754C;No.1&#x306E;&#x7D71;&#x5408;API&#x30D7;&#x30E9;&#x30C3;&#x30C8;&#x30D5;&#x30A9;&#x30FC;&#x30E0;</span></a> </nav>
                              <div class="anypoint-menu">
                                <nav class="menu"><span class="menu-label" role="heading">&#x30A4;&#x30F3;&#x30C6;&#x30B0;&#x30EC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</span> <a href="https://www.mulesoft.com/jp/platform/studio" role="menuitem">Studio</a> <a href="https://www.mulesoft.com/jp/platform/exchange" role="menuitem">Exchange</a> <a href="https://www.mulesoft.com/jp/platform/cloud-connectors" role="menuitem">Connector</a> <a href="https://www.mulesoft.com/jp/platform/anypoint-design-center/datagraph" role="menuitem">DataGraph</a> </nav>
                                <nav class="menu with-flags"><span class="menu-label" role="heading">API&#x7BA1;&#x7406;</span>
                                  <p class="item-with-flag"><a href="https://www.mulesoft.com/jp/platform/api/flex-api-gateway" role="menuitem">Flex Gateway</a><span class="inline-post-flag magenta">&#x65B0;&#x7740;&#x60C5;&#x5831;</span></p>
                                  <p class="item-with-flag"><a href="https://www.mulesoft.com/jp/platform/api/governance-anypoint" role="menuitem">Governance</a><span class="inline-post-flag magenta">&#x65B0;&#x7740;&#x60C5;&#x5831;</span></p> <a href="https://www.mulesoft.com/jp/platform/api/monitoring-anypoint" role="menuitem">Monitoring</a> <a href="https://www.mulesoft.com/jp/platform/api/manager" role="menuitem">API Manager</a>
                                </nav> <a class="see-all-link" href="https://www.mulesoft.com/jp/platform/anypoint-platform-features" role="menuitem" rel="nofollow">See all</a>
                              </div>
                            </section>
                            <section class="try-free">
                              <nav class="menu"> <span class="menu-label" role="heading">&#x7121;&#x6599;&#x30C8;&#x30E9;&#x30A4;&#x30A2;&#x30EB;</span> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" role="menuitem">Anypoint Platform&#x306E;&#x7121;&#x6599;&#x30C8;&#x30E9;&#x30A4;&#x30A2;&#x30EB;&#x304A;&#x7533;&#x8FBC;&#x307F;</a> <a href="https://www.mulesoft.com/lp/dl/anypoint-mule-studio" role="menuitem">Studio &amp; Mule&#x306E;&#x30C0;&#x30A6;&#x30F3;&#x30ED;&#x30FC;&#x30C9;</a> </nav>
                            </section>
                          </div>
                          <div class="full-right-menu">
                            <section class="mega-menu-container-right">
                              <nav class="nav-intro with-flags"> <span class="menu-label">&#x30D3;&#x30B8;&#x30CD;&#x30B9;&#x62C5;&#x5F53;&#x8005;&#x5411;&#x3051;</span> <a class="nav-main-title no-translate" href="https://www.mulesoft.com/jp/platform/composer" role="menuitem"> <span class="title">MuleSoft Composer</span> <span>&#x30C7;&#x30FC;&#x30BF;&#x3084;&#x30A2;&#x30D7;&#x30EA;&#x3068;&#x7C21;&#x5358;&#x306B;&#x63A5;&#x7D9A;</span> </a> <a class="nav-main-title item-with-flag reverse" href="https://www.mulesoft.com/jp/platform/rpa" role="menuitem"> <span class="title">MuleSoft RPA</span> <span>Bot&#x3067;&#x696D;&#x52D9;&#x3092;&#x81EA;&#x52D5;&#x5316;</span> </a> </nav>
                            </section>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="field field--simple-mega-menu-field-translated-footer field--name-field-translated-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/jp/lp/reports/gartner-magic-quadrant-leader">
                        <div class="featured-left-content square-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="&#x30AC;&#x30FC;&#x30C8;&#x30CA;&#x30FC;&#x30DE;&#x30B8;&#x30C3;&#x30AF;&#x30FB;&#x30AF;&#x30A2;&#x30C9;&#x30E9;&#x30F3;&#x30C8;&#x30EC;&#x30DD;&#x30FC;&#x30C8;&#x3092;&#x8AAD;&#x3080;" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image_mulesoft_report_gartner_magic_quadrant_leader_api_ipass.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">&#x30AC;&#x30FC;&#x30C8;&#x30CA;&#x30FC;&#x304C; MuleSoft &#x3092;&#x30EA;&#x30FC;&#x30C0;&#x30FC;&#x3068;&#x3057;&#x3066;&#x8A55;&#x4FA1;</span></p>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">&#x30C0;&#x30A6;&#x30F3;&#x30ED;&#x30FC;&#x30C9;&#x3059;&#x308B;</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Solutions"> <span class="main-menu-solutions" data-simple-mega-menu="216">&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header-translated field--name-field-header-translated field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <section class="mega-menu-container-left">
                              <div class="solutions-menu">
                                <nav class="menu"> <span class="menu-label" role="heading">&#x7D71;&#x5408;&#x30E6;&#x30FC;&#x30B9;&#x30B1;&#x30FC;&#x30B9;</span> <a class="solutions-title" href="https://www.mulesoft.com/jp/integration-solutions/saas/salesforce" role="menuitem"> <span class="title">Salesforce</span> <span class="small-intro">Salesforce &#x9023;&#x643A;&#x306B;&#x3088;&#x308A;&#x3001;&#x9032;&#x5316;&#x3057;&#x305F;&#x30A8;&#x30AF;&#x30B9;&#x30DA;&#x30EA;&#x30A8;&#x30F3;&#x30B9;&#x3092;&#x9867;&#x5BA2;&#x3084;&#x5F93;&#x696D;&#x54E1;&#x306B;&#x63D0;&#x4F9B;&#x3057;&#x307E;&#x305B;&#x3093;&#x304B;&#xFF1F;</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/jp/integration-solutions/soa/sap" role="menuitem"> <span class="title">SAP</span> <span class="small-intro">SAP &#x306E;&#x4E2D;&#x306B;&#x7720;&#x3063;&#x3066;&#x3044;&#x308B;&#x30C7;&#x30FC;&#x30BF;&#x3092;&#x958B;&#x653E;&#x3059;&#x308B;&#x3053;&#x3068;&#x3067;&#x3001;&#x65B0;&#x3057;&#x3044;&#x4FA1;&#x5024;&#x3092;&#x751F;&#x307F;&#x51FA;&#x3059;&#x3002;</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/jp/integration-solutions/soa/net-framework-integration" role="menuitem"> <span class="title">Microsoft</span> <span class="small-intro">&#x65E2;&#x5B58;&#x306E;&#x63A5;&#x7D9A;&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x3092;&#x6D3B;&#x7528;&#x3057;&#x3066;&#x3001;Microsoft &#x3078;&#x306E;&#x6295;&#x8CC7;&#x52B9;&#x679C;&#x3092;&#x6700;&#x5927;&#x5316;&#x3059;&#x308B;&#x3002;</span> </a> </nav>
                              </div>
                            </section>
                          </div>
                          <div class="full-right-menu">
                            <section class="mega-menu-container-right">
                              <nav class="menu"> <span class="menu-label" role="heading">&#x696D;&#x7A2E;</span> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/financial-services" role="menuitem">&#x91D1;&#x878D;&#x30B5;&#x30FC;&#x30D3;&#x30B9;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/api/manufacturing-edi-erp" role="menuitem">&#x88FD;&#x9020;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/saas/retail" role="menuitem">&#x5C0F;&#x58F2;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/insurance" role="menuitem">&#x4FDD;&#x967A;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/healthcare" role="menuitem">&#x30D8;&#x30EB;&#x30B9;&#x30B1;&#x30A2;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/digital-media" role="menuitem">&#x901A;&#x4FE1;&#x30FB;&#x30E1;&#x30C7;&#x30A3;&#x30A2;</a> </nav>
                              <nav class="menu"> <span class="menu-label" role="heading">&#x8AB2;&#x984C;</span> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/legacy-system-modernization" role="menuitem">&#x30EC;&#x30AC;&#x30B7;&#x30FC;&#x30B7;&#x30B9;&#x30C6;&#x30E0;&#x306E;&#x30E2;&#x30C0;&#x30CA;&#x30A4;&#x30BC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/saas/move-to-the-cloud" role="menuitem">&#x30AF;&#x30E9;&#x30A6;&#x30C9;&#x3078;&#x306E;&#x79FB;&#x884C;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/api/business-automation" role="menuitem">&#x30D3;&#x30B8;&#x30CD;&#x30B9;&#x30AA;&#x30FC;&#x30C8;&#x30E1;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/api/360-degree-view-customer" role="menuitem">&#x5358;&#x4E00;&#x306E;&#x9867;&#x5BA2;&#x30D3;&#x30E5;&#x30FC;</a> </nav>
                            </section>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="field field--simple-mega-menu-field-translated-footer field--name-field-translated-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/jp/lp/ebook/api/salesforce-integration-customer-360">
                        <div class="featured-left-content square-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="Salesforce &#x306E;&#x30D5;&#x30EB;&#x30D1;&#x30EF;&#x30FC;&#x3092;&#x89E3;&#x653E;&#x3059;&#x308B; API &#x6D3B;&#x7528;&#x8853;" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image_mulesoft_ebook_salesforce_integration_customer_360.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">Salesforce &#x306E;&#x30D5;&#x30EB;&#x30D1;&#x30EF;&#x30FC;&#x3092;&#x89E3;&#x653E;&#x3059;&#x308B; API &#x6D3B;&#x7528;&#x8853;</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content"> Salesforce Customer 360&#x3068;&#x306E;&#x9023;&#x643A;&#x3067;&#x30D3;&#x30B8;&#x30CD;&#x30B9;&#x306E;&#x30C7;&#x30B8;&#x30BF;&#x30EB;&#x5909;&#x9769;&#x3092;&#x5B9F;&#x73FE;</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">eBook&#x3092;&#x8AAD;&#x3080;</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Services"> <span class="main-menu-services" data-simple-mega-menu="246">&#x30B5;&#x30FC;&#x30D3;&#x30B9;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header-translated field--name-field-header-translated field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <section class="mega-menu-container-left">
                              <div class="services-menu">
                                <nav class="menu"> <span class="menu-label" role="heading">&#x6CE8;&#x76EE;&#x306E;&#x30C8;&#x30EC;&#x30FC;&#x30CB;&#x30F3;&#x30B0;</span> <a class="services-title" href="https://training.mulesoft.com/course/getting-started-mule4-japanese" role="menuitem"><span class="title">Anypoint Platform &#x5165;&#x9580;</span><span class="small-intro">&#x57FA;&#x790E;&#x30B3;&#x30FC;&#x30B9;&#xFF1A;&#x516C;&#x958B;&#x3055;&#x308C;&#x305F;API&#x306E;&#x691C;&#x51FA;&#x3068;&#x5229;&#x7528;&#x3001;&#x30C7;&#x30B6;&#x30A4;&#x30F3;&#x3001;&#x30D3;&#x30EB;&#x30C9;&#x3001;&#x30C7;&#x30D7;&#x30ED;&#x30A4;&#x3001;&#x7BA1;&#x7406;&#x3092;&#x5B66;&#x3073;&#x307E;&#x3059;&#x3002;</span></a> <a class="services-title" href="https://training.mulesoft.com/course/architecture-application-networks-japanese" role="menuitem"><span class="title">&#x30A2;&#x30D7;&#x30EA;&#x30B1;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x30CD;&#x30C3;&#x30C8;&#x30EF;&#x30FC;&#x30AF;</span><span class="small-intro">&#x6280;&#x8853;&#x8005;&#x5411;&#x3051;&#x30B3;&#x30FC;&#x30B9;&#xFF1A;&#x6A5F;&#x80FD;&#x8981;&#x4EF6;&#x3068;&#x975E;&#x6A5F;&#x80FD;&#x8981;&#x4EF6;&#x3092;&#x6E80;&#x305F;&#x3059;&#x30A4;&#x30F3;&#x30C6;&#x30B0;&#x30EC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x306E;&#x8A2D;&#x8A08;&#x3092;&#x5B66;&#x3073;&#x307E;&#x3059;&#x3002;</span></a> </nav>
                                <nav class="menu"> <a class="services-title" href="https://training.mulesoft.com/course/architecture-integration-solutions-japanese" role="menuitem"><span class="title">&#x30A4;&#x30F3;&#x30C6;&#x30B0;&#x30EC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</span><span class="small-intro">&#x6280;&#x8853;&#x8005;&#x5411;&#x3051;&#x30B3;&#x30FC;&#x30B9;&#xFF1A;&#x5B9F;&#x969B;&#x306E;&#x4E8B;&#x4F8B;&#x3092;&#x5229;&#x7528;&#x3057;&#x3066;&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x306E;&#x8A2D;&#x8A08;&#x3092;&#x5B66;&#x3073;&#x307E;&#x3059;&#x3002;</span></a> <a class="services-title" href="https://training.mulesoft.com/course/operations-cloudhub-japanese" role="menuitem"><span class="title">CloudHub</span><span class="small-intro">&#x6280;&#x8853;&#x8005;&#xFF0F;&#x7BA1;&#x7406;&#x8005;&#x5411;&#x3051;&#x30B3;&#x30FC;&#x30B9;&#xFF1A;&#x30AF;&#x30E9;&#x30A6;&#x30C9;&#x4E0A;&#x3067; Mule &#x30A2;&#x30D7;&#x30EA;&#x30B1;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x306E;&#x8A2D;&#x5B9A;&#x30FB;&#x30C7;&#x30D7;&#x30ED;&#x30A4;&#x30FB;&#x7BA1;&#x7406;&#x30FB;&#x76E3;&#x8996;&#x30FB;&#x5206;&#x6790;&#x3092;&#x5B66;&#x3073;&#x307E;&#x3059;&#x3002;</span></a> </nav>
                              </div>
                            </section>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="field field--simple-mega-menu-field-translated-footer field--name-field-translated-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://training.mulesoft.com/course/development-fundamentals-mule4-japanese">
                        <div class="featured-left-content large-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="Anypoint Platform&#xFF1A;&#x958B;&#x767A;&#x57FA;&#x790E; (&#x7121;&#x6599;)" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image_mulesoft_course_anypoint_platform_development_fundamentals.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">Anypoint Platform&#xFF1A;&#x958B;&#x767A;&#x57FA;&#x790E; (&#x7121;&#x6599;)</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content"> Anypoint Platform &#x3092;&#x4F7F;&#x3063;&#x3066;&#x3001;API &#x306E;&#x958B;&#x767A;&#x3068;&#x30A4;&#x30F3;&#x30C6;&#x30B0;&#x30EC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x306E;&#x57FA;&#x790E;&#x3092;&#x5B66;&#x3076;&#x305F;&#x3081;&#x306E;&#x30B3;&#x30FC;&#x30B9;</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">&#x7121;&#x6599;&#x3067;&#x53D7;&#x8B1B;&#x3059;&#x308B;</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Resources"> <span class="main-menu-resources" data-simple-mega-menu="221">&#x8CC7;&#x6599;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header-translated field--name-field-header-translated field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header resources">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <section class="mega-menu-container-left">
                              <div class="anypoint-menu">
                                <nav class="menu"> <span class="menu-label">&#x305D;&#x306E;&#x4ED6;&#x306E;&#x60C5;&#x5831;</span> <a class="resources-title" href="https://www.mulesoft.com/jp/case-studies" role="menuitem">&#x304A;&#x5BA2;&#x69D8;&#x4E8B;&#x4F8B;</a> <a class="resources-title" href="https://www.mulesoft.com/jp/integration-resources" role="menuitem">&#x30B3;&#x30F3;&#x30C6;&#x30F3;&#x30C4;&#x30E9;&#x30A4;&#x30D6;&#x30E9;&#x30EA;</a> <a class="resources-title" href="https://videos.mulesoft.com/jp" role="menuitem">&#x52D5;&#x753B;</a> <a class="resources-title" href="https://www.mulesoft.com/jp/resources/articles" role="menuitem">&#x8A18;&#x4E8B;</a> <a class="resources-title" href="https://www.mulesoft.com/jp/press-center" role="menuitem">&#x30D7;&#x30EC;&#x30B9;&#x30BB;&#x30F3;&#x30BF;&#x30FC;</a> <a class="resources-title" href="https://blogs.mulesoft.com/jp/bloghome/" role="menuitem">&#x30D6;&#x30ED;&#x30B0;</a> </nav>
                              </div>
                            </section>
                          </div>
                          <div class="full-right-menu">
                            <section class="mega-menu-container-right">
                              <nav class="menu"> <span class="menu-label">&#x30A4;&#x30D9;&#x30F3;&#x30C8;</span> <a class="resources-title" href="https://videos.mulesoft.com/connect-2022/" role="menuitem">MuleSoft CONNECT</a> <a class="resources-title" href="https://meetups.mulesoft.com/" role="menuitem">MuleSoft Meetup</a> <a class="resources-title" href="https://www.mulesoft.com/jp/events" role="menuitem">&#x305D;&#x306E;&#x4ED6;&#x30A4;&#x30D9;&#x30F3;&#x30C8;</a> </nav>
                            </section>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="field field--simple-mega-menu-field-translated-footer field--name-field-translated-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://events.mulesoft.com/forum22_asia_japan">
                        <div class="featured-left-content large-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="&#x7720;&#x3063;&#x3066;&#x3044;&#x308B;&#x30A4;&#x30CE;&#x30D9;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x3092;&#x958B;&#x653E;&#x3055;&#x305B;&#x308B;&#x3002;" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/forum22-nav-promo-japanese.jpg"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content"> MuleSoft Forum Japan </span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content notranslate"> &#x30AA;&#x30F3;&#x30C7;&#x30DE;&#x30F3;&#x30C9;&#x914D;&#x4FE1;&#x4E2D;<br>Aflac&#x3084;&#x5BCC;&#x58EB;&#x901A;&#x3001;&#x30DD;&#x30EA;&#x30D7;&#x30E9;&#x30B9;&#x30C1;&#x30C3;&#x30AF;&#x30B9;&#x304C;&#x63A8;&#x9032;&#x3057;&#x3066;&#x3044;&#x308B;DX&#x306E;&#x4E8B;&#x4F8B;&#x3092;&#x8996;&#x8074;&#x3057;&#x307E;&#x305B;&#x3093;&#x304B;&#xFF1F;</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">&#x8996;&#x8074;&#x3059;&#x308B;</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-label="JP right menu" id="block-jprightmenu" class="block-jprightmenu">
            <ul class="menu menu--simple-mega-menu" role="menu">
              <li class="menu-item" role="menuitem" aria-label="&#x958B;&#x767A;&#x8005;&#x30EA;&#x30BD;&#x30FC;&#x30B9;"> <span class="notranslate" data-simple-mega-menu="251">&#x958B;&#x767A;&#x8005;&#x30EA;&#x30BD;&#x30FC;&#x30B9;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-simple-flyout view-mode-after">
                    <div class="field field--simple-mega-menu-field-flyout-content field--name-field-flyout-content field--type-text-long field--label-hidden field__item">
                      <nav class="menu"> <a href="https://developer.mulesoft.com/">&#x30B9;&#x30BF;&#x30FC;&#x30C8;&#x30A2;&#x30C3;&#x30D7;&#xFF08;&#x82F1;&#x8A9E;&#xFF09;</a> <a href="https://www.mulesoft.com/community">&#x30B3;&#x30DF;&#x30E5;&#x30CB;&#x30C6;&#x30A3;&#xFF08;&#x82F1;&#x8A9E;&#xFF09;</a> <a href="https://training.mulesoft.com/">&#x30C8;&#x30EC;&#x30FC;&#x30CB;&#x30F3;&#x30B0;&#xFF08;&#x82F1;&#x8A9E;&#xFF09;</a> <a href="https://developer.mulesoft.com/tutorials-and-howtos">&#x30C1;&#x30E5;&#x30FC;&#x30C8;&#x30EA;&#x30A2;&#x30EB;&#xFF08;&#x82F1;&#x8A9E;&#xFF09;</a> <a href="https://docs.mulesoft.com/jp/general/">&#x30C9;&#x30AD;&#x30E5;&#x30E1;&#x30F3;&#x30C8;</a></nav>
                    </div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Partners"> <a href="https://www.mulesoft.com/jp/integration-partner/finder">&#x30D1;&#x30FC;&#x30C8;&#x30CA;&#x30FC;</a></li>
            </ul>
          </nav>
        </div>
        <section class="right-side">
          <ul class="menu menu--simple-mega-menu" role="menu">
            <li class="menu-item flyout-right lang-selector main-menu-language" role="menuitem" aria-label="Language" aria-expanded="false" aria-haspopup="true"> <span class="globe-icon"></span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu language-selector notranslate"> <a href="/" class="english" role="menuitem" data-shortlan="en">English <span class="sub">(Full site)</span></a> <a href="/jp" class="japanese" role="menuitem" data-shortlan="ja">&#x65E5;&#x672C;&#x8A9E;</a> </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu-item flyout-right main-menu-contact" role="menuitem" aria-label="Contact" aria-expanded="false" aria-haspopup="true"> <span class="phone-icon"></span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu"> <span>&#x304A;&#x554F;&#x3044;&#x5408;&#x308F;&#x305B;</span> <a href="https://www.mulesoft.com/jp/contact" role="menuitem">MuleSoft &#x306B;&#x9023;&#x7D61;</a> <a href="https://help.mulesoft.com/" role="menuitem">&#x30B5;&#x30DD;&#x30FC;&#x30C8;&#x3092;&#x4F9D;&#x983C;</a> <a href="https://www.mulesoft.com/jp/global-offices" role="menuitem">&#x30B0;&#x30ED;&#x30FC;&#x30D0;&#x30EB;&#x62E0;&#x70B9;</a> </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu-item flyout-right main-menu-login" role="menuitem" aria-expanded="false" aria-haspopup="true"> <span class="login-icon">&#x30ED;&#x30B0;&#x30A4;&#x30F3;</span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu"> <a href="https://anypoint.mulesoft.com/login/#/signin?apintent=generic" role="menuitem">Anypoint Platform&#xFF08;&#x82F1;&#x8A9E;&#xFF09; <span class="external-link" aria-label="external link"></span></a> <a href="https://help.mulesoft.com/s/login/" role="menuitem">&#x30D8;&#x30EB;&#x30D7;&#x30BB;&#x30F3;&#x30BF;&#x30FC;&#xFF08;&#x82F1;&#x8A9E;&#xFF09; <span class="external-link" aria-label="external link"></span></a> </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="no-children free-trial-btn" role="menuitem"> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" class="button blue-button">&#x7121;&#x6599;&#x30C8;&#x30E9;&#x30A4;&#x30A2;&#x30EB;</a></li>
          </ul>
        </section>
      </div>
    </div>
  </header>
  <header class="ms-com-header mobile-header">
    <div class="mobile-header-top"> <a href="https://www.mulesoft.com/jp/" class="logo" aria-label="Link to MuleSoft homepage"></a>
      <section class="right-side">
        <div class="menu-ham" tabindex="0"> <span></span> <span></span> <span></span></div>
      </section>
    </div>
    <div class="mobile-header-bottom">
      <nav class="mobile-nav">
        <div>
          <nav role="navigation" aria-label="JP main menu" id="block-jpmainmenu" class="block-jpmainmenu">
            <ul class="menu menu--simple-mega-menu" role="menu">
              <li class="menu-item" role="menuitem" aria-label="Product"> <span class="main-menu-product" data-simple-mega-menu="211">&#x88FD;&#x54C1;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header-translated field--name-field-header-translated field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <section class="mega-menu-container-left">
                              <nav class="nav-intro"><span class="menu-label">IT&#x62C5;&#x5F53;&#x8005;&#x5411;&#x3051;</span><a class="nav-main-title" href="https://www.mulesoft.com/jp/platform/enterprise-integration" role="menuitem"><span class="title">Anypoint Platform</span> <span>&#x4E16;&#x754C;No.1&#x306E;&#x7D71;&#x5408;API&#x30D7;&#x30E9;&#x30C3;&#x30C8;&#x30D5;&#x30A9;&#x30FC;&#x30E0;</span></a> </nav>
                              <div class="anypoint-menu">
                                <nav class="menu"><span class="menu-label" role="heading">&#x30A4;&#x30F3;&#x30C6;&#x30B0;&#x30EC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</span> <a href="https://www.mulesoft.com/jp/platform/studio" role="menuitem">Studio</a> <a href="https://www.mulesoft.com/jp/platform/exchange" role="menuitem">Exchange</a> <a href="https://www.mulesoft.com/jp/platform/cloud-connectors" role="menuitem">Connector</a> <a href="https://www.mulesoft.com/jp/platform/anypoint-design-center/datagraph" role="menuitem">DataGraph</a> </nav>
                                <nav class="menu with-flags"><span class="menu-label" role="heading">API&#x7BA1;&#x7406;</span>
                                  <p class="item-with-flag"><a href="https://www.mulesoft.com/jp/platform/api/flex-api-gateway" role="menuitem">Flex Gateway</a><span class="inline-post-flag magenta">&#x65B0;&#x7740;&#x60C5;&#x5831;</span></p>
                                  <p class="item-with-flag"><a href="https://www.mulesoft.com/jp/platform/api/governance-anypoint" role="menuitem">Governance</a><span class="inline-post-flag magenta">&#x65B0;&#x7740;&#x60C5;&#x5831;</span></p> <a href="https://www.mulesoft.com/jp/platform/api/monitoring-anypoint" role="menuitem">Monitoring</a> <a href="https://www.mulesoft.com/jp/platform/api/manager" role="menuitem">API Manager</a>
                                </nav> <a class="see-all-link" href="https://www.mulesoft.com/jp/platform/anypoint-platform-features" role="menuitem" rel="nofollow">See all</a>
                              </div>
                            </section>
                            <section class="try-free">
                              <nav class="menu"> <span class="menu-label" role="heading">&#x7121;&#x6599;&#x30C8;&#x30E9;&#x30A4;&#x30A2;&#x30EB;</span> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" role="menuitem">Anypoint Platform&#x306E;&#x7121;&#x6599;&#x30C8;&#x30E9;&#x30A4;&#x30A2;&#x30EB;&#x304A;&#x7533;&#x8FBC;&#x307F;</a> <a href="https://www.mulesoft.com/lp/dl/anypoint-mule-studio" role="menuitem">Studio &amp; Mule&#x306E;&#x30C0;&#x30A6;&#x30F3;&#x30ED;&#x30FC;&#x30C9;</a> </nav>
                            </section>
                          </div>
                          <div class="full-right-menu">
                            <section class="mega-menu-container-right">
                              <nav class="nav-intro with-flags"> <span class="menu-label">&#x30D3;&#x30B8;&#x30CD;&#x30B9;&#x62C5;&#x5F53;&#x8005;&#x5411;&#x3051;</span> <a class="nav-main-title no-translate" href="https://www.mulesoft.com/jp/platform/composer" role="menuitem"> <span class="title">MuleSoft Composer</span> <span>&#x30C7;&#x30FC;&#x30BF;&#x3084;&#x30A2;&#x30D7;&#x30EA;&#x3068;&#x7C21;&#x5358;&#x306B;&#x63A5;&#x7D9A;</span> </a> <a class="nav-main-title item-with-flag reverse" href="https://www.mulesoft.com/jp/platform/rpa" role="menuitem"> <span class="title">MuleSoft RPA</span> <span>Bot&#x3067;&#x696D;&#x52D9;&#x3092;&#x81EA;&#x52D5;&#x5316;</span> </a> </nav>
                            </section>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="field field--simple-mega-menu-field-translated-footer field--name-field-translated-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/jp/lp/reports/gartner-magic-quadrant-leader">
                        <div class="featured-left-content square-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="&#x30AC;&#x30FC;&#x30C8;&#x30CA;&#x30FC;&#x30DE;&#x30B8;&#x30C3;&#x30AF;&#x30FB;&#x30AF;&#x30A2;&#x30C9;&#x30E9;&#x30F3;&#x30C8;&#x30EC;&#x30DD;&#x30FC;&#x30C8;&#x3092;&#x8AAD;&#x3080;" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image_mulesoft_report_gartner_magic_quadrant_leader_api_ipass.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">&#x30AC;&#x30FC;&#x30C8;&#x30CA;&#x30FC;&#x304C; MuleSoft &#x3092;&#x30EA;&#x30FC;&#x30C0;&#x30FC;&#x3068;&#x3057;&#x3066;&#x8A55;&#x4FA1;</span></p>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">&#x30C0;&#x30A6;&#x30F3;&#x30ED;&#x30FC;&#x30C9;&#x3059;&#x308B;</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Solutions"> <span class="main-menu-solutions" data-simple-mega-menu="216">&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header-translated field--name-field-header-translated field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <section class="mega-menu-container-left">
                              <div class="solutions-menu">
                                <nav class="menu"> <span class="menu-label" role="heading">&#x7D71;&#x5408;&#x30E6;&#x30FC;&#x30B9;&#x30B1;&#x30FC;&#x30B9;</span> <a class="solutions-title" href="https://www.mulesoft.com/jp/integration-solutions/saas/salesforce" role="menuitem"> <span class="title">Salesforce</span> <span class="small-intro">Salesforce &#x9023;&#x643A;&#x306B;&#x3088;&#x308A;&#x3001;&#x9032;&#x5316;&#x3057;&#x305F;&#x30A8;&#x30AF;&#x30B9;&#x30DA;&#x30EA;&#x30A8;&#x30F3;&#x30B9;&#x3092;&#x9867;&#x5BA2;&#x3084;&#x5F93;&#x696D;&#x54E1;&#x306B;&#x63D0;&#x4F9B;&#x3057;&#x307E;&#x305B;&#x3093;&#x304B;&#xFF1F;</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/jp/integration-solutions/soa/sap" role="menuitem"> <span class="title">SAP</span> <span class="small-intro">SAP &#x306E;&#x4E2D;&#x306B;&#x7720;&#x3063;&#x3066;&#x3044;&#x308B;&#x30C7;&#x30FC;&#x30BF;&#x3092;&#x958B;&#x653E;&#x3059;&#x308B;&#x3053;&#x3068;&#x3067;&#x3001;&#x65B0;&#x3057;&#x3044;&#x4FA1;&#x5024;&#x3092;&#x751F;&#x307F;&#x51FA;&#x3059;&#x3002;</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/jp/integration-solutions/soa/net-framework-integration" role="menuitem"> <span class="title">Microsoft</span> <span class="small-intro">&#x65E2;&#x5B58;&#x306E;&#x63A5;&#x7D9A;&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x3092;&#x6D3B;&#x7528;&#x3057;&#x3066;&#x3001;Microsoft &#x3078;&#x306E;&#x6295;&#x8CC7;&#x52B9;&#x679C;&#x3092;&#x6700;&#x5927;&#x5316;&#x3059;&#x308B;&#x3002;</span> </a> </nav>
                              </div>
                            </section>
                          </div>
                          <div class="full-right-menu">
                            <section class="mega-menu-container-right">
                              <nav class="menu"> <span class="menu-label" role="heading">&#x696D;&#x7A2E;</span> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/financial-services" role="menuitem">&#x91D1;&#x878D;&#x30B5;&#x30FC;&#x30D3;&#x30B9;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/api/manufacturing-edi-erp" role="menuitem">&#x88FD;&#x9020;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/saas/retail" role="menuitem">&#x5C0F;&#x58F2;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/insurance" role="menuitem">&#x4FDD;&#x967A;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/healthcare" role="menuitem">&#x30D8;&#x30EB;&#x30B9;&#x30B1;&#x30A2;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/digital-media" role="menuitem">&#x901A;&#x4FE1;&#x30FB;&#x30E1;&#x30C7;&#x30A3;&#x30A2;</a> </nav>
                              <nav class="menu"> <span class="menu-label" role="heading">&#x8AB2;&#x984C;</span> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/legacy-system-modernization" role="menuitem">&#x30EC;&#x30AC;&#x30B7;&#x30FC;&#x30B7;&#x30B9;&#x30C6;&#x30E0;&#x306E;&#x30E2;&#x30C0;&#x30CA;&#x30A4;&#x30BC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/saas/move-to-the-cloud" role="menuitem">&#x30AF;&#x30E9;&#x30A6;&#x30C9;&#x3078;&#x306E;&#x79FB;&#x884C;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/api/business-automation" role="menuitem">&#x30D3;&#x30B8;&#x30CD;&#x30B9;&#x30AA;&#x30FC;&#x30C8;&#x30E1;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</a> <a href="https://www.mulesoft.com/jp/integration-solutions/api/360-degree-view-customer" role="menuitem">&#x5358;&#x4E00;&#x306E;&#x9867;&#x5BA2;&#x30D3;&#x30E5;&#x30FC;</a> </nav>
                            </section>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="field field--simple-mega-menu-field-translated-footer field--name-field-translated-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/jp/lp/ebook/api/salesforce-integration-customer-360">
                        <div class="featured-left-content square-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="Salesforce &#x306E;&#x30D5;&#x30EB;&#x30D1;&#x30EF;&#x30FC;&#x3092;&#x89E3;&#x653E;&#x3059;&#x308B; API &#x6D3B;&#x7528;&#x8853;" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image_mulesoft_ebook_salesforce_integration_customer_360.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">Salesforce &#x306E;&#x30D5;&#x30EB;&#x30D1;&#x30EF;&#x30FC;&#x3092;&#x89E3;&#x653E;&#x3059;&#x308B; API &#x6D3B;&#x7528;&#x8853;</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content"> Salesforce Customer 360&#x3068;&#x306E;&#x9023;&#x643A;&#x3067;&#x30D3;&#x30B8;&#x30CD;&#x30B9;&#x306E;&#x30C7;&#x30B8;&#x30BF;&#x30EB;&#x5909;&#x9769;&#x3092;&#x5B9F;&#x73FE;</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">eBook&#x3092;&#x8AAD;&#x3080;</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Services"> <span class="main-menu-services" data-simple-mega-menu="246">&#x30B5;&#x30FC;&#x30D3;&#x30B9;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header-translated field--name-field-header-translated field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <section class="mega-menu-container-left">
                              <div class="services-menu">
                                <nav class="menu"> <span class="menu-label" role="heading">&#x6CE8;&#x76EE;&#x306E;&#x30C8;&#x30EC;&#x30FC;&#x30CB;&#x30F3;&#x30B0;</span> <a class="services-title" href="https://training.mulesoft.com/course/getting-started-mule4-japanese" role="menuitem"><span class="title">Anypoint Platform &#x5165;&#x9580;</span><span class="small-intro">&#x57FA;&#x790E;&#x30B3;&#x30FC;&#x30B9;&#xFF1A;&#x516C;&#x958B;&#x3055;&#x308C;&#x305F;API&#x306E;&#x691C;&#x51FA;&#x3068;&#x5229;&#x7528;&#x3001;&#x30C7;&#x30B6;&#x30A4;&#x30F3;&#x3001;&#x30D3;&#x30EB;&#x30C9;&#x3001;&#x30C7;&#x30D7;&#x30ED;&#x30A4;&#x3001;&#x7BA1;&#x7406;&#x3092;&#x5B66;&#x3073;&#x307E;&#x3059;&#x3002;</span></a> <a class="services-title" href="https://training.mulesoft.com/course/architecture-application-networks-japanese" role="menuitem"><span class="title">&#x30A2;&#x30D7;&#x30EA;&#x30B1;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x30CD;&#x30C3;&#x30C8;&#x30EF;&#x30FC;&#x30AF;</span><span class="small-intro">&#x6280;&#x8853;&#x8005;&#x5411;&#x3051;&#x30B3;&#x30FC;&#x30B9;&#xFF1A;&#x6A5F;&#x80FD;&#x8981;&#x4EF6;&#x3068;&#x975E;&#x6A5F;&#x80FD;&#x8981;&#x4EF6;&#x3092;&#x6E80;&#x305F;&#x3059;&#x30A4;&#x30F3;&#x30C6;&#x30B0;&#x30EC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x306E;&#x8A2D;&#x8A08;&#x3092;&#x5B66;&#x3073;&#x307E;&#x3059;&#x3002;</span></a> </nav>
                                <nav class="menu"> <a class="services-title" href="https://training.mulesoft.com/course/architecture-integration-solutions-japanese" role="menuitem"><span class="title">&#x30A4;&#x30F3;&#x30C6;&#x30B0;&#x30EC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</span><span class="small-intro">&#x6280;&#x8853;&#x8005;&#x5411;&#x3051;&#x30B3;&#x30FC;&#x30B9;&#xFF1A;&#x5B9F;&#x969B;&#x306E;&#x4E8B;&#x4F8B;&#x3092;&#x5229;&#x7528;&#x3057;&#x3066;&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x306E;&#x8A2D;&#x8A08;&#x3092;&#x5B66;&#x3073;&#x307E;&#x3059;&#x3002;</span></a> <a class="services-title" href="https://training.mulesoft.com/course/operations-cloudhub-japanese" role="menuitem"><span class="title">CloudHub</span><span class="small-intro">&#x6280;&#x8853;&#x8005;&#xFF0F;&#x7BA1;&#x7406;&#x8005;&#x5411;&#x3051;&#x30B3;&#x30FC;&#x30B9;&#xFF1A;&#x30AF;&#x30E9;&#x30A6;&#x30C9;&#x4E0A;&#x3067; Mule &#x30A2;&#x30D7;&#x30EA;&#x30B1;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x306E;&#x8A2D;&#x5B9A;&#x30FB;&#x30C7;&#x30D7;&#x30ED;&#x30A4;&#x30FB;&#x7BA1;&#x7406;&#x30FB;&#x76E3;&#x8996;&#x30FB;&#x5206;&#x6790;&#x3092;&#x5B66;&#x3073;&#x307E;&#x3059;&#x3002;</span></a> </nav>
                              </div>
                            </section>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="field field--simple-mega-menu-field-translated-footer field--name-field-translated-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://training.mulesoft.com/course/development-fundamentals-mule4-japanese">
                        <div class="featured-left-content large-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="Anypoint Platform&#xFF1A;&#x958B;&#x767A;&#x57FA;&#x790E; (&#x7121;&#x6599;)" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image_mulesoft_course_anypoint_platform_development_fundamentals.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">Anypoint Platform&#xFF1A;&#x958B;&#x767A;&#x57FA;&#x790E; (&#x7121;&#x6599;)</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content"> Anypoint Platform &#x3092;&#x4F7F;&#x3063;&#x3066;&#x3001;API &#x306E;&#x958B;&#x767A;&#x3068;&#x30A4;&#x30F3;&#x30C6;&#x30B0;&#x30EC;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x306E;&#x57FA;&#x790E;&#x3092;&#x5B66;&#x3076;&#x305F;&#x3081;&#x306E;&#x30B3;&#x30FC;&#x30B9;</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">&#x7121;&#x6599;&#x3067;&#x53D7;&#x8B1B;&#x3059;&#x308B;</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Resources"> <span class="main-menu-resources" data-simple-mega-menu="221">&#x8CC7;&#x6599;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header-translated field--name-field-header-translated field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header resources">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <section class="mega-menu-container-left">
                              <div class="anypoint-menu">
                                <nav class="menu"> <span class="menu-label">&#x305D;&#x306E;&#x4ED6;&#x306E;&#x60C5;&#x5831;</span> <a class="resources-title" href="https://www.mulesoft.com/jp/case-studies" role="menuitem">&#x304A;&#x5BA2;&#x69D8;&#x4E8B;&#x4F8B;</a> <a class="resources-title" href="https://www.mulesoft.com/jp/integration-resources" role="menuitem">&#x30B3;&#x30F3;&#x30C6;&#x30F3;&#x30C4;&#x30E9;&#x30A4;&#x30D6;&#x30E9;&#x30EA;</a> <a class="resources-title" href="https://videos.mulesoft.com/jp" role="menuitem">&#x52D5;&#x753B;</a> <a class="resources-title" href="https://www.mulesoft.com/jp/resources/articles" role="menuitem">&#x8A18;&#x4E8B;</a> <a class="resources-title" href="https://www.mulesoft.com/jp/press-center" role="menuitem">&#x30D7;&#x30EC;&#x30B9;&#x30BB;&#x30F3;&#x30BF;&#x30FC;</a> <a class="resources-title" href="https://blogs.mulesoft.com/jp/bloghome/" role="menuitem">&#x30D6;&#x30ED;&#x30B0;</a> </nav>
                              </div>
                            </section>
                          </div>
                          <div class="full-right-menu">
                            <section class="mega-menu-container-right">
                              <nav class="menu"> <span class="menu-label">&#x30A4;&#x30D9;&#x30F3;&#x30C8;</span> <a class="resources-title" href="https://videos.mulesoft.com/connect-2022/" role="menuitem">MuleSoft CONNECT</a> <a class="resources-title" href="https://meetups.mulesoft.com/" role="menuitem">MuleSoft Meetup</a> <a class="resources-title" href="https://www.mulesoft.com/jp/events" role="menuitem">&#x305D;&#x306E;&#x4ED6;&#x30A4;&#x30D9;&#x30F3;&#x30C8;</a> </nav>
                            </section>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="field field--simple-mega-menu-field-translated-footer field--name-field-translated-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://events.mulesoft.com/forum22_asia_japan">
                        <div class="featured-left-content large-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="&#x7720;&#x3063;&#x3066;&#x3044;&#x308B;&#x30A4;&#x30CE;&#x30D9;&#x30FC;&#x30B7;&#x30E7;&#x30F3;&#x3092;&#x958B;&#x653E;&#x3055;&#x305B;&#x308B;&#x3002;" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/forum22-nav-promo-japanese.jpg"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content"> MuleSoft Forum Japan </span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content notranslate"> &#x30AA;&#x30F3;&#x30C7;&#x30DE;&#x30F3;&#x30C9;&#x914D;&#x4FE1;&#x4E2D;<br>Aflac&#x3084;&#x5BCC;&#x58EB;&#x901A;&#x3001;&#x30DD;&#x30EA;&#x30D7;&#x30E9;&#x30B9;&#x30C1;&#x30C3;&#x30AF;&#x30B9;&#x304C;&#x63A8;&#x9032;&#x3057;&#x3066;&#x3044;&#x308B;DX&#x306E;&#x4E8B;&#x4F8B;&#x3092;&#x8996;&#x8074;&#x3057;&#x307E;&#x305B;&#x3093;&#x304B;&#xFF1F;</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">&#x8996;&#x8074;&#x3059;&#x308B;</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-label="JP right menu" id="block-jprightmenu" class="block-jprightmenu">
            <ul class="menu menu--simple-mega-menu" role="menu">
              <li class="menu-item" role="menuitem" aria-label="&#x958B;&#x767A;&#x8005;&#x30EA;&#x30BD;&#x30FC;&#x30B9;"> <span class="notranslate" data-simple-mega-menu="251">&#x958B;&#x767A;&#x8005;&#x30EA;&#x30BD;&#x30FC;&#x30B9;</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-simple-flyout view-mode-after">
                    <div class="field field--simple-mega-menu-field-flyout-content field--name-field-flyout-content field--type-text-long field--label-hidden field__item">
                      <nav class="menu"> <a href="https://developer.mulesoft.com/">&#x30B9;&#x30BF;&#x30FC;&#x30C8;&#x30A2;&#x30C3;&#x30D7;&#xFF08;&#x82F1;&#x8A9E;&#xFF09;</a> <a href="https://www.mulesoft.com/community">&#x30B3;&#x30DF;&#x30E5;&#x30CB;&#x30C6;&#x30A3;&#xFF08;&#x82F1;&#x8A9E;&#xFF09;</a> <a href="https://training.mulesoft.com/">&#x30C8;&#x30EC;&#x30FC;&#x30CB;&#x30F3;&#x30B0;&#xFF08;&#x82F1;&#x8A9E;&#xFF09;</a> <a href="https://developer.mulesoft.com/tutorials-and-howtos">&#x30C1;&#x30E5;&#x30FC;&#x30C8;&#x30EA;&#x30A2;&#x30EB;&#xFF08;&#x82F1;&#x8A9E;&#xFF09;</a> <a href="https://docs.mulesoft.com/jp/general/">&#x30C9;&#x30AD;&#x30E5;&#x30E1;&#x30F3;&#x30C8;</a></nav>
                    </div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Partners"> <a href="https://www.mulesoft.com/jp/integration-partner/finder">&#x30D1;&#x30FC;&#x30C8;&#x30CA;&#x30FC;</a></li>
            </ul>
          </nav>
        </div>
        <nav class="mobile-lang-selector">
          <ul class="menu" role="menu">
            <li class="menu-item main-menu-language" role="menuitem" aria-expanded="false" aria-haspopup="true"> <span class="mobile-login">&#x8868;&#x793A;&#x8A00;&#x8A9E;</span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu language-selector-mobile notranslate"> <a href="/" class="english" data-shortlan="en" role="menuitem">English <span class="sub">(Full site)</span></a> <a href="/jp" class="japanese" data-shortlan="ja" role="menuitem">&#x65E5;&#x672C;&#x8A9E;</a> </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu-item" role="menuitem" aria-expanded="false" aria-haspopup="true"> <span class="mobile-contact">&#x304A;&#x554F;&#x3044;&#x5408;&#x308F;&#x305B;</span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu"> <span>&#x304A;&#x554F;&#x3044;&#x5408;&#x308F;&#x305B;</span> <a href="https://www.mulesoft.com/jp/contact" role="menuitem">MuleSoft &#x306B;&#x9023;&#x7D61;</a> <a href="https://help.mulesoft.com/" role="menuitem">&#x30B5;&#x30DD;&#x30FC;&#x30C8;&#x3092;&#x4F9D;&#x983C;</a> <a href="https://www.mulesoft.com/jp/global-offices" role="menuitem">&#x30B0;&#x30ED;&#x30FC;&#x30D0;&#x30EB;&#x62E0;&#x70B9;</a> </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu-item main-menu-login" role="menuitem" aria-expanded="false" aria-haspopup="true"> <span class="mobile-login">&#x30ED;&#x30B0;&#x30A4;&#x30F3;</span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu"> <a href="https://anypoint.mulesoft.com/login/#/signin?apintent=generic" role="menuitem">Anypoint Platform&#xFF08;&#x82F1;&#x8A9E;&#xFF09; <span class="external-link" aria-label="external link"></span></a> <a href="https://help.mulesoft.com/s/login/" role="menuitem">&#x30D8;&#x30EB;&#x30D7;&#x30BB;&#x30F3;&#x30BF;&#x30FC;&#xFF08;&#x82F1;&#x8A9E;&#xFF09; <span class="external-link" aria-label="external link"></span></a> </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic">&#x7121;&#x6599;&#x30C8;&#x30E9;&#x30A4;&#x30A2;&#x30EB;</a>
      </nav>
    </div>
  </header>
</div>