<div data-nav-version="1.0.0" class="ms-com-content ms-com-content-header br-nav updated-contact-pages new-nav no-helmet no-selector">
  <div></div>
  <header class="ms-com-header desktop-header">
    <div class="header-overlay"></div>
    <div class="header-wrapper">
      <div class="header-inside"> <a href="https://www.mulesoft.com" class="logo" aria-label="Link to MuleSoft homepage"></a>
        <div>
          <nav role="navigation" aria-label="Main" id="block-mainnavigation" class="block-mainnavigation">
            <ul class="menu menu--simple-mega-menu" role="menu">
              <li class="menu-item" role="menuitem" aria-label="Products"> <span target="_self" class="main-menu-product" data-simple-mega-menu="166">Products</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <div class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <div class="mega-menu-container-left">
                              <nav class="nav-intro"><span class="menu-label">For IT Teams</span><a class="nav-main-title" href="https://www.mulesoft.com/platform/enterprise-integration" role="menuitem"><span class="title">Anypoint Platform</span> <span>World&#x2019;s #1 integration and API platform</span></a> </nav>
                              <div class="anypoint-menu">
                                <nav class="menu"><span class="menu-label" role="heading">Integration</span> <a href="https://www.mulesoft.com/platform/api/anypoint-code-builder" role="menuitem">Code Builder</a> <a href="https://www.mulesoft.com/platform/exchange" role="menuitem">Exchange</a> <a href="https://www.mulesoft.com/platform/cloud-connectors" role="menuitem">Connectors</a> <a href="https://www.mulesoft.com/platform/ai/model-context-protocol" role="menuitem">MCP Support</a></nav>
                                <nav class="menu"><span class="menu-label" role="heading">API management</span> <a href="https://www.mulesoft.com/platform/api/flex-api-gateway" role="menuitem">Flex Gateway</a> <a href="https://www.mulesoft.com/platform/api/governance-anypoint" role="menuitem">API Governance</a> <a href="https://www.mulesoft.com/platform/api/monitoring-anypoint" role="menuitem">Monitoring</a> <a href="https://www.mulesoft.com/platform/api/manager" role="menuitem">API Manager</a> </nav> <a class="see-all-link" href="https://www.mulesoft.com/platform/anypoint-platform-features" role="menuitem">See all</a>
                              </div>
                            </div>
                            <div class="try-free">
                              <nav class="menu"><span class="menu-label" role="heading">Try for free</span> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" role="menuitem" target="_blank">Sign up to Anypoint Platform<span class="external-link" aria-label="external link"></span></a> <a href="https://www.mulesoft.com/lp/dl/anypoint-mule-studio" role="menuitem">Download Anypoint Code Builder, Studio, Mule</a></nav>
                            </div>
                          </div>
                          <div class="full-right-menu">
                            <div class="mega-menu-container-right">
                              <nav class="nav-intro with-flags"><span class="menu-label">For Business Teams</span> <a class="nav-main-title" href="https://www.mulesoft.com/platform/flow-integration" role="menuitem"><span class="title">MuleSoft for Flow: Integration</span> <span>Point to point integration with clicks, not code</span></a> <a class="nav-main-title" href="https://www.mulesoft.com/platform/intelligent-document-processing" role="menuitem"> <span class="title">MuleSoft IDP</span> <span>Extract unstructured data from documents with AI</span></a> <a class="nav-main-title" href="https://www.mulesoft.com/platform/rpa" role="menuitem"> <span class="title">MuleSoft RPA</span> <span>Automate tasks with bots</span></a> <a class="nav-main-title" href="https://dataloader.io/" target="_blank" role="menuitem"> <span class="title">Dataloader.io</span> <span>Securely import and export unlimited Salesforce data</span></a> </nav>
                              <nav class="nav-intro with-flags"><span class="menu-label">For AI</span> <a class="nav-main-title" href="https://www.mulesoft.com/platform/agentforce" role="menuitem"><span class="title">MuleSoft for Agentforce</span> <span>Power Agentforce with APIs and actions</span></a> <a class="nav-main-title" href="https://www.mulesoft.com/ai/einstein-for-mulesoft" role="menuitem"> <span class="title">Einstein for MuleSoft</span> <span>Build integrations and automations faster using natural language</span></a> <a class="nav-main-title" href="https://www.mulesoft.com/platform/ai" role="menuitem"> <span class="title">MuleSoft for AI</span> <span>Connect data and automate workflows with AI</span></a> </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field field--simple-mega-menu-field-footer field--name-field-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/platform/ai/model-context-protocol">
                        <div class="featured-left-content square-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="A graphic of MuleSoft MCP Support" loading="lazy" src="https://mulesoftd8.www.msit.io/sites/default/files/cmm_files/hero_image--3-.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">MuleSoft MCP Support is now available</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content"> Learn how to transform your APIs to agent ready assets in minutes.</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">Learn more</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Solutions"> <span target="_self" class="main-menu-solutions" data-simple-mega-menu="171">Solutions</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <div class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <div class="mega-menu-container-left">
                              <div class="solutions-menu">
                                <nav class="menu"> <span class="menu-label" role="heading">Featured Solutions</span> <a class="solutions-title" href="https://www.mulesoft.com/api/management" role="menuitem"> <span class="title">API Management</span> <span class="small-intro">Manage and secure any API, built and deployed anywhere</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/integration" role="menuitem"> <span class="title">Integration</span> <span class="small-intro">Connect any system, data, or API to integrate at scale</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/automation" role="menuitem"> <span class="title">Automation</span> <span class="small-intro">Automate processes and tasks for every team</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/platform/ai" role="menuitem"> <span class="title">MuleSoft AI</span> <span class="small-intro">Connect data and automate workflows with AI</span> </a> </nav>
                                <nav class="menu"> <span class="menu-label" role="heading">Featured Integration</span> <a class="solutions-title" href="https://www.mulesoft.com/integration/salesforce" role="menuitem"> <span class="title">Salesforce</span> <span class="small-intro">Power connected experiences with Salesforce integration</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/integration/sap" role="menuitem"> <span class="title">SAP</span> <span class="small-intro">Unlock SAP and connect your IT landscape</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/integration-solutions/soa/aws" role="menuitem"> <span class="title">AWS</span> <span class="small-intro">Get the most out of AWS with integration and APIs</span> </a> <a class="solutions-title" href="http://www.mulesoft.com/small-business" role="menuitem"> <span class="title">Small business</span> <span class="small-intro">Unlock AI-powered success for your small business</span> </a> </nav>
                              </div>
                            </div>
                          </div>
                          <div class="full-right-menu">
                            <div class="mega-menu-container-right">
                              <nav class="menu"> <span class="menu-label" role="heading">By Industry</span> <a href="https://www.mulesoft.com/integration-solutions/soa/financial-services" role="menuitem">Financial services</a> <a href="https://www.mulesoft.com/integration-solutions/soa/government" role="menuitem">Government</a> <a href="https://www.mulesoft.com/integration-solutions/soa/healthcare" role="menuitem">Healthcare and life sciences</a> <a href="https://www.mulesoft.com/integration-solutions/soa/higher-education" role="menuitem">Higher education</a> <a href="https://www.mulesoft.com/integration-solutions/soa/insurance" role="menuitem">Insurance</a> <a href="https://www.mulesoft.com/integration-solutions/api/manufacturing-edi-erp" role="menuitem">Manufacturing</a> <a href="https://www.mulesoft.com/integration-solutions/soa/digital-media" role="menuitem">Media and telecom</a> <a href="https://www.mulesoft.com/integration-solutions/saas/retail" role="menuitem">Retail</a> <a href="https://www.mulesoft.com/integration-solutions/soa/consumer-goods" role="menuitem">Consumer goods</a> </nav>
                              <nav class="menu"> <span class="menu-label" role="heading">By Initiative</span> <a href="https://www.mulesoft.com/integration/b2b-edi-platform" role="menuitem">B2B EDI integration</a> <a href="https://www.mulesoft.com/integration-solutions/api/devops" role="menuitem">DevOps</a> <a href="https://www.mulesoft.com/integration-solutions/api/ecommerce" role="menuitem">eCommerce</a> <a href="https://www.mulesoft.com/event-driven-architecture" role="menuitem">Event-Driven Architecture</a> <a href="https://www.mulesoft.com/integration-solutions/api/ipaas" role="menuitem">iPaaS</a> <a href="https://www.mulesoft.com/legacy-system-modernization/legacy-system-modernization-solution" role="menuitem">Legacy system modernization</a> <a href="https://www.mulesoft.com/api/microservices" role="menuitem">Microservices</a> <a href="https://www.mulesoft.com/integration/move-to-the-cloud" role="menuitem">Move to the cloud</a> <a href="https://www.mulesoft.com/integration-solutions/api/omnichannel" role="menuitem">Omnichannel</a> <a href="https://www.mulesoft.com/integration-solutions/api/saas" role="menuitem">SaaS integration</a> <a href="https://www.mulesoft.com/integration-solutions/api/360-degree-view-customer" role="menuitem">Single view of customer</a> </nav>
                              <div class="see-all-wrapper"> <a class="see-all-link" href="https://www.mulesoft.com/integration-solutions" role="menuitem">See all solutions</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field field--simple-mega-menu-field-footer field--name-field-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/lp/ebook/api/salesforce-integration-customer-360">
                        <div class="featured-left-content square-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="An image of the ebook cover: Create Connected Experiences with MuleSoft + AI" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image-mulesoft-solutions-create-connected-experiences-with-ai.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">Create connected experiences with AI</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content"> Learn the critical steps to developing an AI strategy and foundation.</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">Read more</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Services"> <span target="_self" class="main-menu-services" data-simple-mega-menu="176">Services</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <div class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <div class="mega-menu-container-left">
                              <div class="services-menu">
                                <nav class="menu"> <span class="menu-label" role="heading">Training</span> <a class="services-title" href="https://trailheadacademy.salesforce.com/products/mulesoft#f-products=Mulesoft" target="&#x201D;_blank&#x201D;" role="menuitem">Courses</a> <a class="services-title" href="https://trailheadacademy.salesforce.com/products/mulesoft#f-products=MuleSoft&#x201D;%20target=&#x201D;_blank&#x201D;%20role=" menuitem>Certifications</a> <a class="services-title" href="https://trailhead.salesforce.com/help?article=Salesforce-Learning-Credits-FAQ-and-Redemption-Process" target="&#x201D;_blank&#x201D;" role="menuitem">Training credits</a> </nav>
                                <nav class="menu"> <span class="menu-label" role="heading">Customer success</span> <a class="services-title" href="https://www.mulesoft.com/support-and-services/consulting" role="menuitem">MuleSoft Catalyst</a> <a class="services-title" href="https://www.mulesoft.com/support-and-services/mobilize-consulting-solutions" role="menuitem">Business Value Services</a> </nav>
                                <nav class="menu"> <span class="menu-label" role="heading">Support</span> <a class="services-title" href="https://help.mulesoft.com/s/" role="menuitem">Help Center</a> <a class="services-title" href="https://www.mulesoft.com/community" role="menuitem">Community Forums</a> <a class="services-title" href="https://help.mulesoft.com/s/resources" role="menuitem">Resources</a> </nav>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field field--simple-mega-menu-field-footer field--name-field-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/lp/whitepaper/3-predictions-future-of-connected-ai-agents">
                        <div class="featured-left-content large-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="An image of the ebook cover: 3 Predictions for the Future of Connected AI Agents" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image-mulesoft-services-future-of-connected-ai-agents.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">Future of connected AI agents</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content">Discover how to prepare for the future of autonomous AI agents.</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">Read more</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Resources"> <span target="_self" class="main-menu-resources" data-simple-mega-menu="181">Resources</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <div class="mega-menu-item-header resources">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <div class="mega-menu-container-left">
                              <div class="anypoint-menu">
                                <nav class="menu"> <span class="menu-label">Featured Resources</span> <a class="resources-title" href="https://www.mulesoft.com/case-studies" role="menuitem">Customer stories</a> <a class="resources-title" href="https://www.salesforce.com/news/products/mulesoft/" target="_blank" role="menuitem">Newsroom</a> <a class="resources-title" href="https://www.linkedin.com/newsletters/technically-speaking-7140068811264651264/" target="_blank" role="menuitem">Newsletter sign-up</a> </nav>
                              </div>
                              <nav class="menu"> <span class="menu-label" role="heading">Explore</span> <a class="resources-title" href="https://www.mulesoft.com/webinars" role="menuitem">Webinars</a> <a class="resources-title" href="https://www.mulesoft.com/integration-resources?type%5B0%5D=demo" role="menuitem">Demos</a> <a class="resources-title" href="https://videos.mulesoft.com/" role="menuitem">Videos</a> <a class="resources-title" href="https://www.mulesoft.com/reports" role="menuitem">Analyst reports</a> <a class="resources-title" href="https://www.mulesoft.com/ebook" role="menuitem">eBooks</a> <a class="resources-title" href="https://www.mulesoft.com/whitepaper/integration-use-cases" role="menuitem">Whitepapers</a> <a class="resources-title" href="https://www.mulesoft.com/infographics" role="menuitem">Infographics</a> <a class="resources-title" href="https://www.mulesoft.com/resources/articles" role="menuitem">Articles</a> <a class="resources-title" href="https://blogs.mulesoft.com/bloghome/" role="menuitem">Blog</a> <a class="resources-title" href="https://www.mulesoft.com/api-university/what-are-apis-and-how-do-they-work" role="menuitem">API University</a> </nav>
                            </div>
                            <div class="see-all-wrapper"> <a class="see-all-link" href="https://www.mulesoft.com/integration-resources">See all resources</a></div>
                          </div>
                          <div class="full-right-menu">
                            <div class="mega-menu-container-right">
                              <nav class="menu"> <span class="menu-label">Events</span> <a class="resources-title" href="https://mulesoft.com/connect-ai" role="menuitem">MuleSoft Connect:AI</a> <a class="resources-title" href="https://www.mulesoft.com/dreamforce" role="menuitem">MuleSoft at Dreamforce</a> <a class="resources-title" href="https://www.salesforce.com/trailblazerdx" target="_blank" role="menuitem">MuleSoft at TrailblazerDX</a> <a class="resources-title" href="https://meetups.mulesoft.com/" role="menuitem">Community Meetups</a> <a class="resources-title" href="https://www.mulesoft.com/events" role="menuitem">All events</a> </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field field--simple-mega-menu-field-footer field--name-field-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/connect-ai">
                        <div class="featured-left-content large-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="A graphic showing the keynote presentation at Connect:AI" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image-mulesoft-resources-connect-ai-event.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content"> The world of AI is a world of APIs </span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content">Relive the best moments from Connect:AI with 20+ on-demand sessions.</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">Start watching</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-label="Main Navigation Right" id="block-mainnavigationright" class="block-mainnavigationright">
            <ul class="menu menu--simple-mega-menu" role="menu">
              <li class="menu-item" role="menuitem" aria-label="Developers"> <span target="_self" class="main-menu-developers" data-simple-mega-menu="31">Developers</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header">
                        <nav class="menu">
                          <p><a href="https://developer.mulesoft.com/">Getting started</a> <a href="https://www.mulesoft.com/community">Community</a> <a href="https://trailheadacademy.salesforce.com/products/mulesoft#f-products=Mulesoft" target="&#x201D;_blank&#x201D;">Training</a> <a href="https://developer.mulesoft.com/tutorials-and-howtos">Tutorials</a> <a href="https://docs.mulesoft.com/general/">Documentation</a></p>
                        </nav>
                      </article>
                    </div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Partners"> <span target="_self" class="main-menu-partners" data-simple-mega-menu="26">Partners</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header">
                        <nav class="menu"><span style="margin-top: 0;">For customers</span> <a href="https://www.mulesoft.com/integration-partner/finder">Find a partner</a> <span style="margin-top: 20px;">For partners</span> <a href="https://www.mulesoft.com/integration-partner/become-partner">Become a partner</a></nav>
                      </article>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <section class="right-side">
          <div class="contact"> <a href="https://www.mulesoft.com/contact" class="contact-link">Contact Us</a> <span>1-800-596-4880</span></div>
          <form id="header-nav-search-form" role="search" class="search-form" method="get" action="https://www.mulesoft.com/search-results"> <span class="search-mag-icon" role="button" aria-label="open searchbox"></span> <span class="input-wrapper input-desktop"> <input class="search-input" type="text" placeholder="Search" tabindex="-1" name="as_q" aria-label="Search box" role="searchbox"> <input type="hidden" name="form_build_id" value="form-4LAPLw9q2sU_cLVwy9tV4YtTlAM_rgk5EnaV6cFYuMI"> <input type="hidden" name="form_token" value="XINnKYrXV14rxE_FrQ9oZGSQ7mDG5yoFlNyV1-mivZI"> <input type="hidden" name="form_id" value="search_block_form"> <input type="hidden" name="cx" value="009167469708926298605:hwtkd-ufwfq"> <input type="hidden" name="cof" value="FORID:10"> <input type="hidden" name="ie" value="UTF-8"> <span class="search-close-icon" tabindex="-1" role="button" aria-label="close searchbox"></span> </span></form>
          <ul class="menu menu--simple-mega-menu" role="menu">
            <li class="menu-item flyout-right main-menu-login" role="menuitem" aria-expanded="false" aria-haspopup="true"> <span class="login-icon">Login</span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu"> <a href="https://anypoint.mulesoft.com/login/#/signin?apintent=generic" role="menuitem" target="_blank">Anypoint Platform <span class="external-link" aria-label="external link"></span></a> <a href="https://composer.mulesoft.com/login/sign-in" role="menuitem" target="_blank">Composer <span class="external-link" aria-label="external link"></span></a> <a href="https://help.mulesoft.com/s/login/" role="menuitem" target="_blank">Help Center <span class="external-link" aria-label="external link"></span></a> </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="no-children free-trial-btn" role="menuitem"> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" class="button blue-button">Free trial</a></li>
          </ul>
        </section>
      </div>
    </div>
  </header>
  <header class="ms-com-header mobile-header">
    <div class="mobile-header-top"> <a href="https://www.mulesoft.com/" class="logo" aria-label="Link to MuleSoft homepage"></a>
      <section class="right-side">
        <div class="menu-ham" tabindex="0"> <span></span> <span></span> <span></span></div>
      </section>
    </div>
    <div class="mobile-header-bottom">
      <form id="header-nav-search-form-mobile" class="search-form" role="search" method="get" action="https://www.mulesoft.com/search-results"> <span class="search-mag-icon"></span> <span class="input-wrapper"> <input type="text" placeholder="Search" name="as_q" role="searchbox"> <input type="hidden" name="form_build_id" value="form-4LAPLw9q2sU_cLVwy9tV4YtTlAM_rgk5EnaV6cFYuMI"> <input type="hidden" name="form_token" value="XINnKYrXV14rxE_FrQ9oZGSQ7mDG5yoFlNyV1-mivZI"> <input type="hidden" name="form_id" value="search_block_form"> <input type="hidden" name="cx" value="009167469708926298605:hwtkd-ufwfq"> <input type="hidden" name="cof" value="FORID:10"> <input type="hidden" name="ie" value="UTF-8"> <span class="search-close-icon search-clear-button"></span> </span></form>
      <nav class="mobile-nav">
        <div>
          <nav role="navigation" aria-label="Main" id="block-mainnavigation" class="block-mainnavigation">
            <ul class="menu menu--simple-mega-menu" role="menu">
              <li class="menu-item" role="menuitem" aria-label="Products"> <span target="_self" class="main-menu-product" data-simple-mega-menu="166">Products</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <div class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <div class="mega-menu-container-left">
                              <nav class="nav-intro"><span class="menu-label">For IT Teams</span><a class="nav-main-title" href="https://www.mulesoft.com/platform/enterprise-integration" role="menuitem"><span class="title">Anypoint Platform</span> <span>World&#x2019;s #1 integration and API platform</span></a> </nav>
                              <div class="anypoint-menu">
                                <nav class="menu"><span class="menu-label" role="heading">Integration</span> <a href="https://www.mulesoft.com/platform/api/anypoint-code-builder" role="menuitem">Code Builder</a> <a href="https://www.mulesoft.com/platform/exchange" role="menuitem">Exchange</a> <a href="https://www.mulesoft.com/platform/cloud-connectors" role="menuitem">Connectors</a> <a href="https://www.mulesoft.com/platform/ai/model-context-protocol" role="menuitem">MCP Support</a></nav>
                                <nav class="menu"><span class="menu-label" role="heading">API management</span> <a href="https://www.mulesoft.com/platform/api/flex-api-gateway" role="menuitem">Flex Gateway</a> <a href="https://www.mulesoft.com/platform/api/governance-anypoint" role="menuitem">API Governance</a> <a href="https://www.mulesoft.com/platform/api/monitoring-anypoint" role="menuitem">Monitoring</a> <a href="https://www.mulesoft.com/platform/api/manager" role="menuitem">API Manager</a> </nav> <a class="see-all-link" href="https://www.mulesoft.com/platform/anypoint-platform-features" role="menuitem">See all</a>
                              </div>
                            </div>
                            <div class="try-free">
                              <nav class="menu"><span class="menu-label" role="heading">Try for free</span> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" role="menuitem" target="_blank">Sign up to Anypoint Platform<span class="external-link" aria-label="external link"></span></a> <a href="https://www.mulesoft.com/lp/dl/anypoint-mule-studio" role="menuitem">Download Anypoint Code Builder, Studio, Mule</a></nav>
                            </div>
                          </div>
                          <div class="full-right-menu">
                            <div class="mega-menu-container-right">
                              <nav class="nav-intro with-flags"><span class="menu-label">For Business Teams</span> <a class="nav-main-title" href="https://www.mulesoft.com/platform/flow-integration" role="menuitem"><span class="title">MuleSoft for Flow: Integration</span> <span>Point to point integration with clicks, not code</span></a> <a class="nav-main-title" href="https://www.mulesoft.com/platform/intelligent-document-processing" role="menuitem"> <span class="title">MuleSoft IDP</span> <span>Extract unstructured data from documents with AI</span></a> <a class="nav-main-title" href="https://www.mulesoft.com/platform/rpa" role="menuitem"> <span class="title">MuleSoft RPA</span> <span>Automate tasks with bots</span></a> <a class="nav-main-title" href="https://dataloader.io/" target="_blank" role="menuitem"> <span class="title">Dataloader.io</span> <span>Securely import and export unlimited Salesforce data</span></a> </nav>
                              <nav class="nav-intro with-flags"><span class="menu-label">For AI</span> <a class="nav-main-title" href="https://www.mulesoft.com/platform/agentforce" role="menuitem"><span class="title">MuleSoft for Agentforce</span> <span>Power Agentforce with APIs and actions</span></a> <a class="nav-main-title" href="https://www.mulesoft.com/ai/einstein-for-mulesoft" role="menuitem"> <span class="title">Einstein for MuleSoft</span> <span>Build integrations and automations faster using natural language</span></a> <a class="nav-main-title" href="https://www.mulesoft.com/platform/ai" role="menuitem"> <span class="title">MuleSoft for AI</span> <span>Connect data and automate workflows with AI</span></a> </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field field--simple-mega-menu-field-footer field--name-field-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/platform/ai/model-context-protocol">
                        <div class="featured-left-content square-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="A graphic of MuleSoft MCP Support" loading="lazy" src="https://mulesoftd8.www.msit.io/sites/default/files/cmm_files/hero_image--3-.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">MuleSoft MCP Support is now available</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content"> Learn how to transform your APIs to agent ready assets in minutes.</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">Learn more</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Solutions"> <span target="_self" class="main-menu-solutions" data-simple-mega-menu="171">Solutions</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <div class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <div class="mega-menu-container-left">
                              <div class="solutions-menu">
                                <nav class="menu"> <span class="menu-label" role="heading">Featured Solutions</span> <a class="solutions-title" href="https://www.mulesoft.com/api/management" role="menuitem"> <span class="title">API Management</span> <span class="small-intro">Manage and secure any API, built and deployed anywhere</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/integration" role="menuitem"> <span class="title">Integration</span> <span class="small-intro">Connect any system, data, or API to integrate at scale</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/automation" role="menuitem"> <span class="title">Automation</span> <span class="small-intro">Automate processes and tasks for every team</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/platform/ai" role="menuitem"> <span class="title">MuleSoft AI</span> <span class="small-intro">Connect data and automate workflows with AI</span> </a> </nav>
                                <nav class="menu"> <span class="menu-label" role="heading">Featured Integration</span> <a class="solutions-title" href="https://www.mulesoft.com/integration/salesforce" role="menuitem"> <span class="title">Salesforce</span> <span class="small-intro">Power connected experiences with Salesforce integration</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/integration/sap" role="menuitem"> <span class="title">SAP</span> <span class="small-intro">Unlock SAP and connect your IT landscape</span> </a> <a class="solutions-title" href="https://www.mulesoft.com/integration-solutions/soa/aws" role="menuitem"> <span class="title">AWS</span> <span class="small-intro">Get the most out of AWS with integration and APIs</span> </a> <a class="solutions-title" href="http://www.mulesoft.com/small-business" role="menuitem"> <span class="title">Small business</span> <span class="small-intro">Unlock AI-powered success for your small business</span> </a> </nav>
                              </div>
                            </div>
                          </div>
                          <div class="full-right-menu">
                            <div class="mega-menu-container-right">
                              <nav class="menu"> <span class="menu-label" role="heading">By Industry</span> <a href="https://www.mulesoft.com/integration-solutions/soa/financial-services" role="menuitem">Financial services</a> <a href="https://www.mulesoft.com/integration-solutions/soa/government" role="menuitem">Government</a> <a href="https://www.mulesoft.com/integration-solutions/soa/healthcare" role="menuitem">Healthcare and life sciences</a> <a href="https://www.mulesoft.com/integration-solutions/soa/higher-education" role="menuitem">Higher education</a> <a href="https://www.mulesoft.com/integration-solutions/soa/insurance" role="menuitem">Insurance</a> <a href="https://www.mulesoft.com/integration-solutions/api/manufacturing-edi-erp" role="menuitem">Manufacturing</a> <a href="https://www.mulesoft.com/integration-solutions/soa/digital-media" role="menuitem">Media and telecom</a> <a href="https://www.mulesoft.com/integration-solutions/saas/retail" role="menuitem">Retail</a> <a href="https://www.mulesoft.com/integration-solutions/soa/consumer-goods" role="menuitem">Consumer goods</a> </nav>
                              <nav class="menu"> <span class="menu-label" role="heading">By Initiative</span> <a href="https://www.mulesoft.com/integration/b2b-edi-platform" role="menuitem">B2B EDI integration</a> <a href="https://www.mulesoft.com/integration-solutions/api/devops" role="menuitem">DevOps</a> <a href="https://www.mulesoft.com/integration-solutions/api/ecommerce" role="menuitem">eCommerce</a> <a href="https://www.mulesoft.com/event-driven-architecture" role="menuitem">Event-Driven Architecture</a> <a href="https://www.mulesoft.com/integration-solutions/api/ipaas" role="menuitem">iPaaS</a> <a href="https://www.mulesoft.com/legacy-system-modernization/legacy-system-modernization-solution" role="menuitem">Legacy system modernization</a> <a href="https://www.mulesoft.com/api/microservices" role="menuitem">Microservices</a> <a href="https://www.mulesoft.com/integration/move-to-the-cloud" role="menuitem">Move to the cloud</a> <a href="https://www.mulesoft.com/integration-solutions/api/omnichannel" role="menuitem">Omnichannel</a> <a href="https://www.mulesoft.com/integration-solutions/api/saas" role="menuitem">SaaS integration</a> <a href="https://www.mulesoft.com/integration-solutions/api/360-degree-view-customer" role="menuitem">Single view of customer</a> </nav>
                              <div class="see-all-wrapper"> <a class="see-all-link" href="https://www.mulesoft.com/integration-solutions" role="menuitem">See all solutions</a></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field field--simple-mega-menu-field-footer field--name-field-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/lp/ebook/api/salesforce-integration-customer-360">
                        <div class="featured-left-content square-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="An image of the ebook cover: Create Connected Experiences with MuleSoft + AI" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image-mulesoft-solutions-create-connected-experiences-with-ai.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">Create connected experiences with AI</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content"> Learn the critical steps to developing an AI strategy and foundation.</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">Read more</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Services"> <span target="_self" class="main-menu-services" data-simple-mega-menu="176">Services</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <div class="mega-menu-item-header product">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <div class="mega-menu-container-left">
                              <div class="services-menu">
                                <nav class="menu"> <span class="menu-label" role="heading">Training</span> <a class="services-title" href="https://trailheadacademy.salesforce.com/products/mulesoft#f-products=Mulesoft" target="&#x201D;_blank&#x201D;" role="menuitem">Courses</a> <a class="services-title" href="https://trailheadacademy.salesforce.com/products/mulesoft#f-products=MuleSoft&#x201D;%20target=&#x201D;_blank&#x201D;%20role=" menuitem>Certifications</a> <a class="services-title" href="https://trailhead.salesforce.com/help?article=Salesforce-Learning-Credits-FAQ-and-Redemption-Process" target="&#x201D;_blank&#x201D;" role="menuitem">Training credits</a> </nav>
                                <nav class="menu"> <span class="menu-label" role="heading">Customer success</span> <a class="services-title" href="https://www.mulesoft.com/support-and-services/consulting" role="menuitem">MuleSoft Catalyst</a> <a class="services-title" href="https://www.mulesoft.com/support-and-services/mobilize-consulting-solutions" role="menuitem">Business Value Services</a> </nav>
                                <nav class="menu"> <span class="menu-label" role="heading">Support</span> <a class="services-title" href="https://help.mulesoft.com/s/" role="menuitem">Help Center</a> <a class="services-title" href="https://www.mulesoft.com/community" role="menuitem">Community Forums</a> <a class="services-title" href="https://help.mulesoft.com/s/resources" role="menuitem">Resources</a> </nav>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field field--simple-mega-menu-field-footer field--name-field-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/lp/whitepaper/3-predictions-future-of-connected-ai-agents">
                        <div class="featured-left-content large-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="An image of the ebook cover: 3 Predictions for the Future of Connected AI Agents" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image-mulesoft-services-future-of-connected-ai-agents.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content">Future of connected AI agents</span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content">Discover how to prepare for the future of autonomous AI agents.</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">Read more</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Resources"> <span target="_self" class="main-menu-resources" data-simple-mega-menu="181">Resources</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <div class="mega-menu-item-header resources">
                        <div class="mega-menu-full-container">
                          <div class="full-left-menu">
                            <div class="mega-menu-container-left">
                              <div class="anypoint-menu">
                                <nav class="menu"> <span class="menu-label">Featured Resources</span> <a class="resources-title" href="https://www.mulesoft.com/case-studies" role="menuitem">Customer stories</a> <a class="resources-title" href="https://www.salesforce.com/news/products/mulesoft/" target="_blank" role="menuitem">Newsroom</a> <a class="resources-title" href="https://www.linkedin.com/newsletters/technically-speaking-7140068811264651264/" target="_blank" role="menuitem">Newsletter sign-up</a> </nav>
                              </div>
                              <nav class="menu"> <span class="menu-label" role="heading">Explore</span> <a class="resources-title" href="https://www.mulesoft.com/webinars" role="menuitem">Webinars</a> <a class="resources-title" href="https://www.mulesoft.com/integration-resources?type%5B0%5D=demo" role="menuitem">Demos</a> <a class="resources-title" href="https://videos.mulesoft.com/" role="menuitem">Videos</a> <a class="resources-title" href="https://www.mulesoft.com/reports" role="menuitem">Analyst reports</a> <a class="resources-title" href="https://www.mulesoft.com/ebook" role="menuitem">eBooks</a> <a class="resources-title" href="https://www.mulesoft.com/whitepaper/integration-use-cases" role="menuitem">Whitepapers</a> <a class="resources-title" href="https://www.mulesoft.com/infographics" role="menuitem">Infographics</a> <a class="resources-title" href="https://www.mulesoft.com/resources/articles" role="menuitem">Articles</a> <a class="resources-title" href="https://blogs.mulesoft.com/bloghome/" role="menuitem">Blog</a> <a class="resources-title" href="https://www.mulesoft.com/api-university/what-are-apis-and-how-do-they-work" role="menuitem">API University</a> </nav>
                            </div>
                            <div class="see-all-wrapper"> <a class="see-all-link" href="https://www.mulesoft.com/integration-resources">See all resources</a></div>
                          </div>
                          <div class="full-right-menu">
                            <div class="mega-menu-container-right">
                              <nav class="menu"> <span class="menu-label">Events</span> <a class="resources-title" href="https://mulesoft.com/connect-ai" role="menuitem">MuleSoft Connect:AI</a> <a class="resources-title" href="https://www.mulesoft.com/dreamforce" role="menuitem">MuleSoft at Dreamforce</a> <a class="resources-title" href="https://www.salesforce.com/trailblazerdx" target="_blank" role="menuitem">MuleSoft at TrailblazerDX</a> <a class="resources-title" href="https://meetups.mulesoft.com/" role="menuitem">Community Meetups</a> <a class="resources-title" href="https://www.mulesoft.com/events" role="menuitem">All events</a> </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field field--simple-mega-menu-field-footer field--name-field-footer field--type-text-long field--label-hidden field__item"><a class="mega-menu-item-footer" href="https://www.mulesoft.com/connect-ai">
                        <div class="featured-left-content large-img">
                          <div class="loading-lazy">
                            <div class="mega-menu-item-footer-featured-content"> <img alt="A graphic showing the keynote presentation at Connect:AI" loading="lazy" src="https://www.mulesoft.com/sites/default/files/cmm_files/image-mulesoft-resources-connect-ai-event.png"></div>
                          </div>
                        </div>
                        <div class="featured-right-content">
                          <p> <span class="mega-menu-item-footer-featured-content"> The world of AI is a world of APIs </span></p>
                          <p class="content-link"></p>
                          <div class="mega-menu-item-footer-featured-content">Relive the best moments from Connect:AI with 20+ on-demand sessions.</div>
                          <div class="mega-menu-item-footer-featured-content"> <span class="arrow-link">Start watching</span></div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
          <nav role="navigation" aria-label="Main Navigation Right" id="block-mainnavigationright" class="block-mainnavigationright">
            <ul class="menu menu--simple-mega-menu" role="menu">
              <li class="menu-item" role="menuitem" aria-label="Developers"> <span target="_self" class="main-menu-developers" data-simple-mega-menu="31">Developers</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header">
                        <nav class="menu">
                          <p><a href="https://developer.mulesoft.com/">Getting started</a> <a href="https://www.mulesoft.com/community">Community</a> <a href="https://trailheadacademy.salesforce.com/products/mulesoft#f-products=Mulesoft" target="&#x201D;_blank&#x201D;">Training</a> <a href="https://developer.mulesoft.com/tutorials-and-howtos">Tutorials</a> <a href="https://docs.mulesoft.com/general/">Documentation</a></p>
                        </nav>
                      </article>
                    </div>
                  </div>
                </div>
              </li>
              <li class="menu-item" role="menuitem" aria-label="Partners"> <span target="_self" class="main-menu-partners" data-simple-mega-menu="26">Partners</span>
                <div class="mega-menu-wrapper">
                  <div class="mega-menu-background"></div>
                  <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                    <div class="field field--simple-mega-menu-field-header field--name-field-header field--type-text-long field--label-hidden field__item">
                      <article class="mega-menu-item-header">
                        <nav class="menu"><span style="margin-top: 0;">For customers</span> <a href="https://www.mulesoft.com/integration-partner/finder">Find a partner</a> <span style="margin-top: 20px;">For partners</span> <a href="https://www.mulesoft.com/integration-partner/become-partner">Become a partner</a></nav>
                      </article>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <nav class="mobile-lang-selector notranslate">
          <ul class="menu" role="menu">
            <li class="menu-item" role="menuitem" aria-expanded="false" aria-haspopup="true"> <span class="mobile-contact">Contact</span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu contact">
                            <div> <span>By phone</span> <a href="tel:1-800-596-4880" class="phone-mobile">1-800-596-4880</a></div>
                            <div> <span>Online</span> <a href="https://www.mulesoft.com/contact">Contact Us</a></div>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        <nav>
          <ul class="menu main-menu-login" role="menu">
            <li class="menu-item" role="menuitem" aria-expanded="false" aria-haspopup="true"> <span class="mobile-login">Login</span>
              <div class="mega-menu-wrapper">
                <div class="mega-menu-background"></div>
                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                  <div class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item">
                        <div class="mega-menu-item-header">
                          <nav class="menu"> <a href="https://anypoint.mulesoft.com/login/#/signin?apintent=generic" role="menuitem" target="_blank">Anypoint Platform <span class="external-link" aria-label="external link"></span></a> <a href="https://composer.mulesoft.com/login/sign-in" role="menuitem" target="_blank">Composer <span class="external-link" aria-label="external link"></span></a> <a href="https://help.mulesoft.com/s/login/" role="menuitem" target="_blank">Help Center <span class="external-link" aria-label="external link"></span></a> </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" class="cta-link">Free trial</a>
        <div class="mobile-social-icons"> <a href="https://twitter.com/MuleSoft" class="nav-social-icon icon-muletheme-twitter" target="_blank" aria-label="Link to MuleSoft Twitter profile"><span>Link to MuleSoft Twitter profile</span></a> <a href="https://www.linkedin.com/company/mulesoft" class="nav-social-icon icon-muletheme-linkedin" target="_blank" aria-label="Link to Linkedin Twitter profile"><span>Link to MuleSoft Linkedin profile</span></a> <a href="https://www.facebook.com/MuleSoft" class="nav-social-icon icon-muletheme-facebook" target="_blank" aria-label="Link to MuleSoft Facebook profile"><span>Link to MuleSoft Facebook page</span></a> <a href="https://www.instagram.com/mulesoft/" class="nav-social-icon icon-muletheme-instagram" target="_blank" aria-label="Link to MuleSoft Instagram profile"><span>Link to MuleSoft Instagram profile</span></a> <a href="https://videos.mulesoft.com/" class="nav-social-icon icon-muletheme-videos" target="_blank" aria-label="Link to MuleSoft Videos platform"><span>Link to MuleSoft Videos platform</span></a> <a href="https://www.twitch.tv/mulesoft_community" class="nav-social-icon icon-muletheme-twitch" target="_blank" aria-label="Link to MuleSoft Twitch profile"><span>Link to MuleSoft Twitch profile</span></a>
          <p class="copyright"><span>&#xA9; Copyright 2025</span> Salesforce, Inc. <a href="https://www.salesforce.com/company/legal/intellectual/">All rights reserved</a>.</p>
        </div>
      </nav>
    </div>
  </header>
</div>