<div class="ms-skip-link-container">
    <a tabindex="0" class="ms-skip-link">Skip to left navigation</a>
    <a tabindex="0" class="ms-skip-link">Skip to main content</a>
    <a tabindex="0" class="ms-skip-link">Skip to page navigaton</a>
</div>
