<div class="skip-link-container">
    <button tabindex="0" class="skip-link">Skip to left navigation</button>
    <button tabindex="0" class="skip-link">Skip to main content</button>
    <button tabindex="0" class="skip-link">Skip to page navigation</button>
</div>
