{
  "extends": "standard",
  "globals": {
    "analytics": true,
    "localStorage": true,
    "MSCX": true,
    "tippy": true
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline"
    }],
    "max-len": [1, 120, 2],
    "no-cond-assign": "off",
    "spaced-comment": "off"
  }
}
