<div class='panel'>
    <div class='sect2'>
        <h2 id="contributor-signatures"><a class="anchor" href="#contributor-signatures"><img loading="lazy" role="link"
                    class="anchor-image" src="../_/img/icons/anchor.svg" alt="Jump to Latest Releases"
                    title="Jump to Latest Releases"></a>
            Contributor Signatures
        </h2>
        <table class="tableblock frame-all grid-all stretch">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 90%;">
            </colgroup>
            <tbody>
                {{> quickstart}}
            </tbody>
        </table>
    </div>
</div>