<tr>
    <td class="tableblock halign-left valign-top">
        <p class="tableblock">Sept 29</p>
    </td>
    <td class="tableblock halign-left valign-top">
        <p class="tableblock">Fer Mujica</p>
    </td>
</tr>