<tr>
    <td class="tableblock halign-left valign-top">
        <p class="tableblock">Oct 6, 2023</p>
    </td>
    <td class="tableblock halign-left valign-top">
        <p class="tableblock">Jared Dominguez</p>
    </td>
</tr>
