<tr>
    <td class="tableblock halign-left valign-top">
        <p class="tableblock">Oct 2, 2023</p>
    </td>
    <td class="tableblock halign-left valign-top">
        <p class="tableblock">Steven Anderson</p>
    </td>
</tr>