/* description lists */
.doc {
  & dl {
    font-size: 13px;
    margin: var(--sm) 0 0 0;
    padding: 0;
  }

  & p {
    margin-bottom: var(--sm);
    margin-top: var(--sm);
  }

  & dt {
    font-size: var(--font-size-default);
    font-weight: var(--weight-bold);
  }

  & dd {
    margin-left: 2em;

    & + dt {
      margin-top: var(--sm);
      padding-top: var(--sm);
    }
  }
}
