/* description lists */
.doc {

  & dl {
    border: 1px solid var(--aluminum-3);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    padding: var(--md);
  }

  & p {
    margin-bottom: var(--sm);
    margin-top: var(--sm);
  }

  & dt {
    font-weight: var(--weight-bold);

    &::after {
      content: ':';
    }
  }

  & dd {
    margin-left: 0;

    & + dt {
      border-top: 1px solid var(--aluminum-3);
      margin-top: var(--sm);
      padding-top: var(--sm);
    }
  }
}
