/* description lists */
.doc {
  & dl {
    display: inline-block;
    font-size: 13px;
    margin: var(--sm) 0 0 0;
    padding: 0;
  }

  & p {
    margin-bottom: var(--sm);
    margin-top: var(--sm);
  }

  & dt {
    font-family: var(--sans-serif-bold);
    font-size: 16px;
  }

  & dd {
    margin-left: 2em;

    & + dt {
      margin-top: var(--sm);
      padding-top: var(--sm);
    }
  }
}
