.doc-footer {
  padding: 300px var(--xl) var(--xl);

  & button {
    font-size: 12px;
    min-width: var(--nav-item-height);

    & img {
      vertical-align: middle;
    }
  }

  & .button-edit {
    margin-top: var(--md);

    @media (--lg) {
      display: none;
    }
  }
}

.feedback-section {
  align-self: center;
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  height: min-content;
  min-width: 330px;
  width: 60%;

  & .feedback-ack {
    align-items: center;
    column-gap: 9px;
  }

  & .feedback-detailed-form {
    padding: var(--sm) 13px;
    width: 100%;

    & .contact-info {
      display: inline-block;
      width: 49%;
    }

    & .optional::after {
      content: " (optional)";
      font-size: smaller;
    }

    & .required::after {
      content: " (required)";
      font-size: smaller;
    }
  }

  & .feedback-first-row {
    flex-direction: column;
    flex-wrap: wrap;
    height: 75px;
    justify-content: space-evenly;
    padding: var(--sm) 13px;
    width: 100%;
  }

  & .feedback-options {
    column-gap: 9px;
  }

  & input,
  & textarea {
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    margin-bottom: 8px;
    min-height: 32px;
    padding: 8px;
    width: 100%;

    &::placeholder {
      color: #747474;
      font-size: 12px;
    }
  }

  & label,
  & span {
    font-family: var(--sans-serif-bold);
    font-size: 12px;
    margin: auto;
  }

  & p {
    font-family: var(--sans-serif-bold);
    font-size: 14px;
    margin: auto;
  }

  @media (--md) {
    width: 100%;

    &:has(> .feedback-detailed-form.hide) {
      height: 52px;
    }

    & .feedback-first-row {
      flex-direction: row;
      height: 52px;
      justify-content: space-between;
      padding: var(--sm) 13px;
    }
  }

  /* uncomment this block when GUS feedback is implemented */
  /* & .row {
    border-bottom: 1px solid var(--aluminum-3);
  } */

  & .link {
    color: var(--secondary-navy);
    cursor: pointer;
    font-size: 12px;
    margin-top: var(--md);

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
