.doc-footer {
  padding: 300px var(--xl) var(--xl);

  & .button {
    font-size: 12px;
    min-width: var(--nav-item-height);
  }

  & .button-edit {
    margin-top: var(--md);

    @media (--lg) {
      display: none;
    }
  }
}

.feedback-section {
  align-items: center;
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  flex-direction: row;
  height: 52px;
  padding: var(--sm) 13px;
  width: 100%;

  & .feedback-buttons {
    column-gap: 9px;
  }

  & .feedback-question {
    & p {
      font-family: var(--sans-serif-bold);
      font-size: 14px;
    }
  }

  /* @media (min-width: 540px) {
  } */

  /* uncomment this block when GUS feedback is implemented */
  /* & .row {
    border-bottom: 1px solid var(--aluminum-3);
  } */

  &.flip [data-thanks="start"],
  & [data-thanks="end"] {
    display: none;
  }

  &.flip [data-thanks="end"] {
    display: block;
    margin-bottom: 0;
  }

  & span {
    font-family: var(--sans-serif-bold);
    font-size: 14px;
    margin-right: var(--xl);
  }

  & .link {
    color: var(--secondary-navy);
    cursor: pointer;
    font-size: 12px;
    margin-top: var(--md);

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
