.doc-footer {
  padding-bottom: var(--xl);

  & .button {
    font-size: 12px;
  }

  & .button-edit {
    margin-top: var(--md);

    @media (--lg) {
      display: none;
    }
  }
}

.section-helpful {
  align-items: center;
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: var(--md) var(--xl);

  /* uncomment this block when GUS feedback is implemented */
  /* & .row {
    border-bottom: 1px solid var(--aluminum-3);
  } */

  &.flip [data-thanks="start"],
  & [data-thanks="end"] {
    display: none;
  }

  &.flip [data-thanks="end"] {
    display: block;
    margin-bottom: 0;
  }

  & h2 {
    font-size: 14px;
    font-weight: var(--weight-bold);
    margin-bottom: var(--sm);
    margin-top: 0;
    text-align: center;
  }

  & .link {
    color: var(--core-blue-3);
    cursor: pointer;
    font-size: 12px;
    margin-top: var(--md);

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
