.doc {
  flex: 1 1 auto;
  padding-bottom: var(--xl); /* matches nav padding */
  padding-left: var(--lg);
  padding-right: var(--lg);

  @media (--md) {
    padding-left: var(--xl);
    padding-right: var(--xl);
  }

  /* hide toc select */
  & .select-wrapper {
    @media (--lg) {
      display: none;
    }
  }

  /* numbered callouts from codeblocks */
  & .conum {
    background: #1a5492;
    border-radius: 10px;
    color: white;
    font-family: var(--sans-serif);
    font-size: 12px;
    font-style: normal;
    font-weight: var(--weight-bold);
    padding: 0 5px;

    &::after {
      content: attr(data-value);
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }

    & + b {
      display: none;
    }
  }

  /* collouts within the codeblock */
  & pre .conum {
    box-shadow: 0 2px 6px var(--aluminum-3);
  }

  /* references within codeblock */
  & .colist {
    /* numbers */
    & td:first-of-type {
      padding: 0 10px;
      vertical-align: top;
    }

    /* content */
    & td:last-of-type {
      padding: 0;
    }
  }

  /* default spacing */
  & > h1:first-child {
    padding-top: var(--lg);
  }

  /* page headings and anchors */
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    padding-bottom: var(--md);
    padding-top: var(--xl);
    position: relative;

    &:hover .anchor,
    &:focus .anchor {
      opacity: .5;
      transform: scale(1);
    }

    &:active .anchor {
      opacity: .75;
      transform: scale(1);
    }

    & code {
      /* if you want this, you should feel bad and not do it */
      background: none;
      border: 0;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      padding: 0;
      top: 0;
    }
  }

  & .anchor {
    float: right;
    height: var(--lg);
    opacity: 0;
    transform: scale(.9);
    transition: opacity var(--transition-speed-sm) var(--transition-timing), transform var(--transition-speed-sm) var(--transition-timing);

    @media (--md) {
      float: none;
      margin-left: -25px;
      position: absolute;
    }

    &:focus {
      opacity: .5;
      outline: 0;
    }
  }

  & .anchor-image {
    display: block;
    height: var(--lg);
    margin-bottom: 0;
    margin-top: 0;
    width: var(--lg);
  }

  & h1 .anchor {
    margin-top: 11px;
  }

  & h2 .anchor {
    margin-top: 6px;
  }

  & h3 .anchor {
    margin-top: 1px;
  }

  & h4 .anchor {
    @media (--md) {
      margin-top: 2px;
    }
  }

  & h5 .anchor {
    @media (--md) {
      margin-top: 0;
    }
  }

  & p,
  & ul,
  & ol,
  & dl,
  & figure,
  & blockquote,
  & table {
    margin-bottom: var(--md);
    margin-top: var(--md);
  }

  & pre,
  & table,
  & aside {
    margin-bottom: var(--lg);
    margin-top: var(--lg);
  }

  /* links */
  & a:not(.button-primary):not(.dw-playground-link):not(.notice-banner-link):not(.view-all):not(#cta *) {
    &:not(footer *) {
      color: var(--secondary-navy);
      &:visited {
        color: #681da8;
      }
    }

    &:active,
    &:focus {
      border-radius: 5px;
      outline: 2px solid #888;
      text-decoration: none;
    }

    &:hover {
      background-color: #c0edff;
      border-radius: 5px;
      color: var(--secondary-navy);

      &:not(.anchor) {
        margin-left: -3px;
        margin-right: -3px;
        padding: 1px 3px;
      }
    }
  }

  & .external-link-image {
    margin-left: 4px;
    width: 12px;
  }

  & .button-primary {
    & .external-link-image {
      filter: brightness(20) saturate(0);
    }
  }

  /* images */
  & img {
    max-width: 100%;
  }

  /* code */
  & pre,
  & code {
    font-family: var(--monospace);
    font-size: 13px;
  }

  & pre {
    background: var(--aluminum-1);
    border: 1px solid var(--aluminum-3);
    border-radius: 2px;
    overflow: auto;
    padding: var(--md);

    & code {
      background: none;
      border: 0;
      border-radius: 0;
      display: block;
      padding: 15px 0;
      top: 0;
    }
  }

  & code {
    background: var(--aluminum-1);
    border: 1px solid var(--aluminum-3);
    border-radius: 2px;
    padding: 2px var(--xs);
    position: relative;
    top: -1px;
  }

  /* ordered and unordered lists */
  & ol,
  & ul {
    padding-left: var(--lg);

    & ol,
    & ul {
      font-size: 14px;
    }
  }

  & ol.arabic {
    list-style-type: decimal;
  }

  & ol.decimal {
    list-style-type: decimal-leading-zero;
  }

  & ol.loweralpha {
    list-style-type: lower-alpha;
  }

  & ol.upperalpha {
    list-style-type: upper-alpha;
  }

  & ol.lowerroman {
    list-style-type: lower-roman;
  }

  & ol.upperroman {
    list-style-type: upper-roman;
  }

  & ol.lowergreek {
    list-style-type: lower-greek;
  }

  & ul {
    list-style-type: circle;
  }

  & blockquote {
    color: var(--steel-2);
    margin-left: 0;
  }

  /* images */
  & .image img {
    margin: 0;
  }
}
