table.tableblock {
  border-collapse: collapse;
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%;

  /* when nesting admonition */
  & table {
    margin-bottom: var(--xs);
    margin-top: var(--xs);
  }

  & tbody {
    padding: var(--sm) var(--md);
  }

  & caption {
    text-align: left;
  }

  & p {
    margin-bottom: 0;
    margin-top: 0;
  }

  & th {
    border-bottom: 2px solid var(--steel-3);
    text-align: left;
  }

  & tr + tr {
    border-top: 1px solid var(--aluminum-3);
  }

  & caption,
  & td,
  & th {
    padding: var(--xs) var(--sm);

    & + td {
      border-left: 1px solid var(--aluminum-3);
    }
  }
}
td.tableblock.valign-top {
  vertical-align: top;
}
td.tableblock.valign-middle {
  vertical-align: middle;
}
td.tableblock.valign-bottom {
  vertical-align: bottom;
}
td.tableblock.halign-center {
  text-align: center;
}
td.tableblock.halign-left {
  text-align: left;
}
td.tableblock.halign-right {
  text-align: right;
}
