<article class='doc'>
  <header>
    <h1 class='page'>{{{page.title}}}</h1>
    {{{page.contents.cta}}}
  </header>
  <d class='panels'>
    {{> latest-releases}}
    {{> popular-topics}}
  </div>
  {{{page.contents.the-road}}}
  <footer>
    {{{page.contents.more-resources}}}
  </footer>
</article>