<article class='doc'>
  <header>
    <h1 class='page'>{{{page.title}}}</h1>
    <div id="cta">
      <a href="api-led-overview.html" class="mule-button-br solid" data-l10n-text="landing-button-new-to-mulesoft">New to MuleSoft? Start here.</a>
    </div>
  </header>
  {{#if (eq (site-profile) 'jp' )}}
  <div class='panel single-panel'>
    {{> trending-topics }}
  </div>
  {{else}}
  <div class='panels'>
    {{#if preview}}
      {{> contributor-signatures}}
    {{else}}
      {{> latest-releases}}
    {{/if}}
    <div class='panel'>
      {{> trending-topics }}
    </div>
  </div>
  {{/if}}
  {{{page.contents.the-road}}}
</article>