<div class='panel'>
    <atomic-recs-interface id="recs">
        <atomic-recs-list label="Popular Topics" recommendation="recommendations">
            <atomic-recs-result-template>
                <template>
                    <atomic-result-section-title>
                        <atomic-result-link></atomic-result-link>
                    </atomic-result-section-title>
                </template>
            </atomic-recs-result-template>
        </atomic-recs-list>
    </atomic-recs-interface>
</div>