<div class="hidden" id="trending-topics-fallback">
  <h2>トレンドトピック</h2>
  <div><a
      href="dataweave/latest/dataweave-cookbook-format-dates"
    >日付と時刻の書式設定</a></div>
  <div><a
      href="dataweave/latest/dw-operators"
    >DataWeave の演算子</a></div>
  <div><a
      href="dataweave/latest/dw-core-functions-filter"
    >DataWeave 関数: filter</a></div>
  <div><a
      href="dataweave/latest/dw-core-functions-map"
    >DataWeave 関数: map</a></div>
  <div><a
      href="mule-runtime/latest/batch-processing-concept"
    >バッチ処理</a></div>
  <div><a
      href="dataweave/latest/dataweave-functions"
    >DataWeave リファレンス</a></div>
  <div><a href="connectors/">コネクタ</a></div>
</div>