<div id="trending-topics">
  <h2>トレンドトピック</h2>
  <div><a
      href="https://docs.mulesoft.com/jp/dataweave/latest/dataweave-cookbook-format-dates"
    >日付と時刻の書式設定</a></div>
  <div><a
      href="https://docs.mulesoft.com/jp/dataweave/latest/dw-operators"
    >DataWeave の演算子</a></div>
  <div><a
      href="https://docs.mulesoft.com/jp/dataweave/latest/dw-core-functions-filter"
    >DataWeave 関数: filter</a></div>
  <div><a
      href="https://docs.mulesoft.com/jp/dataweave/latest/dw-core-functions-map"
    >DataWeave 関数: map</a></div>
  <div><a
      href="https://docs.mulesoft.com/jp/mule-runtime/latest/batch-processing-concept"
    >バッチ処理</a></div>
  <div><a
      href="https://docs.mulesoft.com/jp/dataweave/latest/dataweave-functions"
    >DataWeave リファレンス</a></div>
  <div><a href="https://docs.mulesoft.com/jp/connectors/">コネクタ</a></div>
</div>