<div class='panel'>
    <div class="sect2">
        <atomic-recs-interface id="recs" pipeline="MS Docs Site - Popular Topics" search-hub="Popular Topics">
            <atomic-recs-list density="compact" heading-level=2 label="Trending Topics" number-of-recommendations=7>
                <atomic-recs-result-template>
                    <template>
                        <style>
                            atomic-result-section-title {
                                margin-left: 30px;
                                padding-bottom: 2px;
                                padding-left: 5px;
                            }

                            atomic-result-link {
                                margin-bottom: 5px;
                                margin-right: 5px;
                            }

                            atomic-result-link:focus {
                                margin-left: 10px;
                            }

                            atomic-result-link a {
                                color: var(--sds-g-color-blue-50) !important;
                                font-family: var(--font-sans-serif);
                                font-weight: var(--weight-bold);
                                font-size: var(--font-size-default);
                                line-height: 20px;
                                text-decoration: none !important;
                            }

                            atomic-result-link a::before {
                                content: "";
                                position: absolute;
                                top: 12px;
                                left: 15px;
                                width: 6px;
                                height: 6px;
                                border-radius: 50%;
                                border: 3px solid black;
                            }

                            atomic-result-link a:active,
                            atomic-result-link a:focus {
                                border-radius: 5px;
                                margin-left: -1px;
                                outline: 2px solid var(--sds-g-color-blue-50) !important;
                                padding: 0 1px;
                            }

                            atomic-result-link a:hover {
                                margin-left: -1px;
                                padding: 0 1px;
                                text-decoration: none !important;
                            }

                            atomic-result-link a:visited {
                                color: var(--violet) !important;
                            }
                        </style>
                        <atomic-result-section-title>
                            <atomic-result-link target="_blank"></atomic-result-link>
                        </atomic-result-section-title>
                    </template>
                </atomic-recs-result-template>
            </atomic-recs-list>
            <atomic-recs-error></atomic-recs-error>
        </atomic-recs-interface>
    </div>
</div>
