<div id="trending-topics">
  <h2>Trending Topics</h2>
  <div><a
      href="https://docs.mulesoft.com/dataweave/latest/dataweave-cookbook-format-dates"
    >Format Dates and Times</a></div>
  <div><a
      href="https://docs.mulesoft.com/dataweave/latest/dw-operators"
    >DataWeave Operators</a></div>
  <div><a
      href="https://docs.mulesoft.com/dataweave/latest/dw-core-functions-filter"
    >DataWeave Function: filter</a></div>
  <div><a
      href="https://docs.mulesoft.com/dataweave/latest/dw-core-functions-map"
    >DataWeave Function: map</a></div>
  <div><a
      href="https://docs.mulesoft.com/mule-runtime/latest/batch-processing-concept"
    >Batch Processing</a></div>
  <div><a
      href="https://docs.mulesoft.com/dataweave/latest/dataweave-functions"
    >DataWeave Reference</a></div>
  <div><a href="https://docs.mulesoft.com/connectors/">Connectors</a></div>
</div>