<div class="banner notice-banner flex">
    <p>
        You're viewing an older version of the documentation.
        {{> banner-latest-version-snippet }}
    </p>
    <button aria-label="Close notice banner" class="close-button" title="Close notice banner">&times;</button>
</div>