<div class="notice-banner banner">
    <button class="close-button" title="Close notice banner">&times;</button>
    <p>
        You're viewing an older version of the documentation.
        {{> banner-latest-version-snippet }}
    </p>
</div>