{{#if page.latest.url}}
This version of the product
{{else}}
This product
{{/if}}
has reached
<a class="notice-banner-link" href="https://www.mulesoft.com/legal/versioning-back-support-policy" target="_blank"
    rel="noopener noreferrer">End of Life</a> and is no longer supported.
