{{#if page.latest.url}}
This version of the product
{{else}}
This product
{{/if}}
is scheduled for
<a class="notice-banner-link" href="https://www.mulesoft.com/legal/versioning-back-support-policy" target="_blank"
    rel="noopener noreferrer">End of Life.</a>
