{{#if page.attributes.notice-banner-message}}
<div class="notice-banner">
  <button class="notice-banner-close-button" title="Close notice banner">&times;</button>
  <p>{{page.attributes.notice-banner-message}}</p>
</div>
{{else if (or page.componentVersion.asciidoc.attributes.supportStatus page.attributes.support-status)}} 
{{#switch (or page.componentVersion.asciidoc.attributes.supportStatus page.attributes.support-status)}}
{{#case 'oldVersion'}} {{> banner-for-old}} {{/case}}
{{#case 'noLongerUpdated'}} {{> banner-for-no-longer-updated}} {{/case}}
{{#case 'extendedSupport'}} {{> banner-for-extended-support}} {{/case}}
{{#case 'extendedSupportFeature'}} {{> banner-for-extended-support-feature}} {{/case}}
{{#case 'extendedSupportVersion'}} {{> banner-for-extended-support-version}} {{/case}}
{{#case 'eolSupport'}} {{> banner-for-eol-support}} {{/case}}
{{#case 'eolSupportFeature'}} {{> banner-for-eol-support-feature}} {{/case}}
{{#case 'eolSupportVersion'}} {{> banner-for-eol-support-version}} {{/case}}
{{#case 'eolScheduled'}} {{> banner-for-eol-scheduled}} {{/case}}
{{#case 'eolScheduledFeature'}} {{> banner-for-eol-scheduled-feature}} {{/case}}
{{#case 'eolScheduledVersion'}} {{> banner-for-eol-scheduled-version}} {{/case}}
{{#case 'eolReached'}} {{> banner-for-eol-reached}} {{/case}}
{{#case 'eolReachedFeature'}} {{> banner-for-eol-reached-feature}} {{/case}}
{{#case 'eolReachedVersion'}} {{> banner-for-eol-reached-version}} {{/case}}
{{/switch}}
{{/if}}