{{#if (and (eq (site-profile) 'prod') page.attributes.notice-banner-message)}}
<div class="banner notice-banner flex">
  <p>{{{raw-html page.attributes.notice-banner-message}}}</p>
  <button aria-label="Close notice banner" class="close-button" title="Close notice banner"><img loading="lazy" src="{{@root.uiRootPath}}/img/icons/close.svg" alt=""></button>
</div>
{{else if (or page.componentVersion.asciidoc.attributes.supportStatus page.attributes.support-status)}}
{{#switch (or page.componentVersion.asciidoc.attributes.supportStatus page.attributes.support-status)}}
{{#case 'oldVersion'}} {{> banner-for-old-version}} {{/case}}
{{#case 'noLongerUpdated'}} {{> banner-for-no-longer-updated}} {{/case}}
{{#case 'extendedSupport'}} {{> banner-for-extended-support}} {{/case}}
{{#case 'extendedSupportFeature'}} {{> banner-for-extended-support-feature}} {{/case}}
{{#case 'extendedSupportVersion'}} {{> banner-for-extended-support-version}} {{/case}}
{{#case 'eolSupport'}} {{> banner-for-eol-support}} {{/case}}
{{#case 'eolSupportFeature'}} {{> banner-for-eol-support-feature}} {{/case}}
{{#case 'eolSupportVersion'}} {{> banner-for-eol-support-version}} {{/case}}
{{#case 'eolScheduled'}} {{> banner-for-eol-scheduled}} {{/case}}
{{#case 'eolScheduledFeature'}} {{> banner-for-eol-scheduled-feature}} {{/case}}
{{#case 'eolScheduledVersion'}} {{> banner-for-eol-scheduled-version}} {{/case}}
{{#case 'eolReached'}} {{> banner-for-eol-reached}} {{/case}}
{{#case 'eolReachedFeature'}} {{> banner-for-eol-reached-feature}} {{/case}}
{{#case 'eolReachedVersion'}} {{> banner-for-eol-reached-version}} {{/case}}
{{/switch}}
{{else if (and page.component.latest (ne page.version page.component.latest.version))}}
{{> banner-for-old-version}}
{{/if}}