<div data-footer-version="1.0.0" id="sl-ms-com-content-footer" class="ms-com-content ms-com-content-tr ms-com-content-footer br custom-footer-white-bg wes jp-footer ">
  <footer class="ms-com-footer">
    <section class="footer-top">
      <div class="footer-inside">
        <div class="footer-links-marketo-form">
          <div class="footer-tm">
            <div>
              <nav role="navigation" aria-label="JP Updated Footer Menu" id="block-jpupdatedfootermenu" class="block-jpupdatedfootermenu">
                <ul class="menu">
                  <li> <span>&#x88FD;&#x54C1;</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/jp/platform/enterprise-integration">Anypoint Platform</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/platform/rpa">MuleSoft RPA</a></li>
                      <li> <a href="https://anypoint.mulesoft.com/login/signup?apintent=generic">&#x7121;&#x6599;&#x30C8;&#x30E9;&#x30A4;&#x30A2;&#x30EB;&#x7533;&#x8FBC;&#x307F;</a></li>
                      <li> <a href="https://www.mulesoft.com/lp/dl/studio">Studio&#x306E;&#x30C0;&#x30A6;&#x30F3;&#x30ED;&#x30FC;&#x30C9;</a></li>
                    </ul>
                  </li>
                  <li> <span>&#x30BD;&#x30EA;&#x30E5;&#x30FC;&#x30B7;&#x30E7;&#x30F3;</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/financial-services">&#x91D1;&#x878D;&#x30B5;&#x30FC;&#x30D3;&#x30B9;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/api/manufacturing-edi-erp">&#x88FD;&#x9020;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/saas/retail">&#x5C0F;&#x58F2;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/insurance">&#x4FDD;&#x967A;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/healthcare">&#x30D8;&#x30EB;&#x30B9;&#x30B1;&#x30A2;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/digital-media">&#x901A;&#x4FE1;&#x30FB;&#x30E1;&#x30C7;&#x30A3;&#x30A2;</a></li>
                    </ul>
                  </li>
                  <li> <span>&#x30B5;&#x30FC;&#x30D3;&#x30B9;</span>
                    <ul>
                      <li> <a href="https://trailheadacademy.salesforce.com/products/mulesoft#f-products=Mulesoft">&#x30C8;&#x30EC;&#x30FC;&#x30CB;&#x30F3;&#x30B0; (&#x82F1;&#x8A9E;)</a></li>
                      <li> <a href="https://training.mulesoft.com/certification">Certification (&#x82F1;&#x8A9E;)</a></li>
                      <li> <a href="https://www.mulesoft.com/support-and-services/consulting">MuleSoft Catalyst (&#x82F1;&#x8A9E;)</a></li>
                      <li> <a href="https://www.mulesoft.com/support-and-services/business-value-services">Business Value Services (&#x82F1;&#x8A9E;)</a></li>
                      <li> <a href="https://meetups.mulesoft.com/events/#/list">MuleSoft Meet-up (&#x82F1;&#x8A9E;)</a></li>
                    </ul>
                  </li>
                  <li> <span>&#x30B5;&#x30DD;&#x30FC;&#x30C8;</span>
                    <ul>
                      <li> <a href="https://help.mulesoft.com/">&#x30D8;&#x30EB;&#x30D7;&#x30BB;&#x30F3;&#x30BF;&#x30FC; (&#x82F1;&#x8A9E;)</a></li>
                      <li> <a href="https://www.mulesoft.com/community">&#x30B3;&#x30DF;&#x30E5;&#x30CB;&#x30C6;&#x30A3; (&#x82F1;&#x8A9E;)</a></li>
                      <li> <a href="https://developer.mulesoft.com/tutorials-and-howtos">&#x30C1;&#x30E5;&#x30FC;&#x30C8;&#x30EA;&#x30A2;&#x30EB; (&#x82F1;&#x8A9E;)</a></li>
                      <li> <a href="https://docs.mulesoft.com/jp/general/">&#x30C9;&#x30AD;&#x30E5;&#x30E1;&#x30F3;&#x30C8;</a></li>
                      <li> <a href="https://www.mulesoft.com/lp/ebook/api/integration-quick-start-guide">Quick start guides (&#x82F1;&#x8A9E;)</a></li>
                    </ul>
                  </li>
                  <li> <span>&#x8CC7;&#x6599;</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/jp/case-studies">&#x304A;&#x5BA2;&#x69D8;&#x4E8B;&#x4F8B;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-resources">&#x30B3;&#x30F3;&#x30C6;&#x30F3;&#x30C4;&#x30E9;&#x30A4;&#x30D6;&#x30E9;&#x30EA;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/resources/articles">&#x8A18;&#x4E8B;</a></li>
                      <li> <a href="https://blogs.mulesoft.com/jp/bloghome/">MuleSoft Japan &#x30D6;&#x30ED;&#x30B0;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/press-center">&#x30D7;&#x30EC;&#x30B9;&#x30BB;&#x30F3;&#x30BF;&#x30FC;</a></li>
                    </ul>
                  </li>
                  <li> <span>&#x305D;&#x306E;&#x4ED6;&#x306E;&#x60C5;&#x5831;</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/jp/contact">&#x304A;&#x554F;&#x3044;&#x5408;&#x308F;&#x305B;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-partner/finder">&#x30D1;&#x30FC;&#x30C8;&#x30CA;&#x30FC;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/events">&#x30A4;&#x30D9;&#x30F3;&#x30C8;</a></li>
                      <li> <a href="https://www.salesforce.com/jp/company/careers/japan/" target="_blank">Careers</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-bottom">
      <div class="footer-inside">
        <div class="logo-wrapper"> <a href="https://www.mulesoft.com/jp/" class="footer-logo" aria-label="Link to MuleSoft homepage"></a></div>
        <nav class="footer-links"> <span class="footer-copyright"><span>&#xA9; Copyright 2025</span> Salesforce, Inc. <a href="https://www.salesforce.com/company/legal/intellectual/"> All rights reserved.</a></span> <a class="footer-links-separator" href="https://www.salesforce.com/jp/company/privacy/" target="_blank">&#x30D7;&#x30E9;&#x30A4;&#x30D0;&#x30B7;&#x30FC;</a> <a class="footer-links-separator" href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Privacy/privacy-shield-notice.pdf" target="_blank">Privacy Shield</a> <a class="footer-links-separator" href="https://www.salesforce.com/company/legal/sfdc-website-terms-of-service/" target="_blank">&#x5229;&#x7528;&#x898F;&#x7D04;</a> <button class="ot-sdk-show-settings optanon-toggle-display removable" data-ignore-geolocation="true" id="ot-sdk-btn">Cookie &#x8A2D;&#x5B9A;</button>
          <div class="footer-legal-req"><a href="https://www.salesforce.com/form/other/privacy-request/" target="_blank">&#x304A;&#x5BA2;&#x69D8;&#x306B;&#x3088;&#x308B;&#x30D7;&#x30E9;&#x30A4;&#x30D0;&#x30B7;&#x30FC;&#x8A2D;&#x5B9A;&#x306E;&#x9078;&#x629E;&#x80A2;</a></div>
        </nav>
        <nav class="social-logos"> <a href="https://www.linkedin.com/company/mulesoft" target="_blank" class="icon-muletheme-linkedin" aria-label="Link to MuleSoft Linkedin profile"><span>Link to MuleSoft Linkedin profile</span></a> <a href="https://twitter.com/MuleSoft" target="_blank" class="icon-muletheme-twitter" aria-label="Link to MuleSoft Twitter profile"><span>Link to MuleSoft Twitter profile</span></a> <a href="https://www.instagram.com/mulesoft" target="_blank" class="icon-muletheme-instagram" aria-label="Link to MuleSoft Instagram profile"><span>Link to MuleSoft Instagram profile</span></a> <a href="https://www.facebook.com/mulesoft" target="_blank" class="icon-muletheme-facebook" aria-label="Link to MuleSoft Facebook profile"><span>Link to MuleSoft Facebook profile</span></a> <a href="https://www.youtube.com/user/mulesoftvids" class="icon-muletheme-videos" aria-label="Link to MuleSoft Video platform"><span>Link to MuleSoft Videos platform</span></a> <a href="https://www.twitch.tv/mulesoft_community" class="icon-muletheme-twitch" aria-label="Link to MuleSoft Twitch profile"><span>Link to MuleSoft Twitch profile</span></a> </nav>
      </div>
    </section>
  </footer>
</div>