<div id="sl-ms-com-content-footer" class="ms-com-content ms-com-content-tr ms-com-content-footer br custom-footer-white-bg wes jp-footer ">
  <footer class="ms-com-footer">
    <section class="footer-top">
      <div class="footer-inside">
        <div class="footer-links-marketo-form">
          <div class="footer-tm">
            <div>
              <nav role="navigation" aria-labelledby="block-jpupdatedfootermenu" id="block-jpupdatedfootermenu" class="block-jpupdatedfootermenu">
                <ul class="menu">
                  <li> <span>&#35069;&#21697;</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/jp/platform/enterprise-integration">Anypoint Platform</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/platform/rpa">MuleSoft RPA</a></li>
                      <li> <a href="https://anypoint.mulesoft.com/login/signup?apintent=generic">&#28961;&#26009;&#12488;&#12521;&#12452;&#12450;&#12523;&#30003;&#36796;&#12415;</a></li>
                      <li> <a href="https://www.mulesoft.com/lp/dl/studio">Studio&#12398;&#12480;&#12454;&#12531;&#12525;&#12540;&#12489;</a></li>
                    </ul>
                  </li>
                  <li> <span>&#12477;&#12522;&#12517;&#12540;&#12471;&#12519;&#12531;</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/financial-services">&#37329;&#34701;&#12469;&#12540;&#12499;&#12473;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/api/manufacturing-edi-erp">&#35069;&#36896;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/saas/retail">&#23567;&#22770;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/insurance">&#20445;&#38522;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/healthcare">&#12504;&#12523;&#12473;&#12465;&#12450;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/digital-media">&#36890;&#20449;&#12539;&#12513;&#12487;&#12451;&#12450;</a></li>
                    </ul>
                  </li>
                  <li> <span>&#12469;&#12540;&#12499;&#12473;</span>
                    <ul>
                      <li> <a href="https://training.mulesoft.com/">&#12488;&#12524;&#12540;&#12491;&#12531;&#12464; (&#33521;&#35486;)</a></li>
                      <li> <a href="https://training.mulesoft.com/certification">Certification (&#33521;&#35486;)</a></li>
                      <li> <a href="https://www.mulesoft.com/support-and-services/consulting">MuleSoft Catalyst (&#33521;&#35486;)</a></li>
                      <li> <a href="https://www.mulesoft.com/support-and-services/business-value-services">Business Value Services (&#33521;&#35486;)</a></li>
                      <li> <a href="https://meetups.mulesoft.com/events/#/list">MuleSoft Meet-up (&#33521;&#35486;)</a></li>
                    </ul>
                  </li>
                  <li> <span>&#12469;&#12509;&#12540;&#12488;</span>
                    <ul>
                      <li> <a href="https://help.mulesoft.com/">&#12504;&#12523;&#12503;&#12475;&#12531;&#12479;&#12540; (&#33521;&#35486;)</a></li>
                      <li> <a href="https://www.mulesoft.com/community">&#12467;&#12511;&#12517;&#12491;&#12486;&#12451; (&#33521;&#35486;)</a></li>
                      <li> <a href="https://developer.mulesoft.com/tutorials-and-howtos">&#12481;&#12517;&#12540;&#12488;&#12522;&#12450;&#12523; (&#33521;&#35486;)</a></li>
                      <li> <a href="https://docs.mulesoft.com/jp/general/">&#12489;&#12461;&#12517;&#12513;&#12531;&#12488;</a></li>
                      <li> <a href="https://www.mulesoft.com/lp/ebook/api/integration-quick-start-guide">Quick start guides (&#33521;&#35486;)</a></li>
                    </ul>
                  </li>
                  <li> <span>&#36039;&#26009;</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/jp/case-studies">&#12362;&#23458;&#27096;&#20107;&#20363;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-resources">&#12467;&#12531;&#12486;&#12531;&#12484;&#12521;&#12452;&#12502;&#12521;&#12522;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/resources/articles">&#35352;&#20107;</a></li>
                      <li> <a href="https://blogs.mulesoft.com/jp/bloghome/">MuleSoft Japan &#12502;&#12525;&#12464;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/press-center">&#12503;&#12524;&#12473;&#12475;&#12531;&#12479;&#12540;</a></li>
                    </ul>
                  </li>
                  <li> <span>&#12381;&#12398;&#20182;&#12398;&#24773;&#22577;</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/jp/contact">&#12362;&#21839;&#12356;&#21512;&#12431;&#12379;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/integration-partner/finder">&#12497;&#12540;&#12488;&#12490;&#12540;</a></li>
                      <li> <a href="https://www.mulesoft.com/jp/events">&#12452;&#12505;&#12531;&#12488;</a></li>
                      <li> <a href="https://www.salesforce.com/jp/company/careers/japan/">Careers</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-bottom">
      <div class="footer-inside">
        <div class="logo-wrapper"> <a href="https://www.mulesoft.com/jp/" class="footer-logo" aria-label="Link to homepage"></a></div>
        <nav class="footer-links"><span class="footer-copyright"><span>&copy; Copyright 2023</span> Salesforce, Inc. <a href="https://www.salesforce.com/company/legal/intellectual/"> All rights reserved.</a></span> <a class="footer-links-separator" href="https://www.salesforce.com/jp/company/privacy/" target="_blank">&#12503;&#12521;&#12452;&#12496;&#12471;&#12540;</a> <a class="footer-links-separator" href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Privacy/privacy-shield-notice.pdf" target="_blank">Privacy Shield</a> <a class="footer-links-separator" href="https://www.salesforce.com/company/legal/sfdc-website-terms-of-service/" target="_blank">&#21033;&#29992;&#35215;&#32004;</a> <button class="ot-sdk-show-settings optanon-toggle-display removable" data-ignore-geolocation="true" id="ot-sdk-btn">Cookie &#35373;&#23450;</button> </nav>
        <nav class="social-logos"><a href="https://www.linkedin.com/company/mulesoft" target="_blank" class="icon-muletheme-linkedin" aria-label="Link to MuleSoft Linkedin profile"><span>Link to MuleSoft Linkedin profile</span></a> <a href="https://twitter.com/MuleSoft" target="_blank" class="icon-muletheme-twitter" aria-label="Link to MuleSoft Twitter profile"><span>Link to MuleSoft Twitter profile</span></a> <a href="https://www.instagram.com/mulesoft" target="_blank" class="icon-muletheme-instagram" aria-label="Link to MuleSoft Instagram profile"><span>Link to MuleSoft Instagram profile</span></a> <a href="https://www.facebook.com/mulesoft" target="_blank" class="icon-muletheme-facebook" aria-label="Link to MuleSoft Facebook profile"><span>Link to MuleSoft Facebook profile</span></a> <a href="https://www.youtube.com/user/mulesoftvids" class="icon-muletheme-videos" aria-label="Link to MuleSoft Video platform"><span>Link to MuleSoft Videos platform</span></a> <a href="https://www.twitch.tv/mulesoft_community" class="icon-muletheme-twitch" aria-label="Link to MuleSoft Twitch profile"><span>Link to MuleSoft Twitch profile</span></a> </nav>
        <div class="language-selector-wrapper main-menu-language notranslate">
          <ul class="language-selection">
            <li class="german"><a href="https://www.mulesoft.com/de" data-shortlan="de">Deutsch</a></li>
            <li class="english"><a href="https://www.mulesoft.com/" data-shortlan="en">English <sub>Full site</sub></a></li>
            <li class="french"><a href="https://www.mulesoft.com/fr" data-shortlan="fr">French</a></li>
            <li class="japanese"><a href="https://www.mulesoft.com/jp" data-shortlan="ja">Japanese</a></li>
            <li class="portuguese"><a href="https://www.mulesoft.com/pt" data-shortlan="pt">Portuguese</a></li>
            <li class="spanish"><a href="https://www.mulesoft.com/es" data-shortlan="es">Spanish</a></li>
          </ul>
          <ul class="language-selected">
            <li class="german"><a href="https://www.mulesoft.com/de" data-shortlan="de">Deutsch</a></li>
            <li class="french"><a href="https://www.mulesoft.com/fr" data-shortlan="fr">French</a></li>
            <li class="japanese"><a href="https://www.mulesoft.com/jp" data-shortlan="ja">Japanese</a></li>
            <li class="portuguese"><a href="https://www.mulesoft.com/pt" data-shortlan="pt">Portuguese</a></li>
            <li class="spanish"><a href="https://www.mulesoft.com/es" data-shortlan="es">Spanish</a></li>
            <li class="english"><a href="https://www.mulesoft.com/" data-shortlan="en">English <sub>Full site</sub></a></li>
          </ul>
        </div>
      </div>
    </section>
  </footer>
  <script type="text/javascript" src="https://www.mulesoft.com/themes/custom/mule_foundation/endpoints/js/stormbreaker.js"></script>
  <div id="stormbreaker" style=""></div>
</div>