<div class="ms-com-content ms-com-content-footer br custom-footer-white-bg wes footer-wes">
  <footer class="ms-com-footer">
    <section class="footer-top">
      <div class="footer-inside">
        <div class="footer-links-marketo-form">
          <div class="footer-tm">
            <div>
              <nav role="navigation" aria-labelledby="block-updatedfootermenu" id="block-updatedfootermenu" class="block-updatedfootermenu">
                <ul class="menu">
                  <li> <span>Products</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/platform/enterprise-integration">Anypoint Platform</a></li>
                      <li> <a href="https://www.mulesoft.com/platform/composer">MuleSoft Composer</a></li>
                      <li> <a href="https://www.mulesoft.com/platform/rpa">MuleSoft RPA</a></li>
                      <li> <a href="https://anypoint.mulesoft.com/login/signup?apintent=generic">Start a free trial</a></li>
                      <li> <a href="https://www.mulesoft.com/lp/dl/studio">Download Studio</a></li>
                    </ul>
                  </li>
                  <li> <span>Solutions</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/platform/api-management">API management</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-solutions/dataweave-integration">Integration</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-solutions/api/business-automation">Automation</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-solutions">See all solutions</a></li>
                    </ul>
                  </li>
                  <li> <span>Services</span>
                    <ul>
                      <li> <a href="https://training.mulesoft.com/">Training </a></li>
                      <li> <a href="https://training.mulesoft.com/certification">Certification</a></li>
                      <li> <a href="https://www.mulesoft.com/support-and-services/consulting">MuleSoft Catalyst</a></li>
                      <li> <a href="https://www.mulesoft.com/support-and-services/business-value-services">Business Value Services</a></li>
                    </ul>
                  </li>
                  <li> <span>Support</span>
                    <ul>
                      <li> <a href="https://help.mulesoft.com/">Help Center</a></li>
                      <li> <a href="https://www.mulesoft.com/community">Community</a></li>
                      <li> <a href="https://developer.mulesoft.com/tutorials-and-howtos">Tutorials</a></li>
                      <li> <a href="https://docs.mulesoft.com/">Documentation</a></li>
                      <li> <a href="https://www.mulesoft.com/lp/ebook/api/integration-quick-start-guide">Quick start guides</a></li>
                      <li> <a href="https://www.mulesoft.com/lp/contact/ask-an-expert">Ask an expert</a></li>
                    </ul>
                  </li>
                  <li> <span>Resources</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/integration-resources?type%5B0%5D=Webinar">Webinars</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-resources?type%5B0%5D=Demo">Demos</a></li>
                      <li> <a href="https://videos.mulesoft.com/">Videos</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-resources?type%5B0%5D=Report">Analyst reports</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-resources?type%5B0%5D=eBook">eBooks</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-resources?type%5B0%5D=Whitepaper">Whitepapers</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-resources?type%5B0%5D=Infographic">Infographics</a></li>
                      <li> <a href="https://www.mulesoft.com/resources/articles">Articles</a></li>
                      <li> <a href="https://blogs.mulesoft.com/bloghome/">Blog</a></li>
                    </ul>
                  </li>
                  <li> <span>Explore more</span>
                    <ul>
                      <li> <a href="https://www.mulesoft.com/contact">Contact sales</a></li>
                      <li> <a href="https://www.mulesoft.com/integration-partner">Partners</a></li>
                      <li> <a href="https://www.mulesoft.com/case-studies">Customer stories</a></li>
                      <li> <a href="https://www.mulesoft.com/events">Events</a></li>
                      <li> <a href="https://www.mulesoft.com/press-center">News</a></li>
                      <li> <a href="https://www.salesforce.com/company/careers/" target="_blank">Careers </a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-bottom">
      <div class="footer-inside">
        <div class="logo-wrapper"> <a href="https://www.mulesoft.com" class="footer-logo" aria-label="Link to homepage"></a></div>
        <nav class="footer-links"><span class="footer-copyright"><span>&copy; Copyright 2023</span> Salesforce, Inc. <a href="https://www.salesforce.com/company/legal/intellectual/"> All rights reserved.</a></span> <a class="footer-links-separator" href="https://www.salesforce.com/company/privacy/" target="_blank">Privacy</a> <a class="footer-links-separator" href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Privacy/privacy-shield-notice.pdf" target="_blank">Privacy Shield</a> <a class="footer-links-separator" href="https://www.salesforce.com/company/legal/sfdc-website-terms-of-service/" target="_blank">Terms</a> <button class="ot-sdk-show-settings optanon-toggle-display removable" data-ignore-geolocation="true" id="ot-sdk-btn">Cookie Settings</button>
          <div class="footer-legal-req"><a href="https://www.salesforce.com/form/other/privacy-request/" target="_blank">Your Privacy Choices</a></div>
        </nav>
        <nav class="social-logos"><a href="https://www.linkedin.com/company/mulesoft/" target="_blank" class="icon-muletheme-linkedin lazy" aria-label="Link to MuleSoft Linkedin profile"><span>Link to MuleSoft Linkedin profile</span></a> <a href="https://twitter.com/MuleSoft" target="_blank" class="icon-muletheme-twitter lazy" aria-label="Link to MuleSoft Twitter profile"><span>Link to MuleSoft Twitter profile</span></a> <a href="https://www.instagram.com/mulesoft" target="_blank" class="icon-muletheme-instagram lazy" aria-label="Link to MuleSoft Instagram profile"><span>Link to MuleSoft Instagram profile</span></a> <a href="https://www.facebook.com/MuleSoft/" target="_blank" class="icon-muletheme-facebook lazy" aria-label="Link to MuleSoft Facebook profile"><span>Link to MuleSoft Facebook profile</span></a> <a href="https://www.youtube.com/user/mulesoftvids" class="icon-muletheme-videos lazy" aria-label="Link to MuleSoft Video platform"><span>Link to MuleSoft Videos platform</span></a> <a href="https://www.twitch.tv/mulesoft_community" class="icon-muletheme-twitch" aria-label="Link to MuleSoft Twitch profile"><span>Link to MuleSoft Twitch profile</span></a> </nav>
        <div class="language-selector-wrapper main-menu-language notranslate">
          <ul class="language-selection">
            <li class="german"><a href="https://www.mulesoft.com/de">Deutsch</a></li>
            <li class="english"><a href="https://www.mulesoft.com/">English <sub>Full site</sub></a></li>
            <li class="french"><a href="https://www.mulesoft.com/fr">French</a></li>
            <li class="japanese"><a href="https://www.mulesoft.com/jp">Japanese</a></li>
            <li class="portuguese"><a href="https://www.mulesoft.com/pt">Portuguese</a></li>
            <li class="spanish"><a href="https://www.mulesoft.com/es">Spanish</a></li>
          </ul>
          <ul class="language-selected">
            <li class="german"><a href="https://www.mulesoft.com/de">Deutsch</a></li>
            <li class="french"><a href="https://www.mulesoft.com/fr">French</a></li>
            <li class="japanese"><a href="https://www.mulesoft.com/jp">Japanese</a></li>
            <li class="portuguese"><a href="https://www.mulesoft.com/pt">Portuguese</a></li>
            <li class="spanish"><a href="https://www.mulesoft.com/es">Spanish</a></li>
            <li class="english"><a href="https://www.mulesoft.com/">English <sub>Full site</sub></a></li>
          </ul>
        </div>
      </div>
    </section>
  </footer>
  <script type="text/javascript" src="https://www.mulesoft.com/themes/custom/mule_foundation/endpoints/js/stormbreaker.js"></script>
  <div id="stormbreaker" style=""></div>
</div>