<thead>
  <tr class="connectors-search">
    <td class="thead-td" colspan="2">
      <input class="input js-connector-title" placeholder="Search connectors" type="search">
    </td>
    <td class="thead-td" colspan="2">
      <div class="select-wrapper">
        <select class="select js-connector-type">
          <option disabled selected value="">Type</option>
          <option value="">All</option>
          <option value="Connector">Connector</option>
          <option value="Module">Module</option>
        </select>
        <img alt="" aria-label="Expand Connector Type" class="select-dropdown-arrow" src="{{@root.uiRootPath}}/img/icons/dropdown-arrow.svg" role="button">
      </div>
    </td>
  </tr>
</thead>