<div class="select-wrapper">
  <span class="select js-connector-version-trigger">v5.4.0–4.0.1</span>
</div>
<div class="js-connector-version" style="display: none;">
  <div class="popover popover-connector-version">
    <header class="flex header">
      <div class="col">Runtime</div>
      <div class="col">Connector version</div>
    </header>
    <ol class="list">
      <li>
        <a class="link" href="#">
          <div class="col">4.0.0 and later</div>
          <div class="col">3.4.0 and later</div>
        </a>
      <li>
        <a class="link" href="#">
          <div class="col">4.0.1 to 5.4.0</div>
          <div class="col">2.7.0 to 4.3.4</div>
        </a>
    </ol>
  </div>
</div>
