<thead>
  <tr class="connectors-search">
    <td class="thead-td" colspan="2">
      <input class="input js-connector-title" placeholder="Search connectors" type="search">
    </td>
    <td class="thead-td">
      <div class="select-wrapper">
        <select class="select js-connector-runtime">
          <option disabled selected value="">Runtime Version</option>
          <option value="">All</option>
          <option value="3">Mule 3</option>
          <option value="4">Mule 4</option>
        </select>
      </div>
    </td>
    <td class="thead-td" colspan="2">
      <div class="select-wrapper">
        <select class="select js-connector-type">
          <option disabled selected value="">Type</option>
          <option value="">All</option>
          <option value="Connector">Connector</option>
          <option value="Module">Module</option>
        </select>
      </div>
    </td>
  </tr>
</thead>
