<header class="header-connectors">
  <div class="flex align-center header-connectors-title">
    <a class="flex align-center link" href="#">
      <svg class="icon icon-md icon-back-arrow"><use xlink:href="#icon-forward-arrow"/></svg>
      All Connectors
    </a>
  </div>
  <div class="flex align-center">
    <div class="flex align-center justify-center connector-avatar">
      <img
        alt="{{{page.attributes.vendor-title}}} logo"
        class="connector-avatar-img"
        src="{{uiRootPath}}/img/logos/{{page.attributes.vendor-name}}.png"
        width="75"
      >
    </div>
    <h1 class="h1">{{{page.title}}}</h1>
   </div>
</header>
{{> article}}
