<div class="select-wrapper">
  <span class="select js-connector-version-trigger">9.2.0 to 9.8.1</span>
</div>
<div class="js-connector-version" style="display: none;">
  <div class="popover popover-connector-version">
    <header class="flex header">
      <div class="col">Mule Runtime</div>
      <div class="col">Connector</div>
    </header>
    <ol class="list">
      <li>
        <a class="link" href="#">
          <div class="col">&#8805; 4.1.1</div>
          <div class="col">9.2.0 to 9.8.1</div>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <div class="col">&#8805; 4.1.0</div>
          <div class="col">9.1.0 to 9.1.2</div>
        </a>
      </li>
      <li>
        <a class="link" href="#">
          <div class="col">&#8805; 3.5.0</div>
          <div class="col">5.4.10 to 8.9.0</div>
        </a>
      </li>
    </ol>
  </div>
</div>
