<section class="connectors-table-wrapper">
  <table class="connectors-table">
{{> connectors-search}}
{{#each (connectors)}}
{{> connectors-tablerow attrs=latest.asciidocConfig.attributes oldest=(last versions)}}
{{/each}}
  </table>
</section>
