<div class="connector-sidebar">
  <div class="flex align-center justify-justified row">
    <div class="col">Versions</div>
    <div class="col">
{{> connectors-version-menu}}
    </div>
  </div>
  <div class="flex align-center justify-justified row">
    <div class="col">Mule Runtime</div>
    <!--
    <div class="col">{{#if (eq page.version '0')}}Mule 3{{else}}Mule 4{{/if}}</div>
    -->
    <div class="col">&#8805; 4.1.1</div>
  </div>
  <div class="flex align-center justify-justified row">
    <div class="col">Tier</div>
    <div class="col">
      <div class="flex align-center">
        {{{page.attributes.connector-tier}}}
        <div class="flex align-center justify-center tier-help js-connector-tier-trigger" data-tier="{{{page.attributes.connector-tier}}}">
          <svg class="icon icon-help"><use xlink:href="#icon-help"/></svg>
        </div>
      </div>
    </div>
  </div>
  <section class="flex col connector-sidebar-categories">
    <header class="row categories-header">Links</header>
    <a class="flex align-center link" href="//docs.mulesoft.com/connectors/amazon/amazon-dynamodb-connector">Release notes</a>
    <a class="flex align-center link" href="{{page.attributes.exchange-url}}" target="_blank">View in Exchange
      <svg class="icon icon-md icon-external"><use xlink:href="#icon-external"/></svg>
    </a>
  </section>
</div>
