<header class="header-connectors">
  <div class="flex align-center header-connectors-title">
    <a class="flex align-center link" href="{{relativize site.components.connectors.url}}">
      <svg class="icon icon-md icon-back-arrow">
        <use xlink:href="#icon-forward-arrow" />
      </svg>
      All Connectors
    </a>
  </div>
</header>
{{> article}}