<header class="header-connectors">
  <div class="flex align-center header-connectors-title">
    <a class="flex align-center link" href="{{relativize site.components.connectors.url}}">
      <svg class="icon icon-md icon-back-arrow">
        <use xlink:href="#icon-forward-arrow" />
      </svg>
      All Connectors
    </a>
  </div>
  {{!--
  <div class="flex align-center">
    <div class="flex align-center justify-center connector-avatar">
      <img alt="[icon]" class="connector-avatar-img"
        src="https://anypoint.mulesoft.com/exchange/organizations/68ef9520-24e9-4cf2-b2f5-620025690913/assets/{{page.attributes.exchange-group-id}}/{{page.attributes.exchange-asset-id}}/icon/svg/"
        width="75">
    </div>
    <h1 class="h1">{{{page.title}}}</h1>
  </div>
  --}}
</header>
{{> article}}