{{#unless (eq (site-profile) 'archive')}}
<section class="survey">
  <div class="survey-icon">
    <svg width="74" height="51" viewBox="0 0 74 51" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_449_60)">
    <path d="M37.1206 46.1488C32.6946 48.095 27.8245 49.1784 22.7065 49.1784C17.5885 49.1784 12.7184 48.095 8.29235 46.1488L12.6893 29.2727C6.70197 25.7095 2.67078 19.056 2.67078 11.43C2.67078 7.95896 3.50891 4.69069 4.98276 1.82129L18.5338 21.725H26.8792L40.4302 1.82129C41.9041 4.69069 42.7422 7.95896 42.7422 11.43C42.7422 19.056 38.711 25.7095 32.7237 29.2727L37.1206 46.1488Z" fill="url(#paint0_linear_449_60)"/>
    <g clip-path="url(#clip1_449_60)">
    <path d="M70.2068 2H51.3957C50.6155 2.00176 49.8678 2.31249 49.3161 2.86418C48.7644 3.41587 48.4537 4.16362 48.4519 4.94382V16.412C48.4537 17.1922 48.7644 17.94 49.3161 18.4917C49.8678 19.0434 50.6155 19.3541 51.3957 19.3559H54.8268C54.8669 20.9913 54.8268 22.6134 54.8268 24.2489C54.7534 25.0833 55.4944 25.3236 55.9617 24.6494C57.5504 22.9005 59.1458 21.1582 60.7279 19.4026L60.8013 19.3559H70.2001C70.9804 19.3541 71.7281 19.0434 72.2798 18.4917C72.8315 17.94 73.1422 17.1922 73.144 16.412V4.94382C73.1422 4.16477 72.8324 3.41802 72.2822 2.86652C71.7319 2.31502 70.9859 2.00352 70.2068 2ZM53.7922 6.67273H61.135C61.3121 6.67273 61.4819 6.74307 61.607 6.86826C61.7322 6.99344 61.8026 7.16322 61.8026 7.34027C61.8026 7.51731 61.7322 7.68709 61.607 7.81227C61.4819 7.93746 61.3121 8.0078 61.135 8.0078H53.7922C53.6151 8.0078 53.4453 7.93746 53.3202 7.81227C53.195 7.68709 53.1246 7.51731 53.1246 7.34027C53.1246 7.16322 53.195 6.99344 53.3202 6.86826C53.4453 6.74307 53.6151 6.67273 53.7922 6.67273ZM67.8104 14.6831H53.7922C53.6151 14.6831 53.4453 14.6128 53.3202 14.4876C53.195 14.3624 53.1246 14.1926 53.1246 14.0156C53.1246 13.8386 53.195 13.6688 53.3202 13.5436C53.4453 13.4184 53.6151 13.3481 53.7922 13.3481H67.8104C67.9874 13.3481 68.1572 13.4184 68.2824 13.5436C68.4076 13.6688 68.4779 13.8386 68.4779 14.0156C68.4779 14.1926 68.4076 14.3624 68.2824 14.4876C68.1572 14.6128 67.9874 14.6831 67.8104 14.6831ZM67.8104 11.3455H53.7922C53.6151 11.3455 53.4453 11.2751 53.3202 11.1499C53.195 11.0248 53.1246 10.855 53.1246 10.6779C53.1246 10.5009 53.195 10.3311 53.3202 10.2059C53.4453 10.0807 53.6151 10.0104 53.7922 10.0104H67.8104C67.9874 10.0104 68.1572 10.0807 68.2824 10.2059C68.4076 10.3311 68.4779 10.5009 68.4779 10.6779C68.4779 10.855 68.4076 11.0248 68.2824 11.1499C68.1572 11.2751 67.9874 11.3455 67.8104 11.3455Z" fill="#3EBDF2"/>
    </g>
    </g>
    <defs>
    <linearGradient id="paint0_linear_449_60" x1="49.9621" y1="28.2031" x2="16.1186" y2="-7.95249" gradientUnits="userSpaceOnUse">
    <stop stop-color="#3EBDF2"/>
    <stop offset="1" stop-color="#B1E1FD"/>
    <stop offset="1" stop-color="#90DAF6"/>
    </linearGradient>
    <clipPath id="clip0_449_60">
    <rect width="72.3013" height="51" fill="white" transform="translate(0.849365)"/>
    </clipPath>
    <clipPath id="clip1_449_60">
    <rect width="24.6987" height="23.0366" fill="white" transform="translate(48.4519 2)"/>
    </clipPath>
    </defs>
    </svg>
  </div>
  <div class="survey-title">Submit your feedback!</div>
  <div class="survey-text"><p>Take our <strong>5 minute survey</strong> and you'll be entered to <strong>win 1 of 10 $25 gift cards</strong>!</p></div>
  <a class="survey-button" href="https://s2.userzoom.com/m/MSBDNTQxOFMxMzI4">Take the survey!</a>
</section>
{{/unless}}