<aside class="toc toc-sidebar scrollbar">
{{> github}}
{{> survey}}
  <div class="aside-toc">
    <nav class="toc-menu" aria-label="Skip to page content sections"></nav>
  </div>
{{#if (ne page.layout '404')}}
{{/if}}
</aside>
