.banner {
  align-items: center;
  background-color: var(--core-blue-0);
  display: flex;
  height: var(--banner-height);
  position: sticky;
  top: 0;
  z-index: var(--z-banner);
}

.banner p {
  color: #087299;
  font-size: 12px;
  line-height: 1.35;
  margin: 0 1em;
}

.banner a {
  color: inherit;
}

.banner + .flex.container > .nav,
.banner + .flex.container > .toc {
  max-height: calc(100vh - var(--banner-height));
}

@media (--md) {
  .banner p {
    font-size: 14px;
  }
}

#deprecated-banner {
  background-color: #ffe3a2;
  color: black;
  height: 12%;
  justify-content: center;
  left: 0%;
  position: fixed;
  right: 0%;
  text-align: center;
  top: 88%;
  width: 100%;

  @media (--md) {
    height: 4%;
    top: 96%;
  }
}

#deprecated-banner p {
  color: black;
  font-size: 12px;
}
