.banner {
  align-items: center;
  background-color: var(--core-blue-0);
  display: flex;
  height: var(--banner-height);
  position: sticky;
  top: 0;
  z-index: var(--z-banner);
}

.banner p {
  color: #087299;
  font-size: 14px;
  line-height: 1.35;
  margin: 0 1em;
}

.banner a {
  color: inherit;
}

.banner + .flex.container > .nav,
.banner + .flex.container > .toc {
  max-height: calc(100vh - var(--banner-height));
}
