.deprecation-notice {
  background: #ffe3a2;
  font-size: 12px;
  height: fit-content;
  margin-bottom: -20px;
  z-index: var(--z-backdrop);

  & p {
    margin: 12px 40px -20px 40px;
    padding-bottom: 15px;
    padding-top: 15px;

    @media (--lg) {
      padding-top: 10px;
    }
  }
}

.sticky {
  position: sticky;
  top: 50px;
}
