.deprecation-notice {
  background: #ffe3a2;
  font-size: 12px;
  height: 85px;
  margin-bottom: -20px;
  z-index: var(--z-backdrop);

  @media (--lg) {
    height: 75px;
  }

  @media (--xl) {
    height: 60px;
  }

  & p {
    margin: 12px 40px -20px 40px;
    padding-bottom: 15px;
    padding-top: 15px;

    @media (--lg) {
      padding-top: 10px;
    }
  }
}

.sticky {
  position: sticky;
  top: 50px;
}
