.gdpr {
  backdrop-filter: blur(10px);
  background: rgba(0,0,0,.7);
  bottom: 0;
  display: none;
  left: 0;
  min-height: 90px;
  padding: 20px;
  position: fixed;
  right: 0;
  width: 100vw;
  z-index: var(--z-gdpr);

  @media (--md) {
    padding: 20px 80px;
  }

  &.show {
    display: block;
  }

  & .link {
    color: var(--secondary-navy);
  }
}

.gdpr-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1160px;
  position: relative;
  width: 100%;

  @media (--md) {
    align-items: center;
  }
}

.gdpr-text {
  color: var(--tertiary);
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 30px;

  @media (--md) {
    font-size: 15px;
    line-height: 25px;
    padding-right: 60px;
  }
}

.gdpr-close {
  background: none;
  border: 0;
  color: var(--tertiary);
  cursor: pointer;
  font-size: 35px;
  height: 30px;
  opacity: .25;
  padding: 0;
  position: absolute;
  right: 0;
  top: -10px;
  transform: rotate(45deg);
  width: 30px;

  @media (--md) {
    right: 10px;
    top: auto;
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }

  &:focus {
    box-shadow: none;
  }
}
