/* specificity to override position */
.ms-com-content.ms-com-content-header.br-nav.closed.new-nav.with-helmet {
  min-height: 100px;

  @media (min-width: 991px) {
    position: relative;
  }
}

.top-banner {
  @media (max-width: 992px) {
    min-height: 100px;
  }
}
