/* overrides for marketing header */
.ms-com-content-header {
  border-bottom: 1px solid var(--aluminum-3);
  box-shadow: 0 3px 15px rgba(0,0,0,.025);
}

/* specificity to override position */
.ms-com-content.ms-com-content.ms-com-content-header:not(.ms-com-content-header-with-banner) {
  position: relative;
  z-index: var(--z-header);
}

.ms-com-content.ms-com-content.ms-com-content-header header.ms-com-header.desktop-header .mega-menu-wrapper {
  position: absolute;
}

.ms-com-content.ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside,
.ms-com-content.ms-com-content.ms-com-content-footer footer .footer-inside,
.ms-com-content.ms-com-content.ms-com-content-footer footer .footer-bottom .footer-inside {
  max-width: var(--screen-xl);
}
