/* specificity to override position */
.br-nav.ms-com-content.ms-com-content-header:not(.active) {
  position: relative !important;

  & > div.ms-com-helmet > div > a {
    line-height: initial;
  }

  & button.cross {
    background: transparent;
    border: none;
  }
}
