.nav {
  background: var(--tertiary);
  box-shadow: 1px 0 0 var(--aluminum-3), 3px 0 15px #0006;
  color: var(--steel-3);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 100vh;
  left: 0;
  max-height: 100%;
  max-height: stretch;
  max-height: var(--vh, 1vh) * 100;
  max-height: -moz-available;
  max-height: -webkit-fill-available;
  order: 1;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform var(--transition-speed-sm) var(--transition-timing);
  visibility: hidden;
  width: var(--mobile-nav-width);
  z-index: var(--z-nav-mobile);

  &.is-active {
    transform: none;
    visibility: visible;
  }

  & * {
    -webkit-tap-highlight-color: transparent;
  }

  & .search {
    background: var(--lume-g-color-neutral-100);
    display: block;
    position: sticky;
    top: 0;
    z-index: inherit;
  }

  & .nav-close-button {
    background-color: var(--sds-g-color-blue-30);
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    height: 50px;
    left: var(--mobile-nav-width);
    padding: 0;
    position: absolute;
    top: 35px;
    width: 20px;
    z-index: var(--z-nav-mobile);

    & img {
      filter: invert(1);
      transform: rotate(90deg);
    }

    &:focus,
    &:hover {
      background-color: var(--tertiary);
      box-shadow: 0 0 0 3px rgb(0 162 223 / 25%);
      outline: 1px solid var(--sds-g-color-blue-30);

      & img {
        filter: initial;
      }
    }

    &:active {
      background-color: var(--eyebrow-gray);
      box-shadow: 0 0 0 3px rgb(0 162 223 / 25%);
      outline: 1px solid var(--sds-g-color-blue-30);

      /* need to restate this to keep the arrow white */
      & img {
        filter: invert(1);
      }
    }

    @media (--md) {
      display: none;
    }
  }

  @media (--md) {
    box-shadow: 1px 0 0 var(--aluminum-3);
    min-width: var(--nav-width);
    position: sticky;
    transform: none;
    transition: none;
    visibility: visible;
    width: var(--nav-width);
    z-index: var(--z-nav);
  }
}

.nav-text {
  display: flex;
  margin-right: 5%;
  text-decoration: none;
  width: -moz-available;
  width: -webkit-fill-available;
}

.nav-title > .nav-text,
.nav-group > .nav-list > .nav-item > .nav-text {
  &:hover {
    color: var(--steel-3);
    font-weight: var(--weight-bold);
    letter-spacing: var(--bold-text-letter-spacing);
  }

  &:hover svg {
    filter: grayscale(0);
  }
}

.nav-text:not([href]),
.nav-item-toggle + span.nav-text {
  cursor: pointer;

  &:focus {
    border-radius: var(--radius);
    outline: 2px solid var(--lume-g-color-neutral-50) !important;
  }

  &:hover {
    margin-right: 3%;
  }
}

.nav-groups {
  flex: auto;
  padding: 25px var(--lg) var(--md);
  position: relative;
  scrollbar-gutter: stable;
}

.nav-group {
  margin-right: -6px; /* cross-browser alternative to `overflow-y: overlay` */

  & > .nav-title {
    align-items: center;
    display: flex;
    font-size: var(--font-size-default);
    padding-top: 2.25em;
  }

  &:first-child > .nav-list > .nav-item:first-child {
    margin-top: 0;
  }
}

svg.nav-group-icon {
  height: 1em;
  margin-left: 0.625em;
  order: 1;
  width: 1em;
}

.nav-list .nav-title {
  display: flex;
  justify-content: space-between;
  position: relative;

  & + .nav-list {
    margin-left: 2em;
  }
}

svg.nav-icon {
  filter: grayscale(1);
  flex: none;
  height: 1.6em;
  margin-right: 0.5em;
  opacity: 0.75;
  width: 1.5em;
}

.nav-list {
  & .nav-text + .nav-list {
    margin-left: 1.5em;
  }

  & .nav-text.has-icon + .nav-list {
    margin-left: 2em;
  }

  & .nav-item {
    margin-top: var(--md);

    &:not(.is-active) > .nav-list,
    & > .nav-list ~ .nav-list {
      display: none;
    }

    & [aria-current="page"] {
      background-color: var(--sds-g-color-cloud-blue-95);
      border-left: 3px solid var(--sds-g-color-blue-30);
      color: var(--sds-g-color-blue-30);
      padding: 3px;
      width: -moz-available;
      width: -webkit-fill-available;
    }

    &[data-component="archive"] {
      width: min-content;
    }

    &.is-active {
      & > .nav-item-toggle::before {
        content: "-";
      }
    }

    & .external-link-image {
      margin-left: 10px;
      margin-right: -5px;
      width: 12px;

      @media (--md) {
        margin-right: 0;
      }
    }
  }

  & .nav-list {
    & > .nav-item {
      margin-top: var(--sm);

      & > .nav-text {
        &:hover {
          color: var(--steel-3);
          text-decoration: underline;
        }
      }

      &[data-component] {
        margin-left: -0.5em;
      }
    }

    & .nav-icon {
      transform: scale(0.75);
      transform-origin: right;
    }
  }
}

.nav-item-toggle {
  background: none;
  border: 0;
  box-shadow: none !important;
  color: inherit;
  cursor: pointer;
  font-weight: var(--weight-bold);
  line-height: inherit;
  margin-left: -1.5em;
  opacity: 0.8;
  padding: 0;
  position: absolute;
  width: 1.2em;

  &::before {
    content: "+";
    display: block;
  }

  &:focus-visible {
    border-radius: var(--radius);
    outline: 2px solid var(--lume-g-color-neutral-50);
  }

  &:hover {
    filter: brightness(0%);
  }
}

.nav-group > .nav-list > .nav-item > .nav-item-toggle {
  display: none;
}

.nav-version {
  border-radius: 10px;
  height: 100%;
  margin-left: -6px;
  position: fixed;

  &:focus {
    border: 1px solid var(--sds-g-color-blue-30);
    box-shadow: 0 0 0 3px #00a2df40;
  }
}

.nav-version-dropdown {
  flex: none;
  
  & p {
    margin: 0;
    
    &.prev-flag {
      background: unset;
      border: 1px solid var(--aluminum-4);
      border-radius: 2em;
      color: var(--steel-2);
      font-family: var(--font-sans-serif);
    }
  }
}

.nav-version-wrapper {
  align-items: center;
  background: 0 0;
  border: 1px solid var(--aluminum-4);
  border-radius: 1em;
  color: var(--steel-2);
  cursor: pointer;
  display: flex;
  font-size: 0.75rem;
  height: 25px;
  min-height: unset;
  min-width: 54px;
  padding: 0 2px 0 6px;
  transform: translateY(0.075em);

  &:hover {
    border-color: var(--steel-2);
    box-shadow: 0 0 0 3px #58595a4d;
    color: var(--steel-2);
  }

  &:focus,
  &:active {
    border: none;
  }

  & svg.nav-version-icon {
    height: 1em;
    margin: 0 0.125em;
    width: 1em;
  }

  &.selector-active {
    border: 1px solid var(--sds-g-color-blue-30);
    box-shadow: 0 0 0 3px #00a2df40;
    font-weight: var(--weight-bold);
  }

  .tooltip-dot + .version-label {
    margin-left: auto;
}

  & .version-label {
    margin: auto auto auto 9px;
  }
}

.nav-version-menu {
  background: var(--tertiary);
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--aluminum-3), 0 2px 9px #0000001a;
  font-size: 0.75rem;
  max-height: 0;
  max-width: 160px;
  min-width: 80px;
  opacity: 0;
  overflow: hidden;
  padding: var(--xs);
  pointer-events: none;
  position: absolute;
  right: 1.5em;
  top: 2.25em;
  transform: scale(0.95) translate3d(2px, -5px, 0);
  transform-origin: top right;
  transition: opacity var(--transition-speed-sm) var(--transition-timing),
    transform var(--transition-speed-sm) var(--transition-timing);
  z-index: var(--z-nav);

  &.is-active {
    font-weight: var(--weight-bold);
    letter-spacing: var(--bold-text-letter-spacing);
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translate3d(0, 0, 0);
  }

  &.is-clipped {
    transition: opacity var(--transition-speed-sm) var(--transition-timing),
      transform var(--transition-speed-sm) var(--transition-timing),
      max-height 0s var(--transition-speed-sm);
  }

  & button,
  & span:not(.tooltip-dot-nav-version-menu, .tooltip-dot-nav-version) {
    display: list-item;
    padding: var(--xs) var(--input-md) var(--xs) var(--sm);
  }

  & .nav-version-label {
    font-weight: var(--weight-bold);
  }

  & .nav-version-option + .nav-version-label {
    margin-top: var(--xs);
  }

  & .nav-version-option.selected {
    &::after {
      content: " ✔️";
      float: right;
      font-size: xx-small;
      margin-right: calc(0px - var(--lg));
    }
  }

  & .nav-version-option {
    background: none;
    border: 0;
    border-radius: 2px;
    color: var(--steel-3);
    cursor: pointer;
    float: right;
    text-align: left;
    width: 90%;

    &:hover {
      background: var(--aluminum-2);
      font-weight: var(--weight-bold);
      letter-spacing: var(--bold-text-letter-spacing);
    }

    &:active,
    &:focus {
      outline: 2px solid var(--lume-g-color-neutral-50);
    }
  }
}
