.nav {
  background: var(--tertiary);
  border-right: 1px solid var(--aluminum-3);
  box-shadow: 3px 0 15px rgba(0,0,0,.025);
  flex: 0 0 var(--nav-width);
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 12px var(--md) 0;
  position: fixed;
  top: 0;
  transform: translateX(calc(-1 * var(--nav-width)));
  width: var(--nav-width);
  z-index: var(--z-nav-mobile);

  @media (--md) {
    border-right: 0;
    box-shadow: none;
    height: auto;
    left: auto;
    position: relative;
    position: sticky;
    top: 0;
    transform: translateX(0);
    z-index: var(--z-nav);
  }

  &.active {
    transform: translateX(0);
  }

  & ::selection {
    background: transparent;
  }

  /* search input wrapper */
  & .search {
    margin: 8px 0 var(--sm);
    position: relative;
    width: $nav-width - ($lg * 2);

    & .button {
      color: var(--aluminum-5);
      text-align: left;
      width: 100%;

      &:focus {
        color: var(--core-blue-3);
      }
    }

    & .svg {
      fill: currentColor;
      height: var(--md);
      margin-right: var(--xs);
      width: var(--md);
    }
  }

  & > .nav-list {
    padding-bottom: 12px;
    visibility: hidden;
    &.is-loaded {
      visibility: visible;
    }
  }

  /* spacing between lists when active */
  & > .nav-list > .nav-li.active + .nav-li {
    margin-top: var(--md);
  }
}

.nav-list {
  overflow: hidden;

  /* for product icons */
  & > .nav-li .nav-link,
  & > .nav-li .nav-heading {
    padding-left: 25px;
  }

  & > .nav-li .nav-list .nav-heading {
    color: var(--aluminum-5);
  }

  & > .nav-li.active {
    & .nav-link.nav-heading {
      color: var(--core-blue-3);
    }
    & .icon {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

.nav-link,
.nav-heading {
  font-size: 14px;
  padding: var(--xs);
}

.nav-link {
  cursor: pointer;
  padding: 7px var(--xs) 7px 25px;
  position: relative;
  text-decoration: none;

  &:focus {
    color: var(--steel-2);
  }

  &.active {
    color: var(--core-blue-3);

    & .icon {
      filter: grayscale(0);
      opacity: 1;
    }
  }

  & .icon {
    filter: grayscale(1);
    height: var(--lg);
    left: 0;
    margin-right: var(--xs);
    opacity: .75;
    position: absolute;
    top: 8px;
    width: var(--lg);
  }

  /* less padding for not parent links */
  & .nav-link {
    padding-bottom: var(--xs);
    padding-top: var(--xs);
  }
}

.nav-toggle {
  flex: 0 0 auto;
  font-size: 13px;

  @media (--md) {
    display: none;
  }
}

.nav-heading {
  color: var(--steel-2);
}

.nav-li[data-depth="1"] > .nav-heading {
  font-weight: var(--weight-bold);
  padding-top: .5em;

  & .span {
    border-bottom: 1px solid var(--aluminum-4);
    display: inline-block;
    padding-bottom: .25em;
  }
}

/* collapsing margin for nested lists (note: this is why we don't use flexbox on list items) */
.nested-list {
  margin-bottom: var(--md);
}

.nav-nested + .nav-list {
  margin-left: 25px;
}

button.subnav-toggle {
  background: none;
  border: 0;
  color: var(--aluminum-5);
  cursor: pointer;
  font-weight: var(--weight-bold);
  margin: 0;
  padding: .5em 0;
  position: absolute;
  z-index: 1;
  &:focus {
    box-shadow: none;
    outline: 0;
  }
  &::before {
    content: "+";
    display: block;
    text-align: center;
    width: 1.5em;
  }
}

.nav-li.active > button.subnav-toggle::before {
  content: "-";
}
