.toc {
  max-height: 100vh;
  top: 0;
}

.toc-sidebar {
  display: none;
  flex: 0 0 auto;
  height: fit-content;
  max-width: var(--toc-width);
  padding: var(--lg) var(--md) var(--xl);
  position: sticky;
  top: 0;

  @media (--lg) {
    display: block;
  }

  & .button-edit {
    font-size: 11px;
    margin-bottom: var(--lg);
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

.toc-menu a {
  border-left: 3px solid var(--aluminum-3);
  color: var(--steel-2);
  display: block;
  font-size: 12px;
  padding: var(--xs) var(--sm);
  text-decoration: none;

  &:hover {
    border-left-color: var(--steel-2);
    color: var(--steel-2);
    font-weight: var(--weight-bold);
    letter-spacing: var(--bold-text-letter-spacing);
  }

  &:focus {
    border-radius: var(--radius);
    outline: 2px solid var(--lume-g-color-neutral-50);
  }

  &:active,
  &.is-active {
    background-color: var(--sds-g-color-cloud-blue-95);
    border-color: var(--sds-g-color-blue-30);
    border-width: 5px;
    color: var(--sds-g-color-blue-30);
    margin-left: -1px;
  }

  & code {
    background: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
  }
}

.toc-embedded {
  width: 100%;

  @media (--lg) {
    display: none;
  }
}

.toc-title {
  font-size: 14px;
  font-weight: var(--weight-bold);
  margin-bottom: var(--sm);
}
