.toolbar {
  background: var(--tertiary);
  border-bottom: 1px solid var(--aluminum-3);
  overflow-y: hidden;
  padding: var(--sm) var(--lg);
  position: sticky;
  top: 0;
  z-index: var(--z-nav-toolbar);

  @media (--lg) {
    padding-left: var(--xl);
    padding-right: var(--xl);
  }
}

.toolbar-home {
  @media (--md) {
    display: none;
  }
}

.nav-toggle {
  margin-right: var(--md);

  @media (--md) {
    display: none;
  }
}
