.toolbar {
  background: var(--tertiary);
  border-bottom: 1px solid var(--aluminum-3);
  padding: var(--sm) var(--lg);
  position: sticky;
  top: 0;
  z-index: var(--z-nav-toolbar);

  &:not(.search-toolbar) {
    height: var(--toolbar-height);
    overflow-y: hidden;
  }

  @media (--lg) {
    padding-left: var(--xl);
    padding-right: var(--xl);
  }

  & button:not(.search-page-back-button, .breadcrumbs-toggle) {
    height: 30px;
    min-height: unset;
  }
}

body:has(.top-banner:not(.hide)) .toolbar {
  top: var(--mobile-banner-height);

  @media (--md) {
    top: var(--banner-height);
  }
  
  @media (--lg) {
    top: 0;
  }
}

.search-toolbar {
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  display: grid;
  min-height: var(--search-toolbar-height);

  @media (min-width: 1024px) {
    column-gap: var(--atomic-layout-spacing-x);
    grid-template-areas: ". search-page-back-button atomic-external .";
    grid-template-columns: 1fr minmax(17rem, 22rem) minmax(50%, 70rem) 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

/* this is used by the toolbar on certain homepages - we want to keep it unmodified in small screen size to retain the layout */
.toolbar-home {
  @media (--md) {
    display: none;
  }
}

.nav-toggle {
  height: 30px;
  margin: auto;
  padding: 0 5px;

  @media (--md) {
    display: none;
  }
}
