.top-banner {
  align-items: center;
  background-color: var(--core-blue-0);
  border-bottom: 2px solid #57a3fd;
  height: var(--banner-height);
  position: sticky;
  top: 0;
  z-index: var(--z-banner);

  & .top-banner-close-button {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 20px;
    padding: 11px 17px;
  }

  & a {
    color: inherit;
  }

  & img {
    filter: grayscale(100%) brightness(0);
    height: 17px;
    vertical-align: middle;
  }

  & p {
    color: #000;
    font-size: 12px;
    line-height: 1.35;
    margin: 0 0 0 45px;
    text-align: center;
  }
}

@media (--md) {
  .top-banner p {
    font-size: 14px;
  }

  .top-banner:not(.hide) + .flex.container > .nav,
  .top-banner:not(.hide) + .flex.container > .toc {
    max-height: calc(100vh - var(--banner-height));
    top: var(--banner-height);
  }
}

.announcement {
  background-color: #ffe3a2;
  border-bottom: 2px solid #8c4b02;
}
