.versions {
  align-self: start;
  border: 1px solid var(--aluminum-4);
  border-radius: 1em;
  color: var(--aluminum-5);
  font-size: 12px;
  font-weight: var(--weight-normal);
  height: 1.75em;
  margin-right: 3px;
  padding: 0 2px 0 6px;
  position: relative;
  top: .7em;

  &:hover {
    border-color: var(--aluminum-5);
    color: var(--steel-1);
  }

  &:focus,
  &:active {
    background: var(--tertiary);
    border-color: var(--core-blue-3);
    color: var(--core-blue-3);
  }

  & .svg {
    fill: currentColor;
    height: var(--md);
    width: var(--md);
  }
}

.popover-versions-theme {
  font-size: 12px;

  & .ol + .ol {
    margin-top: var(--xs);
  }

  & .li-heading,
  & .li {
    padding: var(--xs) var(--sm);
  }

  & .li-heading {
    font-weight: var(--weight-bold);
    text-align: left;
  }

  & .li {
    border-radius: 2px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: var(--aluminum-2);
    }

    &:active {
      background: #e2f8ff; /* yet another blue */
      color: var(--core-blue-3);
    }
  }

  & .svg {
    fill: var(--aluminum-5);
    height: 25px;
    padding: var(--xs);
    width: 25px;

    &:hover,
    &:focus {
      fill: var(--core-blue-2);
    }

    &:active {
      fill: var(--core-blue-3);
    }

    &:focus {
      outline: 0;
    }
  }
}
