.breadcrumbs {
  flex: 1 1 auto;
  height: var(--input-md); /* match search input */
  overflow-x: auto;
  white-space: nowrap;

  & .link {
    font-size: 12px;
    height: var(--lg);
    opacity: .75;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  /* home icon in breadcrumbs */
  & .link-home {
    width: var(--lg);

    &:active .svg,
    &:focus .svg {
      filter: grayscale(0);
    }

    & .svg {
      filter: grayscale(1);
      height: var(--lg);
      width: var(--lg);
    }
  }

  & .li + .li::before {
    background-image: url(../img/icons/chevron.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--md);
    content: '';
    display: inline-block;
    height: var(--md);
    margin: 0 var(--xs);
    opacity: .4; /* same as search icon */
    pointer-events: none;
    transform: rotate(-90deg);
    width: var(--md);
  }
}
