.deployment-options-row {
    column-gap: 7px;
    row-gap: 7px;

    & .deployment-option {
        border: 1px solid var(--aluminum-4);
        border-radius: 20px;
        color: var(--steel-2);
        column-gap: 3px;
        font-size: 12px;
        padding: 2px 3px;
        text-decoration: none;
    }
}
