.deployment-options-row {
    gap: 10px;
    margin-top: 15px;

    & .deployment-option {
        border: 1px solid var(--aluminum-4);
        border-radius: 20px;
        color: var(--steel-2);
        column-gap: 3px;
        font-size: 12px;
        margin: 0;
        padding: 3px 6px;
        text-decoration: none;

        & a {
            &:active,
            &:focus {
                border: 1px solid var(--sds-g-color-blue-30);
                box-shadow: 0 0 0 3px #00a2df40;
                font-weight: var(--weight-bold);
            }
            
            &:hover {
                border-color: var(--steel-2);
                box-shadow: 0 0 0 3px #58595a4d;
                color: var(--steel-2);
            }
        }
    }
}
