/* link to GitHub */
.button-edit {
  display: inline-flex;
  height: auto;
  text-decoration: none;

  &:focus {
    border-color: var(--sds-g-color-blue-30);
    box-shadow: 0 0 0 3px #00a2df40;
    outline: 0;
  }

  & .svg {
    height: 12px;
    margin-right: 4px;
    width: 12px;
  }
}
