nav.pagination {
  border-top: 1px solid var(--lume-g-color-neutral-80);
  display: flex;
  margin-top: 4rem;
  padding: 2rem 1rem 0;

  & a {
    font-weight: var(--body-font-weight-bold);
    position: relative;

    &::before,
    &::after {
      position: absolute;
      width: 1rem;
    }
  }  

  & span {
    display: flex;
    flex: 50%;
    flex-direction: column;

    &::before {
      font-size: 0.75em;
    }
  }

  & .next {
    margin-left: auto;
    text-align: right;

    &::before {
      content: "Next page";
    }

    & a::after {
      background-image: url("../img/icons/arrow-down.svg");
      background-repeat: no-repeat;
      content: " ";
      height: 21px;
      width: 21px;
      transform: rotate(270deg);
    }
  }
  
  & .prev {
    & a::before {
      background-image: url("../img/icons/arrow-down.svg");
      background-repeat: no-repeat;
      content: " ";
      height: 21px;
      width: 21px;
      transform: translateX(-100%) rotate(90deg);
    }

    &::before {
      content: "Previous page";
    }
  }
}
