.tippy-box {
  font-size: 11px;
  padding: 10px;
}

.tippy-box[data-theme~="connector-popover"] {
  background: var(--tertiary);
  border: 1px solid var(--aluminum-3);
  border-radius: 2px;
  box-shadow: 0 2px 9px rgba(0,0,0,.1);
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.tippy-box[data-theme~="current-version-popover"] > .tippy-svg-arrow > svg {
  fill: #032d61;
}

.tippy-box[data-theme~="current-version-popover"] {
  background: var(--secondary-navy);
  border: none;
  color: var(--tertiary);
  font-size: 11px;
  padding: 10px;
}

.tippy-box[data-theme~="gray-archive-link-popover"] {
  background: var(--secondary-navy);
  border: none;
  color: white;

  & .tippy-svg-arrow > svg {
    fill: var(--secondary-navy);
  }
}

.tippy-box[data-theme~="white-archive-link-popover"] {
  background: white;
  border: none;
  color: black;

  & .tippy-svg-arrow > svg {
    fill: white;
  }
}

.tippy-box[data-theme~="archive-link-popover"] > .tippy-svg-arrow {
  bottom: 0;
}

.tippy-box[data-placement^="top"] > .tippy-svg-arrow {
  bottom: 0;
}

.tippy-box[data-placement^="top"] > .tippy-svg-arrow::after,
.tippy-box[data-placement^="top"] > .tippy-svg-arrow > svg {
  top: 16px;
  transform: rotate(180deg);
}

.tippy-box[data-placement^="bottom"] > .tippy-svg-arrow {
  top: 0;
}

.tippy-box[data-placement^="bottom"] > .tippy-svg-arrow > svg {
  bottom: 16px;
}

.tippy-box[data-placement^="left"] > .tippy-svg-arrow {
  right: 0;
}

.tippy-box[data-placement^="left"] > .tippy-svg-arrow::after,
.tippy-box[data-placement^="left"] > .tippy-svg-arrow > svg {
  left: 11px;
  top: calc(50% - 3px);
  transform: rotate(90deg);
}

.tippy-box[data-placement^="right"] > .tippy-svg-arrow {
  left: 0;
}

.tippy-box[data-placement^="right"] > .tippy-svg-arrow::after,
.tippy-box[data-placement^="right"] > .tippy-svg-arrow > svg {
  right: 11px;
  top: calc(50% - 3px);
  transform: rotate(-90deg);
}

.tippy-svg-arrow {
  fill: #333;
  height: 16px;
  text-align: initial;
  width: 16px;
}

.tippy-svg-arrow,
.tippy-svg-arrow > svg {
  position: absolute;
}
