
.skip-link-container {
  left: 20%;
  opacity: 0;
  position: absolute;
  top: 10px;
  transition: opacity 0.2s linear, z-index 0.5s linear;
  z-index: 0;

  &:focus-within {
    opacity: 1;
    z-index: 500;
  }
}

.skip-link {
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin-left: 7px;
  padding: 7px 8px 7px 8px;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
  top: 10px;
  z-index: -1;
  
  &:focus {
    color: var(--secondary-navy);
    outline: 2px solid #888;
  }
}
