.skip-link-container {
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  left: 20%;
  opacity: 0;
  padding: 6px 10px;
  position: absolute;
  top: 6px;
  transition: opacity .3s linear, z-index .5s linear;
  width: fit-content;
  z-index: -1;

  &:focus-within {
    opacity: 1;
    z-index: 200;
  }
}

aside > .skip-link-container {
  transition: unset;
}

.aside-skip-link-container-selected {
  left: unset;
  margin-bottom: 15px;
  position: relative;
}

.skip-link {
  background-color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 13px;
  margin: 0 1px;
  padding: 1px 2px;
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
  top: 10px;
  z-index: -1;

  &:active,
  &:focus {
    color: var(--lume-g-color-blue-40);
    outline: 3px solid var(--lume-g-color-neutral-50) !important;
  }

  &:hover {
    background-color: #c0edff;
    color: var(--lume-g-color-blue-40);
  }
}
