.survey {
  background: var(--survey-gradient);
  color: #fff;
  margin-bottom: 20px;
  max-height: 280px;
  width: 220px;
  z-index: var(--z-survey);

  /* no space after &. This is for .survey.short to make the survey section shorter */
  &.short {
    height: 150px;
  }

  & .survey-toggle {
    background-color: inherit;
    border: none;
    cursor: pointer;
    filter: brightness(0) invert(1);
    float: right;
    padding: 5% 10px 3% 10px;
    transform: rotate(180deg);

    & img {
      height: 20px;
      width: 20px;
    }

    &[aria-expanded="false"] {
      transform: rotate(0);
    }
  }

  & div.survey-icon {
    padding-bottom: 5px;
    text-align: center;

    & > img {
      filter: invert(1);
    }
  }

  & div.survey-text {
    margin: auto 10%;

    & p {
      font-size: 13px;
      line-height: 20px;
      margin: 0 0 1em 0;
      text-align: center;
    }
  }

  & .survey-button-div {
    padding-bottom: 15px;

    & a.survey-button {
      background: #02a0df;
      color: #fff;
      display: block;
      font-family: var(--sans-serif-bold);
      margin: auto 20px;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;

      &:active,
      &:focus {
        outline: -webkit-focus-ring-color auto 1px;
      }

      &:hover {
        background-color: var(--atomic-primary-light);
      }
    }
  }
}

.mobile-survey-div {
  z-index: var(--z-survey);

  & > .survey {
    bottom: 50%;
    position: fixed;
    right: 50%;
    transform: translate(50%,50%);

    & > .survey-toggle-div {
      @media (--md) {
        display: none;
      }
    }

    & > .survey-icon {
      padding-top: 10px;
    }

    @media (--md) {
      bottom: 50px;
      right: 10px;
      transform: initial;
    }
  }

  & > .survey-button {
    &:focus {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }

  & > .mobile-survey-button {
    background: var(--survey-gradient);
    border: none;
    border-radius: 20px;
    bottom: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    cursor: pointer;
    height: 40px;
    padding: 5px;
    position: fixed;
    right: 15px;
    width: 40px;

    & > img {
      filter: invert(1);
      margin: auto;
      max-height: 25px;
      max-width: 25px;
    }

    &:focus {
      box-shadow: 0 0 0 6px rgba(0,162,223,.25);
    }

    &:hover + .mobile-survey-help-text {
      display: inherit;
    }
  }

  & > .mobile-survey-help-text {
    background: #444;
    border-radius: 5px;
    bottom: 15px;
    color: var(--tertiary);
    cursor: pointer;
    display: none;
    font-size: 10px;
    padding: 3px 10px;
    position: fixed;
    right: 60px;
  }

  & > div {
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin: 0 2% 0 8% !important;
  }
}
