html {
  scrollbar-color: var(--aluminum-4) var(--aluminum-2);
  &::-webkit-scrollbar {
    background-color: var(--aluminum-2);
    height: 12px;
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--aluminum-4);
    border: 3px solid transparent;
    border-radius: 12px;
    &:hover {
      background-color: #a4a4a4;
    }
  }
}

body {
  background: #fefefe;
  color: var(--steel-3);
  font-family: var(--sans-serif);
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;

  &.no-scroll {
    overflow: hidden;

    &.mobile {
      @media (--md) {
        overflow-y: auto;
      }
    }
  }
}

.hide {
  display: none;
}

.main {
  max-width: 100vw;
  width: 100%;

  @media (--lg) {
    &:not(.no-sidebar) {
      max-width: calc(100% - var(--nav-width) - var(--toc-width));
    }
  }

  @media (--md) {
    max-width: calc(100% - var(--nav-width));
  }
}

.svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}

.scrollbar {
  overflow-y: auto;
  overscroll-behavior: none;
  scrollbar-color: var(--aluminum-4) transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    background-color: transparent;
    height: 6px;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--aluminum-4);
    border: 1.75px solid transparent;
    border-radius: 6px;
    &:hover {
      background-color: #a4a4a4;
    }
  }
}

.wrapper {
  max-width: 100vw;
  width: 100%;
}

@media (pointer: fine) {
  .scrollbar {
    transition: scrollbar-color var(--transition-speed-sm) var(--transition-timing);
    &:not(:hover) {
      scrollbar-color: transparent transparent;
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }
}
