body {
  background: #fefefe;
  color: var(--steel-2);
  font-family: var(--sans-serif);
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;

  &.no-scroll {
    overflow: hidden;

    &.mobile {
      @media (--md) {
        overflow-y: auto;
      }
    }
  }
}

.wrapper {
  max-width: 100vw;
  width: 100%;

  @media (--marketing) {
    padding-top: var(--header-height);
  }
}

.main {
  max-width: 100vw;
  width: 100%;

  @media (--lg) {
    &:not(.no-sidebar) {
      max-width: calc(100% - var(--nav-width) - var(--toc-width));
    }
  }

  @media (--md) {
    max-width: calc(100% - var(--nav-width));
  }
}

.nav,
.toc {
  max-height: 100vh;
  top: 0;
}

.svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
}
