/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

/* utility */
.small {
  font-size: 13px;
}

.strong {
  font-family: var(--sans-serif-bold);
}

.monospace {
  font-family: var(--monospace);
  font-size: 14px;
  white-space: pre;
  word-wrap: normal;
}

/* links */
.link {
  color: var(--steel-3);

  &:active,
  &:focus,
  &:hover {
    color: var(--secondary-navy);
  }
}
