/*
vars for reference:
--screen-md: 768px;
--screen-lg: 992px;
--screen-xl: 1200px;
*/

@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 992px);
@custom-media --xl (min-width: 1350px);
@custom-media --marketing (max-width: 992px);

.no-pointer {
  pointer-events: none;
}
