:root {
  /* Salesforce Design System colors */
  --sds-c-button-color-background: #0176d3;
  --sds-c-button-color-background-hover: #023248;
  --sds-g-color-blue-10: #001639;
  --sds-g-color-blue-20: #032d60;
  --sds-g-color-blue-30: #014486;
  --sds-g-color-blue-40: #0b5cab;
  --sds-g-color-blue-50: #0176d3;
  --sds-g-color-blue-60: #1b96ff;
  --sds-g-color-blue-70: #78b0fd;
  --sds-g-color-blue-80: #aacbff;
  --sds-g-color-blue-90: #d8e6fe;
  --sds-g-color-blue-95: #EEF4FF;
  --sds-g-color-cloud-blue-50: #107CAD;
  --sds-g-color-cloud-blue-95: #eaf5fe;
  --sds-g-color-gray-10: #181818;
  --sds-g-color-gray-80: #c9c9c9;
  --sds-g-color-palette-green-40: #22683e;
  --sds-g-color-palette-green-50: #2e844a;
  --sds-g-color-palette-green-60: #3ba755;

  /* colors */
  --color-indigo: #5e66f9;
  --color-magenta: #e3066a;
  --color-ms-blue: #0176d3;
  --color-navy: #002196;
  --color-orange: #e97000;
  --color-purple: #9500db;
  --color-viridian: #00b39c;
  --eyebrow-gray: #6d7883;
  --light-blue: #e8f8ff;
  --core-blue-0: #f2fafd;
  --core-blue-1: #abe2f5;
  --core-blue-2: #48c1ed;
  --core-blue-3: #00a2df;
  --core-blue-4: #087299;
  --core-blue-5: #114459;
  --robust-blue-1: #a1b1b8;
  --robust-blue-2: #6b8a99;
  --robust-blue-3: #506773;
  --robust-blue-4: #32444d;
  --robust-blue-5: #272f33;
  --steel-1: #6b6c6d;
  --steel-2: #58595a;
  --steel-3: #3a3b3c;
  --steel-4: #262728;
  --steel-5: #121314;
  --aluminum-1: #f9fafb;
  --aluminum-2: #f4f5f6;
  --aluminum-3: #e8e9ea;
  --aluminum-4: #cacbcc;
  --aluminum-5: #989a9b;
  --yellow-2: #ffe3a2;
  --viridian-3: #00b49d;
  --teal-3: #00b5d1;
  --violet: #681da8;
  --tertiary: #fff;
  --black: #000;

/* icons */
  --lume-c-icon-color-foreground-1: var(--sds-g-color-blue-20);
  --lume-c-icon-color-foreground-2: var(--sds-g-color-blue-40);
  --lume-c-icon-color-foreground-3: var(--sds-g-color-blue-60);
  --lume-c-icon-color-background-1: #fff;

  /* Salesforce Design System typography */
  --sds-g-font-display: 'ITC Avant Garde', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sds-g-font-sans: 'Salesforce Sans', system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* typography */
  --font-color-default: var(--sds-g-color-gray-10);
  --font-color-heading: var(--sds-g-color-blue-20);
  --font-color-heading-alternate: var(--sds-g-color-cloud-blue-50);
  --font-color-link: var(--sds-g-color-blue-50);
  --font-color-link-hover: var(--sds-g-color-blue-20);
  --font-heading: var(--sds-g-font-display);
  --font-sans-serif: var(--sds-g-font-sans);
  --font-size-default: 16px;
  --weight-normal: 400;
  --weight-medium: 600;
  --weight-bold: 700;

  /* dimensions */
  --header-height: 130px;
  --banner-height: 50px;
  --promo-banner-height: 70px;
  --breadcrumbs-drawer-height: var(--banner-height);
  --mobile-banner-height: 65px;
  --footer-height: 361px;
  --nav-item-height: 32px;
  --search-toolbar-height: 60px;
  --toolbar-height: var(--banner-height);
  --mobile-nav-width: 275px;
  --nav-width: 275px;
  --toc-width: 250px;
  --radius: 4px;
  --xs: 5px;
  --sm: 10px;
  --md: 15px;
  --lg: 20px;
  --xl: 40px;
  --xxl: 44px;
  --input-md: 30px;
  --input-lg: 40px;
  --screen-sm: 576px;
  --screen-md: 768px;
  --screen-lg: 992px;
  --screen-xl: 1350px;
  --screen-xxl: 1650px;
  --bold-text-letter-spacing: -0.005em;

  /* z-index */
  --z-gdpr: 20;
  --z-nav-mobile: 19;
  --z-backdrop: 17;
  --z-modal-header: 17;
  --z-modal: 11;
  --z-header: 11;
  --z-banner: 10;
  --z-nav: 9;
  --z-nav-toolbar: 8;

  /* animations/transitions */
  --transition-speed-sm: 0.15s;
  --transition-speed-md: 0.3s;
  --transition-timing: cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
