<div class="notice-banner banner">
    <button class="close-button" title="Close notice banner">&times;</button>
    <p>
        This version of the product has reached
        <a class="notice-banner-link" href="https://www.mulesoft.com/legal/versioning-back-support-policy"
            target="_blank" rel="noopener noreferrer">End of Life</a>.
        {{> banner-latest-version-snippet }}
    </p>
</div>
