<fieldset id="questions-no" class="hide">
    <legend>We're sorry to hear that. How can we improve this article?</legend>
    <div>
        <input type="checkbox" id="inaccurate" name="inaccurate" />
        <label for="inaccurate">Contains inaccurate or outdated information</label>
    </div>
    <div>
        <input type="checkbox" id="missing-important-info" name="missing-important-info" />
        <label for="missing-important-info">Missing important information</label>
    </div>
    <div>
        <input type="checkbox" id="confusing" name="confusing" />
        <label for="confusing">Confusing or difficult to understand</label>
    </div>
    <div>
        <input type="checkbox" id="poor-product" name="poor-product" />
        <label for="poor-product">The article is OK, but I don't like how the product described works</label>
    </div>
    <div>
        <input type="checkbox" id="other-bad" name="other-bad" />
        <label for="other-bad">Something else</label>
    </div>
</fieldset>