<div class="feedback-form hide">
    <form>
        <span aria-live="polite" class="validation-text hide" id="checkboxes-validation-text">Please check at least 1
            checkbox.</span>
        <fieldset></fieldset>
        <p>
            <label for="comment" class="feedback-title">Would you like to share any additional feedback? (Optional)</label>
            <textarea maxlength="800" placeholder="Tell us what you liked or didn't like." type="text" id="comment"
                name="comment" rows="4"></textarea>
        </p>
        <span class="feedback-form-textarea-character-count">1500 / 1500</span>
        <div class="feedback-form-button-row flex align-center justify-end">
            <input aria-label="Submit feedback" class="button-primary feedback-form-button" name="submit" type="submit"
                value="Submit">
        </div>
    </form>
</div>