<fieldset id="questions-yes" class="hide">
    <legend>Thanks for the feedback! What made this article helpful? (Please check at least 1 checkbox)</legend>
    <div>
        <input type="checkbox" id="accurate" name="accurate" />
        <label for="accurate">Contains accurate information</label>
    </div>
    <div>
        <input type="checkbox" id="comprehensive" name="comprehensive" />
        <label for="comprehensive">Includes all of the information I need</label>
    </div>
    <div>
        <input type="checkbox" id="clear" name="clear" />
        <label for="clear">Easy to understand, with clear explanations and visuals</label>
    </div>
    <div>
        <input type="checkbox" id="other-yes" name="other-yes" />
        <label for="other-yes">Something else</label>
    </div>
</fieldset>