<div class="feedback-form hide">
    <form>
        <p>
        <fieldset>
            <legend>Thanks for the feedback! What made this article helpful?</legend>
            <div>
                <input type="checkbox" id="accurate" name="accurate" />
                <label for="accurate">Contains accurate information</label>
            </div>
            <div>
                <input type="checkbox" id="comprehensive" name="comprehensive" />
                <label for="comprehensive">Includes all of the information I need</label>
            </div>
            <div>
                <input type="checkbox" id="understandable" name="understandable" />
                <label for="understandable">Easy to understand, with clear explanations and visuals</label>
            </div>
            <div>
                <input type="checkbox" id="other" name="other" />
                <label for="other">Something else</label>
            </div>
        </fieldset>
        <p>
            <label for="feedback-detail">Would you like to share any additional feedback?</label>
            <textarea maxlength="1000" placeholder="Tell us what you liked or didn’t like" type="text"
                id="feedback-detail" name="feedback-detail" rows="4"></textarea>
        </p>
        <div class="feedback-form-button-row flex align-center justify-end">
            <input aria-label="Submit feedback" class="button-primary feedback-form-button" name="submit" type="submit"
                value="Submit">
        </div>
    </form>
</div>