<div class="notice-banner">
    <button class="notice-banner-close-button" title="Close notice banner">&times;</button>
    <p>
        We are no longer updating this version of the documentation.
        {{> banner-latest-version-snippet }}
    </p>
</div>