{{#if env.COVEO_API_KEY}}
<div class="search-div">
  <atomic-aria-live></atomic-aria-live>
  <atomic-search-interface id="search"
    fields-to-include='["mulesoftislatestversion", "mulesoftproductversion", "mulesoftversionmajor", "mulesoftversionminor", "mulesoftversionpatch", "mulesoftversionwithlatest", "product", "version"]'
    search-hub="Documentation">
    <atomic-search-layout>
      <atomic-layout-section section="facets">
      <atomic-facet facet-id="product" field="product" heading-level="1" label="Filter by Product"></atomic-facet>
      <atomic-facet-manager></atomic-facet-manager>
      </atomic-layout-section>
      <atomic-layout-section section="main">
        <atomic-layout-section section="status">
          <atomic-breadbox></atomic-breadbox>
          <atomic-query-summary></atomic-query-summary>
          <atomic-refine-toggle></atomic-refine-toggle>
          <atomic-sort-dropdown>
            <atomic-sort-expression label="Relevance" expression="relevancy"></atomic-sort-expression>
            <atomic-sort-expression label="Version (Descending)"
              expression="mulesoftversionmajor descending, mulesoftversionminor descending, mulesoftversionpatch descending"></atomic-sort-expression>
          </atomic-sort-dropdown>
          <atomic-did-you-mean></atomic-did-you-mean>
        </atomic-layout-section>
        <atomic-layout-section section="results">
          <atomic-result-list image-size="icon" density="normal">
            {{> search-result-template}}
          </atomic-result-list>
          <atomic-query-error></atomic-query-error>
          <atomic-no-results></atomic-no-results>
        </atomic-layout-section>
        <atomic-layout-section section="pagination">
          <atomic-pager number-of-pages=5></atomic-pager>
          <atomic-results-per-page></atomic-results-per-page>
        </atomic-layout-section>
      </atomic-layout-section>
    </atomic-search-layout>
  </atomic-search-interface>
</div>
{{/if}}