{{#if (or env.COVEO_API_KEY env.COVEO_API_KEY_JP)}}
<div class="search-div">
  <atomic-aria-live></atomic-aria-live>
  <atomic-search-interface id="search" localization-compatibility-version="v4"
    fields-to-include='["mulesoftislatestversion", "mulesoftproduct", "mulesoftproductversion", "mulesoftversion", "mulesoftversionmajor", "mulesoftversionminor", "mulesoftversionpatch", "mulesoftversionwithlatest"]'
    {{#if (eq (site-profile) 'jp' )}}search-hub="mulesoft-docs-jp" language="ja"{{else}}search-hub="mulesoft-docs"{{/if}}>
    <atomic-search-layout>
      <atomic-layout-section section="facets">
      <atomic-facet facet-id="mulesoftproduct" field="mulesoftproduct" heading-level=2 label="{{#if (eq (site-profile) 'jp')}}製品別に絞り込み{{else}}Filter by Product{{/if}}"></atomic-facet>
      </atomic-layout-section>
      <atomic-layout-section section="main">
        <atomic-layout-section section="status">
          <atomic-breadbox></atomic-breadbox>
          <atomic-query-summary></atomic-query-summary>
          <atomic-refine-toggle></atomic-refine-toggle>
          <atomic-sort-dropdown>
            <atomic-sort-expression label="{{#if (eq (site-profile) 'jp')}}関連性{{else}}Relevance{{/if}}" expression="relevancy"></atomic-sort-expression>
            <atomic-sort-expression label="{{#if (eq (site-profile) 'jp')}}バージョン (降順){{else}}Version (Descending){{/if}}"
              expression="mulesoftversionmajor descending, mulesoftversionminor descending, mulesoftversionpatch descending"></atomic-sort-expression>
          </atomic-sort-dropdown>
          <atomic-did-you-mean></atomic-did-you-mean>
        </atomic-layout-section>
        <atomic-layout-section section="results">
          <atomic-result-list image-size="icon" density="normal">
            {{> search-result-template}}
          </atomic-result-list>
          <atomic-query-error></atomic-query-error>
          <atomic-no-results></atomic-no-results>
        </atomic-layout-section>
        <atomic-layout-section section="pagination">
          <atomic-pager number-of-pages=5></atomic-pager>
          <atomic-results-per-page></atomic-results-per-page>
        </atomic-layout-section>
      </atomic-layout-section>
    </atomic-search-layout>
  </atomic-search-interface>
</div>
{{/if}}
