<div class="banner notice-banner flex">
    {{#if (eq (site-profile) 'jp')}}
    <p>
        製品のこのバージョンは <a class="notice-banner-link" href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Agreements/versioning-back-support-policy.pdf"
            target="_blank" rel="noopener noreferrer">サービス終了</a>​になる予定です。
        {{> banner-latest-version-snippet }}
    </p>
    {{else}}
    <p>
        This version of the product is scheduled for
        <a class="notice-banner-link" href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Agreements/versioning-back-support-policy.pdf"
            target="_blank" rel="noopener noreferrer">End of Life.</a>
        {{> banner-latest-version-snippet }}
    </p>
    {{/if}}
    <button aria-label="Close notice banner" class="close-button" title="Close notice banner"><img loading="lazy" src="{{@root.uiRootPath}}/img/icons/close.svg" alt=""></button>
</div>