.page-connectors {
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--screen-md);
  padding: var(--lg) var(--lg) var(--xl);

  @media (--md) {
    padding-left: var(--xl);
    padding-right: var(--xl);
  }
}

/* featured connectors */
.connectors-popular .h1 {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px; /* match search */
  margin-bottom: var(--sm);
}

/* reset link */
.featured-link {
  text-decoration: none;
}

/* featured links */
.featured-link {
  align-items: center;
  color: var(--steel-2);
  display: flex;
  font-size: 15px;
  font-weight: var(--weight-bold);
  height: 50px;
  padding-left: var(--lg);
  white-space: nowrap;
  width: 25%;

  @media (max-width: 1285px) {
    padding-right: var(--md);
    width: auto;
  }

  &:focus {
    outline: 0;
  }

  &:hover .featured-arrow,
  &:active .featured-arrow,
  &:focus .featured-arrow {
    transform: translateX(5px);
  }
}

.featured-img {
  height: auto;
  margin-right: var(--sm);
  width: 22px;
}

.featured-arrow {
  fill: currentColor;
  height: 12px;
  opacity: .75;
  margin-left: var(--xs);
  transition: transform var(--transition-speed-sm) var(--transition-timing);
  width: 12px;
}

/* search */
.connectors-search {

  & .input,
  & .select-wrapper {
    height: var(--input-lg);

    & + .input,
    & + .select-wrapper {
      margin-left: var(--md);
    }
  }

  & .input {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.8062 10.4302L12.8436 13.3398C12.3467 13.7837 11.798 14.1704 11.2066 14.4888L9.17261 11.584C8.5625 11.8491 7.89142 12 7.18378 12C4.42236 12 2.18378 9.76148 2.18378 7C2.18378 4.23853 4.42236 2 7.18378 2C9.94519 2 12.1838 4.23853 12.1838 7C12.1838 8.33154 11.6548 9.53418 10.8062 10.4302ZM7.18378 3C4.97815 3 3.18378 4.79443 3.18378 7C3.18378 9.20557 4.97815 11 7.18378 11C9.38934 11 11.1838 9.20557 11.1838 7C11.1838 4.79443 9.38934 3 7.18378 3Z' fill='%23989A9B'/%3E%3C/svg%3E%0A");
    background-position: var(--sm) 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: var(--xl);
  }

  & .select-wrapper,
  & .select {
    width: 100%;
  }

  & .select {
    font-size: 14px;
    padding-left: var(--sm);
    padding-right: var(--lg);

    &::before {
      right: 12px;
    }
  }
}

/* table */
.connectors-table {
  border-collapse: collapse;
  margin-top: var(--md);
  width: 100%;

  & .tr {
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background: var(--aluminum-2);

      & .button {
        opacity: 1;
      }
    }

    &:focus {
      outline: 0;
    }
  }

  /* space for search */
  & .thead-td {
    padding-bottom: 10px;
  }

  & .thead-td,
  & .td {
    border: 0;

    & + .thead-td,
    & + .td {
      padding-left: var(--sm);
    }
  }

  & .td {
    height: 60px;
    text-indent: var(--sm);

    &:first-child {
      width: 50px;
    }

    &:nth-child(3) {
      width: 170px;
    }

    &:nth-child(4) {
      width: 100px;
    }

    &:last-child {
      width: 70px;
    }
  }

  & .img {
    vertical-align: bottom;
  }

  & .link {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  & .button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    opacity: 0;
    position: relative;
    transition: all var(--transition-speed-sm) var(--transition-timing);
    width: var(--nav-item-height);

    & .svg {
      fill: currentColor;
    }
  }
}

/* connectors popover */
.popover-connectors {
  color: var(--steel-2);
  cursor: default;
  font-size: 14px;
  right: 0;
  text-indent: 0;
  top: 30px;
  width: 200px;

  & .header {
    font-weight: var(--weight-bold);
  }

  & .header,
  & .link {
    padding: var(--xs) var(--sm);
  }

  & .list {

  }

  & .link {
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    font-weight: var(--weight-normal);

    &:hover,
    &:focus {
      background: var(--aluminum-2);
      text-decoration: none;
    }

    &:active {
      background: #e2f8ff; /* yet another blue */
      color: var(--core-blue-3);
    }
  }

  & .icon-external {
    fill: currentColor;
    margin-left: var(--xs);
    opacity: .5;
  }
}
