.page-connectors {

  & .link {
    color: var(--core-blue-3);
    text-decoration: none;

    &:hover .back-arrow,
    &:active .back-arrow,
    &:focus .back-arrow {
      transform: rotate(180deg) translateX(3px);
    }
  }

  & .back-arrow {
    fill: var(--core-blue-3);
    margin-right: var(--xs);
    transform: rotate(180deg);
    transition: transform var(--transition-speed-sm) var(--transition-timing);
  }
}

.connector-avatar {
  border: 1px solid rgba(0,0,0,.075);
  border-radius: var(--radius);
  box-shadow: 0 6px 12px rgba(0,0,0,.05);
  flex: 0 0 90px;
  height: 90px;
  margin-right: var(--lg);
}
