/* featured connectors */
.connectors-popular {

  & .popular-cards {
    @media (min-width: 768px) and (max-width: 1035px), (max-width: 695px) {
      flex-wrap: wrap;
    }

    & .card {
      @media (min-width: 768px) and (max-width: 1035px) {
        flex: 0 0 250px;
      }

      @media (min-width: 768px) and (max-width: 870px), (max-width: 695px) {
        align-items: center;
        flex: 1 1 auto;
        flex-direction: row;
      }

      &:nth-child(3) {
        @media (min-width: 768px) and (max-width: 1035px), (max-width: 695px) {
          margin-left: 0;
        }
      }

      & + .card {
        @media (min-width: 768px) and (max-width: 870px), (max-width: 695px) {
          margin-left: 0;
        }
      }
    }
  }

  & .card-img {
    @media (min-width: 768px) and (max-width: 870px), (max-width: 695px) {
      height: auto;
      margin-right: var(--lg);
      width: 60px;
    }
  }

  & .card-title {
    @media (min-width: 768px) and (max-width: 870px), (max-width: 695px) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  /* smaller featured items */
  & .featured-link {
    align-items: center;
    color: var(--steel-3);
    display: flex;
    font-size: 15px;
    font-weight: var(--weight-bold);
    height: 50px;
    padding-left: var(--lg);
    padding-right: var(--md);
    text-decoration: none;
    white-space: nowrap;

    @media (max-width: 1035px) {
      padding-right: var(--md);
      width: auto;
    }

    &:focus {
      color: var(--secondary-navy);
      outline: 0;
    }

    &:hover .icon-forward-arrow,
    &:active .icon-forward-arrow,
    &:focus .icon-forward-arrow {
      transform: translateX(5px);
    }
  }

  & .featured-img {
    height: auto;
    margin-right: var(--sm);
    width: 22px;
  }

  & .icon-forward-arrow {
    fill: currentColor;
    height: 12px;
    margin-left: var(--xs);
    opacity: .75;
    transition: transform var(--transition-speed-sm) var(--transition-timing);
    width: 12px;
  }
}

/* search */
.connectors-search {

  & .input,
  & .select-wrapper {
    height: var(--input-lg);

    & + .input,
    & + .select-wrapper {
      margin-left: var(--md);
    }
  }

  & .input {
    background-image: url(../img/icons/search-light.svg);
    background-position: var(--sm) 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: var(--xl);
  }

  & .select-wrapper,
  & .select {
    width: 100%;
  }

  & .select {
    font-size: 14px;
    padding-left: var(--sm);
    padding-right: var(--lg);
    white-space: nowrap;

    &::before {
      right: 12px;
    }
  }
}

/* table */
.connectors-table {
  border-collapse: collapse;
  margin-top: var(--md);
  width: 100%;

  & .tr {
    cursor: pointer;

    &:hover .button,
    &:active .button,
    &:focus .button {
      opacity: 1;
    }

    &:hover {
      background: var(--aluminum-2);
    }

    &:active,
    &:focus {
      background: rgba(0,162,223,.075);
    }

    &:focus {
      outline: 0;
    }
  }

  /* space for search */
  & .thead-td {
    padding-bottom: 10px;
  }

  & .thead-td,
  & .td {
    border: 0;

    & + .thead-td,
    & + .td {
      padding-left: var(--sm);
    }
  }

  & .td {
    height: 60px;
    text-indent: var(--sm);
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-child {
      max-width: 50px;
      overflow-x: hidden;
      width: 50px;
    }

    &:nth-child(3) {
      width: 170px;
    }

    &:nth-child(4) {
      width: 100px;
    }

    &:last-child {
      width: 70px;
    }
  }

  & .img {
    vertical-align: bottom;
  }

  & .link {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  & .button {
    align-items: center;
    background: none;
    border: 0;
    display: inline-flex;
    justify-content: center;
    opacity: 0;
    position: relative;
    transition: all var(--transition-speed-sm) var(--transition-timing);
    width: var(--nav-item-height);

    &:focus {
      box-shadow: none;
    }

    & .svg {
      fill: currentColor;
    }
  }
}

/* connectors popover */
.popover-connector-menu {
  width: 200px;
}
