.page-connectors {
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--screen-md);
  padding: var(--lg) var(--lg) var(--xl);

  @media (--md) {
    padding-left: var(--xl);
    padding-right: var(--xl);
  }
}

/* featured connectors */
.connectors-popular .h1 {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 32px; /* match search */
  margin-bottom: var(--sm);
}

/* reset link */
.card,
.featured-link {
  text-decoration: none;
}

/* featured cards */
.card {
  border: 1px solid rgba(0,0,0,.06);
  border-radius: 2px;
  box-shadow: 0 4px 16px rgba(0,0,0,.03);
  color: var(--steel-2);
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  margin-bottom: var(--md);
  outline: 0;
  padding: var(--lg);
  transition: box-shadow var(--transition-speed-sm) var(--transition-timing);

  &:hover {
    border-color: rgba(0,0,0,.1);
  }

  &:active,
  &:focus {
    border-color: var(--core-blue-3);
    box-shadow: 0 4px 16px rgba(0,162,223,.06), 0 0 0 3px rgba(0,162,223,.38);
  }

  & + .card {
    margin-left: var(--md);
  }
}

.card-title {
  font-weight: var(--weight-bold);
  margin-bottom: var(--xs);
  margin-top: var(--sm);
}

.card-description {
  font-size: 14px;
}

/* featured links */
.featured-link {
  align-items: center;
  color: var(--steel-2);
  display: flex;
  flex: 1 1 24%;
  font-weight: var(--weight-bold);
  height: 50px;
  padding-left: var(--lg);
  white-space: nowrap;

  &:focus {
    outline: 0;
  }

  &:hover .featured-arrow,
  &:active .featured-arrow,
  &:focus .featured-arrow {
    transform: translateX(5px);
  }
}

.featured-img {
  height: auto;
  margin-right: var(--sm);
  width: 25px;
}

.featured-arrow {
  margin-left: var(--xs);
  transition: transform var(--transition-speed-sm) var(--transition-timing);
}

/* search */
.connectors-search {

  & .input,
  & .select-wrapper {
    height: var(--input-lg);

    & + .input,
    & + .select-wrapper {
      margin-left: var(--md);
    }
  }

  & .input {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.8062 10.4302L12.8436 13.3398C12.3467 13.7837 11.798 14.1704 11.2066 14.4888L9.17261 11.584C8.5625 11.8491 7.89142 12 7.18378 12C4.42236 12 2.18378 9.76148 2.18378 7C2.18378 4.23853 4.42236 2 7.18378 2C9.94519 2 12.1838 4.23853 12.1838 7C12.1838 8.33154 11.6548 9.53418 10.8062 10.4302ZM7.18378 3C4.97815 3 3.18378 4.79443 3.18378 7C3.18378 9.20557 4.97815 11 7.18378 11C9.38934 11 11.1838 9.20557 11.1838 7C11.1838 4.79443 9.38934 3 7.18378 3Z' fill='%23989A9B'/%3E%3C/svg%3E%0A");
    background-position: var(--sm) 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: var(--xl);
  }

  & .select {
    padding-left: var(--sm);
    padding-right: var(--xl);

    &::before {
      right: 12px;
    }
  }
}

/* table */
.connectors-table {
  border-collapse: collapse;
  margin-top: var(--md);
  width: 100%;

  & .tr:hover {
    cursor: pointer;

    &.td:nth-child(2) {
      text-decoration: underline;
    }
  }

  & .thead-td,
  & .td {
    border: 0;

    & + .thead-td,
    & + .td {
      padding-left: var(--sm);
    }
  }

  & .td {
    height: 60px;
    text-indent: var(--sm);

    &:first-child {
      width: 50px;
    }

    &:nth-child(3) {
      width: 150px;
    }

    &:last-child {
      width: 100px;
    }
  }

  & .img {
    vertical-align: bottom;
  }
}
