body.home {
  & article.doc:not(#archive-homepage article.doc) {
    padding: 0;
  }

  & article.doc {
    & a {
      text-decoration: none;
    }

    & a:not(.mule-button-br):hover {
      text-decoration: underline;
    }

    & a.anchor {
      display: none;
    }

    & ul {
      list-style: none;
      margin-bottom: 0;
      padding: 0;
    }

    & ul p {
      margin: 0;
    }

    & li + li {
      margin-top: 10px;
    }

    & header,
    & footer {
      background-color: var(--sds-g-color-blue-10);
      overflow-x: clip;
      position: relative;
    }

    & header {
      & h1 {
        color: var(--tertiary);
        font-size: 36px;
        line-height: 1.3;
        margin: 0 20px;
        padding: 60px 0 30px;
        text-align: center;
      }

      & #cta {
        height: 154px;
        line-height: 1.35;
        margin: 0;
        text-align: center;
      }
    }

    & .panels {
      display: grid;
      gap: 30px 0;
      grid-template-columns: repeat(1,1fr);
      margin: -50px 20px 0;
      position: relative;
    }

    & .panel {
      background: #fff;
      border-radius: var(--radius);
      box-shadow: 0 10px 30px #0000001a;
      line-height: 1.3;
      padding: 30px 40px;

      &.single-panel {
        margin: -50px auto 0;
        max-width: 400px;
        position: relative;
      }

      & h2 {
        font-size: 22px;
        line-height: inherit;
        padding: 0;
      }

      & td,
      & tr {
        border: none;
      }
    }

    #trending-topics > * > a::before {
      border: 3px solid black;
      border-radius: 50%;
      content: "";
      display: inline-grid;
      margin: 18px 14px 5px 8px;
      vertical-align: super;
    }

    & #contributor-signatures + table, 
    & #latest-releases + table {
      font-size: inherit;
      overflow: visible;

      & td {
        padding: 0;
      }

      & tr + tr td {
        padding-top: 10px;
      }

      & td:first-of-type {
        padding-right: 10px;
        white-space: nowrap;
      }

      & td:first-of-type p {
        background-color: var(--aluminum-2);
        border-radius: 1px;
        color: var(--steel-2);
        font-size: 12px;
        padding: 1px 4px 3px;
      }
    }

    & a.mule-button-br {
      padding: 10px 12px;
    }

    & #the-road {
      font-size: 32px;
      padding: 80px 0 50px;
      text-align: center;
    }

    & #the-road,
    & #the-road + .sectionbody {
      margin-left: 20px;
      margin-right: 20px;
    }

    & #the-road + .sectionbody {
      align-items: center;
      display: grid;
      gap: 100px 0;
      grid-template-columns: repeat(1,1fr);
      margin-bottom: 50px;
      margin-top: 0;
      position: relative;
      z-index: 1;

      & h3 {
        font-size: 22px;
        padding: 0;
      }

      & .imageblock {
        justify-self: center;
      }

      & .imageblock img {
        margin: 0;
      }
    }

    & div.paragraph {
      & p {
        font-size: var(--lg);
      }
    }

    & footer {
      display: grid;
      font-size: 14px;
      gap: 0;
      grid-template-columns: repeat(1,1fr);
      padding: 50px 20px;

      & a {
        color: var(--sds-g-color-blue-60);
      }

      & a:hover {
        color: var(--sds-g-color-blue-90);
        text-decoration: underline;
      }

      & h2 {
        color: #fff;
        font-size: var(--font-size-default);
        line-height: 1.25;
        padding: 0;
      }

      & li + li {
        margin-top: 5px;
      }
    }
  }

  & footer.ms-com-footer .footer-top .footer-inside {
    padding-top: 0;
  }
}

@media screen and (min-width: 540px) {
  body.home article.doc {
    & header {
      & h1 {
        font-size: 52px;
        line-height: 60px;
      }

      & #cta p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body.home article.doc {
    & footer {
      padding: 50px 120px;
    }

    & header h1,
    & .panels {
      margin-left: 40px;
      margin-right: 40px;
    }

    & #the-road,
    & #the-road + .sectionbody {
      margin-left: 80px;
      margin-right: 80px;
    }
  }
}

@media screen and (--lg) {
  body.home article.doc {
    & header::after,
    & footer::before,
    & footer::after {
      content: "";
    }

    & header::after {
      bottom: 40px;
      height: 125px;
      left: 50%;
      transform: translateX(323px);
      width: 125px;
    }

    & header h1 {
      padding-top: 80px;
    }

    & .panels {
      gap: 0 20px;
      grid-template-columns: repeat(2,1fr);
    }

    & header h1,
    & .panels {
      margin-left: 42px;
      margin-right: 42px;
    }

    & #the-road,
    & #the-road + .sectionbody {
      margin-left: 82px;
      margin-right: 82px;
    }

    & #the-road + .sectionbody {
      gap: 100px 75px;
      grid-auto-flow: dense;
      grid-template-columns: repeat(2,1fr);

      & .openblock > .content {
        max-width: 95%;
      }

      & > .imageblock:nth-of-type(4n + 1) {
        grid-column-start: 2;
      }
    }

    & footer {
      gap: 0 75px;
      grid-template-columns: repeat(2,1fr);
      padding: 50px 0;
    }

    & footer > :first-child {
      grid-column: 2;
    }
  }
}

@media screen and (--xl) {
  body.home article.doc {
    & header::after {
      transform: translateX(373px);
    }
  }
}

@media screen and (--xxl) {
  body.home article.doc {
    & header::after {
      transform: translateX(523px);
    }
  }
}

#landing-page {
  & a {
    font-weight: var(--weight-bold);
  }

  & .toolbar {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
