.learning-map {
  /* Workaround: Increase specificity to override high specificity rules in table.css */
  .lm-table.lm-table.lm-table {
    & ul {
      list-style-type: none;
      margin-left: 24px;
      padding-left: 0;
    }

    & p {
      margin-bottom: 0;
      margin-top: 0;
    }

    .lm-bold {
      font-weight: var(--weight-bold);
    }

    .lm-no-indent {
      margin-left: -24px;
    }

    :is(a, span):is(.lm-link-help, .lm-link-marketing, .lm-link-trailhead, .lm-link-video)::before {
      background-size: contain;
      content: "";
      display: inline-block;
      height: 24px;
      margin-left: -28px;
      margin-right: 4px;
      vertical-align: middle;
      width: 24px;
    }

    .lm-link-help::before {
      background: url('../img/learning-map/minimap/help_minimap.png') no-repeat center center;
    }

    .lm-link-marketing::before {
      background: url('../img/learning-map/minimap/marketing-success_minimap.png') no-repeat center center;
    }

    .lm-link-trailhead::before {
      background: url('../img/learning-map/minimap/trailhead_minimap.png') no-repeat center center;
    }

    .lm-link-video::before {
      background: url('../img/learning-map/minimap/video_minimap.png') no-repeat center center;
    }

    & .paragraph + .paragraph {
      margin-top: 24px;
    }

    & div.content,
    & p.tableblock {
      max-width: 100%;
      width: 100%;
    }

    & .imageblock > .content {
      padding-left: 0;
    }
  }

  .lm-table, .lm-table tr {
    border-top: none;
    margin-top: 24px;
  }

  /* Do not show mobile table controls for learning map */
  .table-toggle {
    display: none;
  }

  .table-toggle-row {
    display: none;
  }
}
