.slds-illustration {
  & .slds-illustration__stroke-primary {
    stroke: var(--slds-g-color-palette-cloud-blue-80,#90d0fe);
  }

  & .slds-illustration__stroke-secondary {
    stroke: var(--slds-g-color-palette-cloud-blue-90,#cfe9fe);
  }

  & .slds-illustration__fill-primary {
    fill: var(--slds-g-color-palette-cloud-blue-80,#90d0fe);
  }

  & .slds-illustration__fill-secondary {
    fill: var(--slds-g-color-palette-cloud-blue-90,#cfe9fe);
  }

  & div {
    margin: auto;
    text-align: center;
  }

  & .slds-illustration__svg {
    display: block;
    height: 250px;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 65px;

    @media (--md) {
      margin-bottom: 44px;
    }
  }

  & .slds-text-title {
    font-family: 'EAvantGardeBold', Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 24px;
    width: 90%;
    word-break: keep-all;
    overflow-wrap: normal;

    & p {
      margin: 40px;
    }

    @media (--md) {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 44px;
      width: 600px;
    }
  }

  & .slds-text-description {
    font-size: 17px;
    margin-bottom: 50px;
    width: 80%;
    word-break: keep-all;
    overflow-wrap: normal;

    @media (--md) {
      width: 600px;
      margin-bottom: 150px;
    }
  }
}
