.slds-illustration {
  & .slds-illustration__stroke-primary {
    stroke: var(--slds-g-color-palette-cloud-blue-80,#90d0fe);
  }

  & .slds-illustration__stroke-secondary {
    stroke: var(--slds-g-color-palette-cloud-blue-90,#cfe9fe);
  }

  & .slds-illustration__fill-primary {
    fill: var(--slds-g-color-palette-cloud-blue-80,#90d0fe);
  }

  & .slds-illustration__fill-secondary {
    fill: var(--slds-g-color-palette-cloud-blue-90,#cfe9fe);
  }

  & .slds-illustration__svg {
    display: block;
    height: 250px;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 65px;

    @media (--md) {
      margin-bottom: 44px;
    }
  }

  & .slds-text-longform {
    font-family: 'EAvantGardeBold', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 35px;
    margin: auto;
    margin-bottom: 24px;
    text-align: center;
    width: 75%;

    @media (--md) {
      line-height: 40px;
      margin-bottom: 44px;
      width: 50%;
    }
  }

  & .slds-text-description {
    font-size: 17px;
    margin: auto;
    margin-bottom: 155px;
    text-align: center;
    width: 80%;

    @media (--md) {
      width: 40%;
    }
  }

  & .slds-text {
    margin: 40px;
  }
}
