<h1 class="page">{{{or page.title 'ページが見つかりません'}}}</h1>
<div class="paragraph">
  <p>お探しのページは存在しません。移動した可能性があります。</p>
</div>
<div class="paragraph">
  <p>
    リンクをクリックしてこのページにアクセスした場合は、サイトの所有者にリンクが切れていることをお知らせください。このページの
    URL を手入力した場合は、アドレスを正しく入力したことを再確認してください。
  </p>
</div>
