{{#if page.component}}
<footer class="flex col doc-footer">
  {{#if env.GOOGLE_ANALYTICS_KEY}}
  <section class="feedback-section flex align-center col">
    <div class="feedback-row feedback-first-row flex align-center">
      <div>
        <p>Was this article helpful?</p>
      </div>
      <div class="feedback-options flex">
        <button class="button feedback-yes">
          <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/thumbs-up.png" alt="" height="12">
        </button>
        <button class="button feedback-no">
          <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/thumbs-down.png" alt="" height="12">
        </button>
        <div class="feedback-ack flex hide">
          <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/feedback-ack.svg" alt="" height="20">
          <p>You voted for:</p>
        </div>
        <button class="button give-feedback">
          Give feedback
        </button>
      </div>
    </div>
    <div class="feedback-row feedback-second-row flex hide">
      <button class="button give-feedback">
        Give feedback
      </button>
    </div>
    <div class="feedback-form hide">
      <form>
        <label class="required" for="summary">Share your feedback</label><br>
        <input maxlength="60" placeholder="Let us know what you liked, or how we can improve..." type="text"
          id="summary" name="summary" required>
        <label class="optional" for="detail">Please provide further details</label><br>
        <textarea maxlength="300" placeholder="This is optional, but very helpful..." type="text" id="detail"
          name="detail" rows="4"></textarea>
        <span>Provide your name and email if you’d like us to contact you:</span><br>
        <div class="contact-info">
          <label class="optional" for="name">Name</label><br>
          <input maxlength="50" placeholder="Your name" type="text" id="name" name="name">
        </div>
        <div class="contact-info float-right">
          <label class="optional" for="email">Email</label><br>
          <input maxlength="50" placeholder="email@example.com" type="email" id="email" name="email">
        </div>
        <div class="feedback-form-button-row flex align-center justify-end">
          <button class="button feedback-form-button" id="feedback-form-cancel-button">Cancel</button>
          <input class="button-primary feedback-form-button" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </section>
  {{/if}}
  {{> github}}
  {{> mobile-survey }}
</footer>
{{/if}}