{{#if page.component}}
<footer class="flex col doc-footer">
  {{#if env.GOOGLE_ANALYTICS_KEY}}
  <section class="feedback-section flex align-center col">
    <div class="feedback-row feedback-first-row flex align-center">
      <div>
        <p>Was this article helpful?</p>
      </div>
      <div class="feedback-options flex">
        <button class="button feedback-yes" aria-label="click here if the article was helpful">
          {{!-- <p class="sr-only">click here if the article was helpful</p> --}}
          <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/thumbs-up.png" alt="" height="12">
        </button>
        <p class="help-text hide" id="feedback-yes-help-text">Yes, thanks!</p>
        <button class="button feedback-no" aria-label="click here if the article was not helpful">
          <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/thumbs-down.png" alt="" height="12">
        </button>
        <p class="help-text hide" id="feedback-no-help-text">No, not really.</p>
        <div class="feedback-ack flex hide">
          <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/feedback-ack.svg" alt="" height="20">
          <p>You voted for:</p>
        </div>
        <button class="button give-feedback" aria-label="click here if you would like to provide written feedback for this page">
          Give feedback
        </button>
      </div>
    </div>
    <div class="feedback-row feedback-second-row flex hide">
      <button class="button give-feedback">
        Give feedback
      </button>
    </div>
    <div class="feedback-form hide">
      <form>
        <p>
          <label class="required" for="summary">Share your feedback</label>
          <input maxlength="100" placeholder="Let us know what you liked, or how we can improve..." type="text"
            id="summary" name="summary" required>
        </p>
        <p class="validation-text hide" id="summary-validation-text">Error: This field is required</p>
        <p>
          <label class="optional" for="detail">Please provide further details</label>
          <textarea maxlength="1000" placeholder="This is optional, but very helpful..." type="text" id="detail"
            name="detail" rows="4"></textarea>
        </p>
        <div class="flex justify-justified">
          <fieldset class="flex justify-justified">
          <legend>Provide your name and email if you’d like us to contact you:</legend>
          <div class="contact-info">
            <p>
              <label class="optional" for="name">Name</label>
              <input maxlength="50" placeholder="Your name" type="text" id="name" name="name">
            </p>
          </div>
          <div class="contact-info">
            <p>
              <label class="optional" for="email">Email</label>
              <input maxlength="50" placeholder="email@example.com" type="email" id="email" name="email">
            </p>
            <p class="validation-text hide" id="email-validation-text">Email format is invalid. Please include an '@' in the email address.</p>
          </div>
          </fieldset>
        </div>
        <div class="feedback-form-button-row flex align-center justify-end">
          <button class="button feedback-form-button" id="feedback-form-cancel-button" aria-label="click here to exit the feedback form">
            Cancel
          </button>
          <input class="button-primary feedback-form-button" name="submit" type="submit" value="Submit">
        </div>
      </form>
    </div>
    <span class="post-feedback hide">
      <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/blue-heart.png" alt="" height="14">
      Thanks for your feedback!
    </span>
  </section>
  {{/if}}
  {{> github}}
  {{> mobile-survey }}
</footer>
{{/if}}