<article class="doc">
    {{#if (eq page.layout '404')}}
    {{#if (eq (site-profile) 'jp')}}
    {{> 404-content-jp}}
    {{else}}
    {{> 404-content-en}}
    {{/if}}
    {{else}}
    {{> notice-banner}}
    {{#if page.title}}
    <h1 class="page">{{{page.title}}}</h1>
    {{/if}}
    {{{page.contents}}}
    {{/if}}
</article>
{{#if (ne page.layout '404')}}
{{> article-footer}}
{{/if}}