{{#if page.component}}
<footer class="flex col align-left doc-footer">
  {{#if env.GOOGLE_ANALYTICS_KEY}}
  <section class="feedback-section">
    <div class="row">
      <span data-thanks="start">Was this article helpful?</span>
      <button class="button feedback-yes" data-thanks="start" type="button">
        <img src="{{@root.uiRootPath}}/img/icons/thumbs-up.png" alt="" height="12">
        Yes, thanks!
      </button>
      <button class="button feedback-no" data-thanks="start" type="button">
        <img src="{{@root.uiRootPath}}/img/icons/thumbs-down.png" alt="" height="12">
        No, not really.
      </button>
      <span data-thanks="end">
        <img src="{{@root.uiRootPath}}/img/icons/blue-heart.png" alt="" height="14">
        Thanks for your feedback!
      </span>
    </div>
  </section>
  {{/if}}
  {{> github}}
</footer>
{{/if}}