{{#if (or preview (eq (site-profile) 'archive'))}}
{{#with page.componentVersion.asciidoc.attributes.primary-site-url}}
<div class="banner">
  <div class="container wrapper">
    <p>You&#8217;re viewing the archived MuleSoft Documentation. <a href="{{{this}}}">Go to the latest MuleSoft documentation.</a></p>
  </div>
</div>
{{/with}}
{{/if}}
{{#if page.componentVersion.asciidoc.attributes.deprecated}}
  <div class="banner" id="deprecated-banner">
      <p>We are no longer updating this version of the documentation. 
          Switch to the <a href="{{site.url}}/{{page.component.latest.name}}/{{page.component.latest.version}}/">latest version</a>, 
          or use the version selector in the left navigation.</p>
  </div>
{{/if}}
