<div class="beta-banner">
  <div class="beta-heading">Pre-GA Content</div>
  <div class="beta-text">This content describes features that are pre-GA status and is intended for testing only.</div>
</div>
