<section class="connectors-popular">
  <h1 class="h1">Popular Connectors</h1>
  <div class="flex">
    <a class="card" href="#">
      <img
        alt="Salesforce"
        class="card-img"
        height="50"
        src="/_/img/logos/salesforce.png"
        width="71"
      >
      <span class="card-title">Salesforce</span>
      <span class="card-description">Connect to the Salesforce SOAP API, REST API, Bulk API, and Streaming API</span>
    </a>
    <a class="card" href="#">
      <img
        alt="SAP"
        class="card-img"
        height="50"
        src="/_/img/logos/sap.png"
        width="98"
      >
      <span class="card-title">SAP</span>
      <span class="card-description">Send data to and from SAP NetWeaver-based and external systems</span>
    </a>
    <a class="card" href="#">
      <img
        alt="Amazon S3"
        class="card-img"
        height="50"
        src="/_/img/logos/amazon-s3.png"
        width="84"
      >
      <span class="card-title">Amazon S3</span>
      <span class="card-description">Enable connectivity to the Amazon S3 API</span>
    </a>
  </div>
  <div class="flex flex-wrap">
    <a class="featured-link" href="#">
      <img
        alt="Netsuite"
        class="featured-img"
        src="/_/img/logos/netsuite.png"
      >
      NetSuite
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="#">
      <img class="featured-img">
      Workday
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="#">
      <img class="featured-img">
      Dynamics 365
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="#">
      <img class="featured-img">
      Kafka
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="#">
      <img class="featured-img">
      ServiceNow
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="#">
      <img class="featured-img">
      MongoDB
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="#">
      <img class="featured-img">
      Box
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="#">
      <img class="featured-img">
      Redis
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
  </div>
</section>