<thead>
  <tr class="connectors-search">
    <td class="thead-td" colspan="2">
      <input class="input" placeholder="Search connectors" type="search">
    </td>
    <td class="thead-td">
      <div class="select-wrapper">
        <select class="select">
          <option disabled selected>Runtime Version</option>
          <option value="all">All</option>
          <option value="mule3">Mule 3</option>
          <option value="mule4">Mule 4</option>
        </select>
      </div>
    </td>
    <td class="thead-td">
      <div class="select-wrapper">
        <select class="select">
          <option disabled selected>Type</option>
          <option value="all">All</option>
          <option value="connector">Connector</option>
          <option value="module">Module</option>
        </select>
      </div>
    </td>
  </tr>
</thead>
