<table class="connectors-table">
  {{> connectors-search}}
  <tbody>
    {{!-- just mocking things up --}}
    {{> connectors-tablerow}}
    {{> connectors-tablerow}}
    {{> connectors-tablerow}}
  </tbody>
</table>
