<section class="connectors-popular">
  <header class="header-connectors-title">Popular Connectors</header>
  <div class="flex popular-cards">
    <a class="card" href="//docs.mulesoft.com/connectors/salesforce/salesforce-connector">
      <img
        alt="Salesforce"
        class="card-img"
        height="50"
        src="/_/img/logos/salesforce.png"
        width="71"
      >
      <div>
        <div class="card-title">Salesforce</div>
        <div class="card-description">Connect to the Salesforce SOAP API, REST API, Bulk API, and Streaming API</div>
      </div>
    </a>
    <a class="card" href="//docs.mulesoft.com/connectors/sap/sap-connector">
      <img
        alt="SAP"
        class="card-img"
        height="50"
        src="/_/img/logos/sap.png"
        width="98"
      >
      <div>
        <div class="card-title">SAP</div>
        <div class="card-description">Send data to and from SAP NetWeaver-based and external systems</div>
      </div>
    </a>
    <a class="card" href="//docs.mulesoft.com/connectors/amazon/amazon-s3-connector">
      <img
        alt="Amazon S3"
        class="card-img"
        height="50"
        src="/_/img/logos/amazon-s3.png"
        width="84"
      >
      <div>
        <div class="card-title">Amazon S3</div>
        <div class="card-description">Enable connectivity to the Amazon S3 API</div>
      </div>
    </a>
  </div>
  <div class="flex flex-wrap">
    <a class="featured-link" href="//docs.mulesoft.com/connectors/netsuite/netsuite-about">
      <img
        alt="Netsuite"
        class="featured-img"
        src="/_/img/logos/netsuite.png"
      >
      NetSuite
      <svg class="icon icon-md icon-forward-arrow">
        <use xlink:href="#icon-forward-arrow">
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/workday/workday-connector">
      <img
        alt="Workday"
        class="featured-img"
        src="/_/img/logos/workday.png"
      >
      Workday
      <svg class="icon icon-md icon-forward-arrow">
        <use xlink:href="#icon-forward-arrow">
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/microsoft/microsoft-dynamics-365-connector">
      <img
        alt="Dynammics 365"
        class="featured-img"
        src="/_/img/logos/dynamics365.png"
      >
      Dynamics 365
      <svg class="icon icon-md icon-forward-arrow">
        <use xlink:href="#icon-forward-arrow">
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/kafka/kafka-connector">
      <img
        alt="Kafka"
        class="featured-img"
        src="/_/img/logos/kafka.png"
      >
      Kafka
      <svg class="icon icon-md icon-forward-arrow">
        <use xlink:href="#icon-forward-arrow">
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/servicenow/servicenow-connector">
      <img
        alt="ServiceNow"
        class="featured-img"
        src="/_/img/logos/servicenow.png"
      >
      ServiceNow
      <svg class="icon icon-md icon-forward-arrow">
        <use xlink:href="#icon-forward-arrow">
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/mongodb/mongodb-connector">
      <img
        alt="MongoDB"
        class="featured-img"
        src="/_/img/logos/mongodb.png"
      >
      MongoDB
      <svg class="icon icon-md icon-forward-arrow">
        <use xlink:href="#icon-forward-arrow">
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/box/box-connector">
      <img
        alt="Box"
        class="featured-img"
        src="/_/img/logos/box.png"
      >
      Box
      <svg class="icon icon-md icon-forward-arrow">
        <use xlink:href="#icon-forward-arrow">
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/redis/redis-connector">
      <img
        alt="Redis"
        class="featured-img"
        src="/_/img/logos/redis.png"
      >
      Redis
      <svg class="icon icon-md icon-forward-arrow">
        <use xlink:href="#icon-forward-arrow">
      </svg>
    </a>
  </div>
</section>