<section class="connectors-popular">
  <div class="h1">Popular Connectors</div>
  <div class="flex">
    <a class="card" href="//docs.mulesoft.com/connectors/salesforce/salesforce-connector">
      <img
        alt="Salesforce"
        class="card-img"
        height="50"
        src="/_/img/logos/salesforce.png"
        width="71"
      >
      <span class="card-title">Salesforce</span>
      <span class="card-description">Connect to the Salesforce SOAP API, REST API, Bulk API, and Streaming API</span>
    </a>
    <a class="card" href="//docs.mulesoft.com/connectors/sap/sap-connector">
      <img
        alt="SAP"
        class="card-img"
        height="50"
        src="/_/img/logos/sap.png"
        width="98"
      >
      <span class="card-title">SAP</span>
      <span class="card-description">Send data to and from SAP NetWeaver-based and external systems</span>
    </a>
    <a class="card" href="//docs.mulesoft.com/connectors/amazon/amazon-s3-connector">
      <img
        alt="Amazon S3"
        class="card-img"
        height="50"
        src="/_/img/logos/amazon-s3.png"
        width="84"
      >
      <span class="card-title">Amazon S3</span>
      <span class="card-description">Enable connectivity to the Amazon S3 API</span>
    </a>
  </div>
  <div class="flex flex-wrap">
    <a class="featured-link" href="//docs.mulesoft.com/connectors/netsuite/netsuite-about">
      <img
        alt="Netsuite"
        class="featured-img"
        src="/_/img/logos/netsuite.png"
      >
      NetSuite
      <svg class="featured-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4994 3H8.05786L10.8586 7H2.08453C2.02997 7.32544 2 7.65918 2 8C2 8.34082 2.02997 8.67456 2.08453 9H10.8586L8.05786 13H10.4994L14.0004 8L10.4994 3Z" />
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/workday/workday-connector">
      <img
        alt="Workday"
        class="featured-img"
        src="/_/img/logos/workday.png"
      >
      Workday
      <svg class="featured-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4994 3H8.05786L10.8586 7H2.08453C2.02997 7.32544 2 7.65918 2 8C2 8.34082 2.02997 8.67456 2.08453 9H10.8586L8.05786 13H10.4994L14.0004 8L10.4994 3Z" />
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/microsoft/microsoft-dynamics-365-connector">
      <img
        alt="Dynammics 365"
        class="featured-img"
        src="/_/img/logos/dynamics365.png"
      >
      Dynamics 365
      <svg class="featured-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4994 3H8.05786L10.8586 7H2.08453C2.02997 7.32544 2 7.65918 2 8C2 8.34082 2.02997 8.67456 2.08453 9H10.8586L8.05786 13H10.4994L14.0004 8L10.4994 3Z" />
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/kafka/kafka-connector">
      <img
        alt="Kafka"
        class="featured-img"
        src="/_/img/logos/kafka.png"
      >
      Kafka
      <svg class="featured-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4994 3H8.05786L10.8586 7H2.08453C2.02997 7.32544 2 7.65918 2 8C2 8.34082 2.02997 8.67456 2.08453 9H10.8586L8.05786 13H10.4994L14.0004 8L10.4994 3Z" />
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/servicenow/servicenow-connector">
      <img
        alt="ServiceNow"
        class="featured-img"
        src="/_/img/logos/servicenow.png"
      >
      ServiceNow
      <svg class="featured-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4994 3H8.05786L10.8586 7H2.08453C2.02997 7.32544 2 7.65918 2 8C2 8.34082 2.02997 8.67456 2.08453 9H10.8586L8.05786 13H10.4994L14.0004 8L10.4994 3Z" />
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/mongodb/mongodb-connector">
      <img
        alt="MongoDB"
        class="featured-img"
        src="/_/img/logos/mongodb.png"
      >
      MongoDB
      <svg class="featured-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4994 3H8.05786L10.8586 7H2.08453C2.02997 7.32544 2 7.65918 2 8C2 8.34082 2.02997 8.67456 2.08453 9H10.8586L8.05786 13H10.4994L14.0004 8L10.4994 3Z" />
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/box/box-connector">
      <img
        alt="Box"
        class="featured-img"
        src="/_/img/logos/box.png"
      >
      Box
      <svg class="featured-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4994 3H8.05786L10.8586 7H2.08453C2.02997 7.32544 2 7.65918 2 8C2 8.34082 2.02997 8.67456 2.08453 9H10.8586L8.05786 13H10.4994L14.0004 8L10.4994 3Z" />
      </svg>
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/redis/redis-connector">
      <img
        alt="Redis"
        class="featured-img"
        src="/_/img/logos/redis.png"
      >
      Redis
      <svg class="featured-arrow" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4994 3H8.05786L10.8586 7H2.08453C2.02997 7.32544 2 7.65918 2 8C2 8.34082 2.02997 8.67456 2.08453 9H10.8586L8.05786 13H10.4994L14.0004 8L10.4994 3Z" />
      </svg>
    </a>
  </div>
</section>