<section class="connectors-popular">
  <div class="h1">Popular Connectors</div>
  <div class="flex">
    <a class="card" href="//docs.mulesoft.com/connectors/salesforce/salesforce-connector">
      <img
        alt="Salesforce"
        class="card-img"
        height="50"
        src="/_/img/logos/salesforce.png"
        width="71"
      >
      <span class="card-title">Salesforce</span>
      <span class="card-description">Connect to the Salesforce SOAP API, REST API, Bulk API, and Streaming API</span>
    </a>
    <a class="card" href="//docs.mulesoft.com/connectors/sap/sap-connector">
      <img
        alt="SAP"
        class="card-img"
        height="50"
        src="/_/img/logos/sap.png"
        width="98"
      >
      <span class="card-title">SAP</span>
      <span class="card-description">Send data to and from SAP NetWeaver-based and external systems</span>
    </a>
    <a class="card" href="//docs.mulesoft.com/connectors/amazon/amazon-s3-connector">
      <img
        alt="Amazon S3"
        class="card-img"
        height="50"
        src="/_/img/logos/amazon-s3.png"
        width="84"
      >
      <span class="card-title">Amazon S3</span>
      <span class="card-description">Enable connectivity to the Amazon S3 API</span>
    </a>
  </div>
  <div class="flex flex-wrap">
    <a class="featured-link" href="//docs.mulesoft.com/connectors/netsuite/netsuite-about">
      <img
        alt="Netsuite"
        class="featured-img"
        src="/_/img/logos/netsuite.png"
      >
      NetSuite
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/workday/workday-connector">
      <img
        alt="Workday"
        class="featured-img"
        src="/_/img/logos/workday.png"
      >
      Workday
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/microsoft/microsoft-dynamics-365-connector">
      <img
        alt="Dynammics 365"
        class="featured-img"
        src="/_/img/logos/dynamics365.png"
      >
      Dynamics 365
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/kafka/kafka-connector">
      <img
        alt="Kafka"
        class="featured-img"
        src="/_/img/logos/kafka.png"
      >
      Kafka
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/servicenow/servicenow-connector">
      <img
        alt="ServiceNow"
        class="featured-img"
        src="/_/img/logos/servicenow.png"
      >
      ServiceNow
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/mongodb/mongodb-connector">
      <img
        alt="MongoDB"
        class="featured-img"
        src="/_/img/logos/mongodb.png"
      >
      MongoDB
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/box/box-connector">
      <img
        alt="Box"
        class="featured-img"
        src="/_/img/logos/box.png"
      >
      Box
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
    <a class="featured-link" href="//docs.mulesoft.com/connectors/redis/redis-connector">
      <img
        alt="Redis"
        class="featured-img"
        src="/_/img/logos/redis.png"
      >
      Redis
      <img
        alt=""
        class="featured-arrow"
        height="16"
        src="/_/img/icons/arrow-right.svg"
        width="16"
      >
    </a>
  </div>
</section>