<div class="deprecation-notice">
{{!-- {{#with page.canonicalUrl}} --}}
<p>We are no longer updating this version of the documentation.
    {{!-- Switch to the <a href="{{{replace this page.version page.component.latest.version}}}">latest version</a>,  --}}
    Switch to the latest version</a>, 
    or use the version selector in the left navigation.</p>
{{!-- {{/with}} --}}
</div>