<div class="deprecation-notice">
  <p>We are no longer updating this version of the documentation. Switch to the
    <a 
      class="deprecation-notice-link"
      href="{{#if page.canonicalUrl}}{{{replace page.canonicalUrl page.version page.component.latest.version}}}{{else}}{{{replace page.url page.version page.component.latest.version}}}{{/if}}">latest version</a>, 
    or use the version selector in the left navigation.</p>
</div>