<div class="deprecation-notice">
  <p>We are no longer updating this version of the documentation. Switch to the
    <a href="{{{replace page.canonicalUrl page.version page.component.latest.version}}}">latest version</a>, 
    or use the version selector in the left navigation.</p>
</div>