<div id="sl-ms-com-content-footer" class="ms-com-content ms-com-content-tr ms-com-content-footer">
  <footer class="ms-com-footer">
    <section class="footer-top">
      <div class="footer-inside">
        <div class="footer-links-marketo-form">
          <div class="footer-tm">
            <a href="{{siteRootPath}}" class="logo" onclick="ga('send', 'event', 'NAV', 'NavClick', 'Logo');"></a>
            <div class="ms-com-content-tr-footer-description">
              <p>MuleSoftは、SaaSとエンタープライズアプリケーションをクラウド、オンプレミス、またはその両方で接続するために広く使用されている統合プラットフォームを提供します。</p>
              <nav class="social-logos">
                <a href="https://twitter.com/MuleSoft" target="_blank" class="icon-muletheme-twitter"></a>
                <a href="https://www.linkedin.com/company/mulesoft" target="_blank" class="icon-muletheme-linkedin"></a>
                <a href="https://www.facebook.com/mulesoft" target="_blank" class="icon-muletheme-facebook"></a>
                <a href="https://www.instagram.com/mulesoft" target="_blank" class="icon-muletheme-instagram"></a>
                <a href="https://videos.mulesoft.com/" target="_blank" class="icon-muletheme-videos"></a>
              </nav>
            </div>
            <div>
              <nav role="navigation">
                <ul class="menu">
                  <li>
                    <span>開発者リソース</span>
                    <ul>
                      <li>
                        <a href="https://docs.mulesoft.com" class="sl_norewrite">ドキュメント（日本語は近日公開）</a>
                      </li>
                      <li>
                        <a href="https://forums.mulesoft.com/" class="sl_norewrite">フォーラム</a>
                      </li>
                      <li>
                        <a href="https://support.mulesoft.com/s/login/" class="sl_norewrite">サポートログイン</a>
                      </li>
                    </ul>

                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-bottom">
      <div class="footer-inside">
        <p class="footer-copyright"><span>©2021</span> MuleSoft, LLC</p>
        <div class="footer-bottom-links">
          <a href="https://www.salesforce.com/jp/company/privacy" target="_blank">プライバシー</a>
          <a href="https://www.mulesoft.com/content/terms-service" target="_blank">利用規約</a>
        </div>
        <div class="language-selector-wrapper">
          <ul class="language-selection">
            <li class="english"><a href="https://www.mulesoft.com/">英語<sub>完全版サイト</sub></a></li>
            <li class="japanese"><a href="https://www.mulesoft.com/jp">日本語</a></li>
          </ul>
        </div>
      </div>
    </section>
  </footer>
</div>
