<div class="ms-com-content ms-com-content-footer">
    <footer class="ms-com-footer">
        <section class="footer-top">
            <div class="footer-inside">
                <div class="footer-links-marketo-form">
                    <div class="footer-tm">
                        <div>
                            <nav aria-labelledby="block-footertmdefault" id="block-footertmdefault"
                                class="block-footertmdefault">
                                <ul class="menu">
                                    <li> <span>Related resources</span>
                                        <ul>
                                            <li> <a href="https://www.mulesoft.com/resources/api/connected-business-strategy"
                                                    target="_self">The value of APIs for business</a></li>
                                            <li> <a href="https://www.mulesoft.com/resources/api/what-is-rest-api-design"
                                                    target="_self">What is REST API design?</a></li>
                                            <li> <a href="https://www.mulesoft.com/resources/api/development-best-practices"
                                                    target="_self">API development best practices</a></li>
                                        </ul>
                                    </li>
                                    <li> <span>Recommended for you</span>
                                        <ul>
                                            <li> <a href="https://www.mulesoft.com/lp/reports/connectivity-benchmark"
                                                    target="_self">Connectivity benchmark report</a></li>
                                            <li> <a
                                                    href="https://www.mulesoft.com/lp/whitepaper/api/application-network">The
                                                    application network</a></li>
                                            <li> <a href="https://www.mulesoft.com/lp/whitepaper/api/design-apis">How to
                                                    design and manage APIs</a></li>
                                        </ul>
                                    </li>
                                    <li> <span>Watch now on demand</span>
                                        <ul>
                                            <li> <a
                                                    href="https://www.mulesoft.com/webinars/api/microservices-architecture">Best
                                                    practices for microservices</a></li>
                                            <li> <a
                                                    href="https://www.mulesoft.com/webinars/api/security-best-practices">API
                                                    security best practices</a></li>
                                            <li> <a
                                                    href="https://www.mulesoft.com/webinars/api/mule-101-anypoint-platform-overview">Anypoint
                                                    Platform overview</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <nav><a href="https://www.mulesoft.com/sign-up" target="_blank">Sign up for our newsletter</a> <a
                        href="https://developer.mulesoft.com/" target="_blank">Developers</a> <a
                        href="https://blogs.mulesoft.com" target="_blank">Blog</a> <a
                        href="https://www.mulesoft.com/content/terms-service" target="_blank">Terms</a> <a
                        href="https://www.mulesoft.com/privacy-policy" target="_blank">Privacy</a> <a
                        href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Privacy/privacy-shield-notice.pdf"
                        target="_blank">Privacy Shield</a> <button
                        class="ot-sdk-show-settings optanon-toggle-display removable" data-ignore-geolocation="true"
                        id="ot-sdk-btn">Cookie settings</button> <a class="removable"
                        href="https://www.mulesoft.com/contact" target="_blank">Contact</a> <a class="removable"
                        href="https://www.mulesoft.com/contact" target="_blank"> 1-415-229-2009</a> </nav>
                <p class="mulecopy">MuleSoft provides a widely used <a
                        href="https://www.mulesoft.com/platform/enterprise-integration">integration platform</a> for
                    connecting applications, data, and devices in the cloud and on-premises. MuleSoft's Anypoint
                    Platform&trade; is a unified, single solution for <a
                        href="https://www.mulesoft.com/lp/reports/gartner-magic-quadrant-ipaas">iPaaS</a> and full
                    lifecycle <a href="https://www.mulesoft.com/platform/api-management">API management</a>. Anypoint
                    Platform, including <a
                        href="https://www.mulesoft.com/platform/saas/cloudhub-ipaas-cloud-based-integration">CloudHub&trade;</a>
                    and <a href="https://www.mulesoft.com/platform/soa/mule-esb-open-source-esb">Mule ESB&trade;</a>, is
                    built on proven open-source software for fast and reliable on-premises and cloud integration without
                    vendor lock-in.</p>
            </div>
        </section>
        <section class="footer-bottom">
            <div class="footer-inside">
                <p class="footer-copyright"><span>&copy;2022</span> MuleSoft LLC, a Salesforce company</p>
                <nav class="social-logos"><a href="https://twitter.com/MuleSoft" target="_blank"
                        class="icon-muletheme-twitter"></a> <a href="https://www.linkedin.com/company/mulesoft"
                        target="_blank" class="icon-muletheme-linkedin"></a> <a href="https://www.facebook.com/mulesoft"
                        target="_blank" class="icon-muletheme-facebook"></a> <a
                        href="https://www.instagram.com/mulesoft" target="_blank" class="icon-muletheme-instagram"></a>
                    <a href="https://videos.mulesoft.com/" target="_blank" class="icon-muletheme-videos"></a>
                </nav>
                <div class="language-selector-wrapper sl_opaque">
                    <ul class="language-selection">
                        <li class="english"><a href="https://docs.mulesoft.com/">English <sub>Full site</sub></a></li>
                        <li class="japanese"><a href="https://docs.mulesoft.com/jp/">Japanese</a></li>
                    </ul>
                    <ul class="language-selected">
                        <li class="japanese"><a href="https://docs.mulesoft.com/jp/">Japanese</a></li>
                        <li class="english"><a href="https://docs.mulesoft.com/">English <sub>Full site</sub></a></li>
                    </ul>
                </div>
            </div>
        </section>
    </footer>
    <script src="https://www.mulesoft.com/themes/custom/mule_foundation/endpoints/js/stormbreaker.js"></script>
    <div id="stormbreaker"></div>
</div>
