<div class="off-canvas-content-footer">
  <div id="sl-ms-com-content-footer"
    class="ms-com-content ms-com-content-tr ms-com-content-footer br custom-footer-white-bg">
    <section class="row-wrapper brightedge-links">
      <div class="row grid-x grid-margin-x">
        <div>
          <section class="block-brightedgefoundationcontentblock"> </section>
        </div>
      </div>
    </section>
    <footer class="ms-com-footer">
      <section class="footer-top">
        <div class="footer-inside">
          <div class="footer-links-marketo-form">
            <div class="footer-tm">
              <div>
                <nav role="navigation" aria-labelledby="block-jpupdatedfootermenu" id="block-jpupdatedfootermenu"
                  class="block-jpupdatedfootermenu">
                  <ul class="menu">
                    <li> <span>製品</span>
                      <ul>
                        <li> <a href="https://www.mulesoft.com/jp/platform/enterprise-integration">Anypoint Platform</a>
                        </li>
                        <li> <a href="https://anypoint.mulesoft.com/login/signup?apintent=generic">無料トライアル申込み</a></li>
                        <li> <a href="https://www.mulesoft.com/lp/dl/studio">Studioのダウンロード</a></li>
                      </ul>
                    </li>
                    <li> <span>ソリューション</span>
                      <ul>
                        <li> <a
                            href="https://www.mulesoft.com/jp/integration-solutions/soa/financial-services">金融サービス</a>
                        </li>
                        <li> <a
                            href="https://www.mulesoft.com/jp/integration-solutions/api/manufacturing-edi-erp">製造</a>
                        </li>
                        <li> <a href="https://www.mulesoft.com/jp/integration-solutions/saas/retail">小売</a></li>
                        <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/insurance">保険</a></li>
                        <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/healthcare">ヘルスケア</a></li>
                        <li> <a href="https://www.mulesoft.com/jp/integration-solutions/soa/digital-media">通信・メディア</a>
                        </li>
                      </ul>
                    </li>
                    <li> <span>サービス</span>
                      <ul>
                        <li> <a href="https://training.mulesoft.com/">トレーニング (英語)</a></li>
                        <li> <a href="https://training.mulesoft.com/certification">Certification (英語)</a></li>
                        <li> <a href="https://www.mulesoft.com/support-and-services/consulting">MuleSoft Catalyst
                            (英語)</a></li>
                        <li> <a href="https://www.mulesoft.com/support-and-services/business-value-services">Business
                            Value Services (英語)</a></li>
                        <li> <a href="https://meetups.mulesoft.com/events/#/list">MuleSoft Meet-up (英語)</a></li>
                      </ul>
                    </li>
                    <li> <span>サポート</span>
                      <ul>
                        <li> <a href="https://help.mulesoft.com/">ヘルプセンター (英語)</a></li>
                        <li> <a href="https://www.mulesoft.com/community">コミュニティ (英語)</a></li>
                        <li> <a href="https://developer.mulesoft.com/tutorials-and-howtos">チュートリアル (英語)</a></li>
                        <li> <a href="https://docs.mulesoft.com/jp/general/">ドキュメント</a></li>
                        <li> <a href="https://www.mulesoft.com/lp/ebook/api/integration-quick-start-guide">Quick start
                            guides (英語)</a></li>
                      </ul>
                    </li>
                    <li> <span>資料</span>
                      <ul>
                        <li> <a href="https://www.mulesoft.com/jp/case-studies">お客様事例</a></li>
                        <li> <a href="https://www.mulesoft.com/jp/integration-resources?type=whitepaper">コンテンツライブラリ</a>
                        </li>
                        <li> <a href="https://www.mulesoft.com/jp/resources/articles">記事</a></li>
                        <li> <a href="https://blogs.mulesoft.com/jp/bloghome/">MuleSoft Japan ブログ</a></li>
                        <li> <a href="https://www.mulesoft.com/jp/press-center">プレスセンター</a></li>
                      </ul>
                    </li>
                    <li> <span>その他の情報</span>
                      <ul>
                        <li> <a href="https://www.mulesoft.com/jp/contact">お問い合わせ</a></li>
                        <li> <a href="https://www.mulesoft.com/jp/integration-partner/finder">パートナー</a></li>
                        <li> <a href="https://www.mulesoft.com/jp/events">イベント</a></li>
                        <li> <a href="https://www.salesforce.com/jp/company/careers/japan/" class="hot-oval">Careers</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-bottom">
        <div class="footer-inside">
          <div class="logo-wrapper"> <a href="/jp/" class="footer-logo" aria-label="Link to homepage"></a></div>
          <nav class="footer-links"> <span class="footer-copyright"><span>© Copyright 2022</span> Salesforce, Inc. <a
                href="https://www.salesforce.com/company/legal/intellectual/"> All rights reserved.</a></span> <a
              class="footer-links-separator" href="https://www.salesforce.com/jp/company/privacy/"
              target="_blank">プライバシー</a> <a class="footer-links-separator"
              href="https://www.salesforce.com/content/dam/web/en_us/www/documents/legal/Privacy/privacy-shield-notice.pdf"
              target="_blank">Privacy Shield</a> <a class="footer-links-separator"
              href="https://www.salesforce.com/company/legal/sfdc-website-terms-of-service/" target="_blank">利用規約</a>
            <button class="ot-sdk-show-settings optanon-toggle-display removable" data-ignore-geolocation="true"
              id="ot-sdk-btn">Cookies Settings</button> </nav>
          <nav class="social-logos"> <a href="https://twitter.com/MuleSoft" target="_blank"
              class="icon-muletheme-twitter" aria-label="Link to MuleSoft Twitter profile"><span>Link to MuleSoft
                Twitter profile</span></a> <a href="https://www.linkedin.com/company/mulesoft" target="_blank"
              class="icon-muletheme-linkedin" aria-label="Link to MuleSoft Linkedin profile"><span>Link to MuleSoft
                Linkedin profile</span></a> <a href="https://www.facebook.com/mulesoft" target="_blank"
              class="icon-muletheme-facebook" aria-label="Link to MuleSoft Facebook profile"><span>Link to MuleSoft
                Facebook profile</span></a> <a href="https://www.instagram.com/mulesoft" target="_blank"
              class="icon-muletheme-instagram" aria-label="Link to MuleSoft Instagram profile"><span>Link to MuleSoft
                Instagram profile</span></a> <a href="https://videos.mulesoft.com/" class="icon-muletheme-videos"
              aria-label="Link to MuleSoft Video platform"><span>Link to MuleSoft Videos platform</span></a> </nav>
          <div class="language-selector-wrapper main-menu-language notranslate">
            <ul class="language-selection">
              <li class="english"><a href="https://www.mulesoft.com/" data-shortlan="en">English</a></li>
              <li class="japanese"><a href="https://www.mulesoft.com/jp/" data-shortlan="ja">Japanese</a></li>
            </ul>
            <ul class="language-selected">
              <li class="japanese"><a href="https://www.mulesoft.com/jp/" data-shortlan="ja">Japanese</a></li>
              <li class="english"><a href="https://www.mulesoft.com/" data-shortlan="en">English</a></li>
            </ul>
          </div>
        </div>
      </section>
    </footer>
    <script src="https://www.mulesoft.com/themes/custom/mule_foundation/endpoints/js/stormbreaker.js"></script>
    <div id="stormbreaker"></div>
</div>
