{{#if (and (or (and page.fileUri (not env.CI)) (and page.editUrl (not page.origin.private))) (ne (site-profile) "archive")) }}
    <a target="_blank" class="flex shrink align-center button button-edit js-github" 
    {{#if (and page.fileUri (not env.CI))}}
    href="{{page.fileUri}}"
    {{else}}
    href="{{page.editUrl}}"
    {{/if}}
    >
    <svg class="svg" width="30" height="31" viewBox="0 0 30 31" xmlns="http://www.w3.org/2000/svg" alt="">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8138 4.29395L21.8131 4.29321C20.4996 3.30157 19.1265 2.47113 17.7143 1.79395L4.60626 21.9791L4.60614 30.7911L12.2858 27.7773L25.3939 7.5921C24.3207 6.3927 23.1273 5.28558 21.8138 4.29395ZM18.3348 4.17664C19.1589 4.64801 19.9614 5.17688 20.7379 5.76324L20.7384 5.76349C21.5146 6.34967 22.2499 6.98169 22.9425 7.6557L20.2457 11.8085L15.638 8.32965L18.3348 4.17664ZM6.48114 27.2956L11.089 25.4874L19.1702 13.0431L17.6343 11.8834L10.2482 23.2576L8.71228 22.0977L16.0984 10.7239L14.5625 9.56403L6.48126 22.0083L6.48114 27.2956Z" />
    </svg>
    View on GitHub
</a>
{{/if}}
