{{#if (or preview (and (ne (site-profile) "archive") (or (and page.fileUri (not env.CI)) (and page.editUrl (not page.origin.private))))) }}
    <a target="_blank" class="github mule-button-br" 
    {{#if (and page.fileUri (not env.CI))}}
    href="{{page.fileUri}}"
    {{else}}
    href="{{page.editUrl}}"
    {{/if}}
    >
    View on GitHub
</a>
{{/if}}
