<div id="sl-ms-com-content-header" class="ms-com-content ms-com-content-tr ms-com-content-header">
  <div class="header-message">
    <div class="header-message-inside">
      <a href="{{siteRootPath}}">英語サイト全体を表示</a>
    </div>
  </div>
  <header class="ms-com-header desktop-header">
    <div class="header-overlay"></div>
    <div class="header-wrapper">
      <div class="header-inside">
        <a href="https://www.mulesoft.com/jp/" class="logo" onclick="ga('send', 'event', 'NAV', 'NavClick', 'Logo');"></a>
        <div>
          <nav role="navigation" aria-labelledby="block-trmainnavigation" id="block-trmainnavigation" class="block-trmainnavigation">
            <ul class="menu">
              <li>
                <a href="https://www.mulesoft.com/jp/platform/enterprise-integration">製品</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/integration-solutions">ソリューション</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/support-and-services">サービス</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/integration-resources">リソース</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/events">イベント</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/integration-partner/finder">パートナー</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/contact">お問い合わせ</a>
              </li>
            </ul>
          </nav>
        </div>
        <section class="right-side">
          <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" class="button blue-button" onclick="ga('send', 'event', 'NAV', 'NavClick', 'Free trial');">無料トライアル</a>
          <a href="https://anypoint.mulesoft.com/login/#/signin?apintent=generic" onclick="ga('send', 'event', 'NAV', 'NavClick', 'Login');">ログイン</a>
        </section>
        <!-- /right-side -->
      </div>
      <!-- /header-inside -->
    </div>
    <!-- /header-wrapper -->
  </header>
  <!-- /header.desktop-header-->
  <header class="ms-com-header mobile-header">
    <section class="mobile-header-top">
      <a href="{{siteRootPath}}" class="logo" onclick="ga('send', 'event', 'NAV', 'NavClick', 'Logo');"></a>
      <section class="right-side">
        <div class="menu-ham">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </section>
    </section>
    <section class="mobile-header-bottom">
      <nav class="mobile-nav">
        <div>
          <nav role="navigation" aria-labelledby="block-trmainnavigation" id="block-trmainnavigation" class="block-trmainnavigation">
            <ul class="menu">
              <li>
                <a href="https://www.mulesoft.com/jp/platform/enterprise-integration">製品</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/integration-solutions">ソリューション</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/support-and-services">サービス</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/integration-resources">リソース</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/events">イベント</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/integration-partner/finder">パートナー</a>
              </li>
              <li>
                <a href="https://www.mulesoft.com/jp/contact">お問い合わせ</a>
              </li>
            </ul>
          </nav>
        </div>
        <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" onclick="ga('send', 'event', 'NAV', 'NavClick', 'Free trial');">無料トライアル</a>
        <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic" onclick="ga('send', 'event', 'NAV', 'NavClick', 'Login');">ログイン</a>
      </nav>
    </section>
  </header>
</div>
