<div id="sl-ms-com-content-header"
    class="page-translated ms-com-content ms-com-content-tr ms-com-content-header new-selector ">
    <div class="lift-localized-promobanner"></div>
    <div class="header-message">
        <div class="header-message-inside">
        <a href="https://docs.mulesoft.com/">英語サイト全体を表示</a>
        </div>
    </div>
    <header class="ms-com-header desktop-header">
        <div class="header-overlay"></div>
        <div class="header-wrapper">
            <div class="header-inside"> <a href="/jp/" class="logo" aria-label="Link to homepage"></a>
                <div>
                    <nav role="navigation" aria-labelledby="block-jpmainmenu" id="block-jpmainmenu"
                        class="block-jpmainmenu">
                        <ul class="menu menu--simple-mega-menu">
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <span
                                    data-simple-mega-menu="41" tabindex="0">製品</span>
                                <div class="mega-menu-wrapper">
                                    <div class="mega-menu-background"></div>
                                    <div
                                        class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-header-translated field-name-field-header-translated field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item">
                                                    <article class="mega-menu-item-header" style="min-width: 600px;">
                                                        <section class="mega-menu-container-left">
                                                            <nav class="nav-intro"><a class="nav-main-title"
                                                                    href="https://www.mulesoft.com/jp/platform/enterprise-integration">Anypoint
                                                                    Platform</a>
                                                                <p>API主導の接続性によるインテグレーション</p>
                                                            </nav>
                                                            <nav class="menu"><span class="menu-label">機能</span> <a
                                                                    href="https://www.mulesoft.com/jp/platform/mule">Mule</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/platform/studio">Studio</a>
                                                            </nav>
                                                            <nav class="menu"><span
                                                                    class="menu-label desktop-space">&nbsp;</span> <a
                                                                    href="https://www.mulesoft.com/jp/platform/exchange">Exchange</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/platform/cloud-connectors">コネクタ</a>
                                                            </nav>
                                                        </section>
                                                        <section class="try-free">
                                                            <nav class="menu"><span class="menu-label">無料トライアル</span> <a
                                                                    href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic">Anypoint
                                                                    Platformの無料トライアル申込み </a> <a
                                                                    href="https://www.mulesoft.com/lp/dl/studio">Studio
                                                                    &amp; Muleのダウンロード</a></nav>
                                                        </section>
                                                    </article>
                                                    <style type="text/css">
                                                        .try-free {
                                                            margin-top: 40px;
                                                        }

                                                        @media screen and (max-width: 1160px) {
                                                            .ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside>.logo {
                                                                background-image: url(https://www.mulesoft.com/endpoints/assets/graphics/graphics.svgz);
                                                                width: 43px;
                                                            }
                                                        }

                                                        .mega-menu-container-left {
                                                            display: inline-block;
                                                            vertical-align: top;
                                                            margin-right: 70px;
                                                        }

                                                        .mega-menu-container-right {
                                                            display: inline-block;
                                                            vertical-align: top;
                                                        }
                                                    </style>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-translated-footer field-name-field-translated-footer field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item"><a
                                                        class="mega-menu-item-footer-featured-content"
                                                        href="https://www.mulesoft.com/jp/lp/reports/connectivity-benchmark ">
                                                        <article class="mega-menu-item-footer">
                                                            <article class="featured-left-content">
                                                                <div class="loading-lazy"> <img alt="resource-image"
                                                                        loading="lazy"
                                                                        src="https://www.mulesoft.com/sites/default/files/cmm_files/MS_Navigation_localization_CBR_woman_0.jpg">
                                                                </div>
                                                            </article>
                                                            <article class="featured-right-content notranslate">
                                                                <h4>接続性ベンチマークレポート</h4>
                                                                <p class="content-link">
                                                                    MuleSoftが世界の800人のITリーダーを対象に実施したデジタルトランスフォーメーションとインテグレーションに関するアンケート調査をレポートにしました。
                                                                </p> <span class="button blue-button">レポートを読む</span>
                                                            </article>
                                                        </article>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <span
                                    data-simple-mega-menu="131" tabindex="0">ソリューション</span>
                                <div class="mega-menu-wrapper">
                                    <div class="mega-menu-background"></div>
                                    <div
                                        class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-header-translated field-name-field-header-translated field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item">
                                                    <article class="mega-menu-item-header" style="min-width: 600px;">
                                                        <section class="mega-menu-container-left">
                                                            <nav class="menu"><span class="menu-label">業種</span><a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/financial-services">金融サービス</a><a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/api/manufacturing-edi-erp">製造</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/saas/retail">小売</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/insurance">保険</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/healthcare">ヘルスケア</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/digital-media">通信・メディア</a>
                                                            </nav>
                                                            <nav class="menu"><span class="menu-label">インテグレーション
                                                                </span><a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/saas/salesforce">Salesforce統合</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/sap">SAP</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/net-framework-integration">Microsoft</a>
                                                            </nav>
                                                            <nav class="menu"><span class="menu-label">課題</span> <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/api/business-automation">ビジネスオートメーション</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/legacy-system-modernization">レガシーシステムのモダナイゼーション</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/saas/move-to-the-cloud">クラウドへの移行</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/api/360-degree-view-customer">単一の顧客ビュー</a>
                                                            </nav>
                                                            <style type="text/css">
                                                                .try-free {
                                                                    margin-top: 40px;
                                                                }

                                                                @media screen and (max-width: 1160px) {
                                                                    .ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside>.logo {
                                                                        background-image: url(https://www.mulesoft.com/endpoints/assets/graphics/graphics.svgz);
                                                                        width: 43px;
                                                                    }
                                                                }

                                                                .mega-menu-container-left {
                                                                    display: inline-block;
                                                                    vertical-align: top;
                                                                    margin-right: 70px;
                                                                }

                                                                .mega-menu-container-right {
                                                                    display: inline-block;
                                                                    vertical-align: top;
                                                                }
                                                            </style>
                                                        </section>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-translated-footer field-name-field-translated-footer field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item"><a
                                                        class="mega-menu-item-footer-featured-content"
                                                        href="https://www.mulesoft.com/jp/lp/ebook/api/salesforce-integration-customer-360">
                                                        <article class="mega-menu-item-footer">
                                                            <article class="featured-left-content">
                                                                <div class="loading-lazy"> <img alt="resource-image"
                                                                        loading="lazy"
                                                                        src="https://www.mulesoft.com/sites/default/files/cmm_files/ebook_unleash_full_power_salesforce_cover_image.png">
                                                                </div>
                                                            </article>
                                                            <article class="featured-right-content notranslate">
                                                                <h4>APIを使ってフルパワーを解放する<br> Salesforce活用術</h4>
                                                                <p class="content-link">
                                                                    あらゆるデータやシステムを統合させて、御社のデジタルビジネスを変革</p> <span
                                                                    class="button blue-button">eBookを読む</span>
                                                            </article>
                                                        </article>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <a
                                    href="https://www.mulesoft.com/jp/support-and-services" tabindex="0">サービス</a></li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <span
                                    data-simple-mega-menu="46" tabindex="0">資料</span>
                                <div class="mega-menu-wrapper">
                                    <div class="mega-menu-background"></div>
                                    <div
                                        class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-header-translated field-name-field-header-translated field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item">
                                                    <article class="mega-menu-item-header">
                                                        <nav class="menu"><span class="menu-label">その他の情報</span> <a
                                                                class="notranslate"
                                                                href="https://www.mulesoft.com/jp/case-studies">お客様成功事例</a>
                                                            <a
                                                                href="https://www.mulesoft.com/jp/integration-resources">コンテンツライブラリー</a>
                                                            <a
                                                                href="https://www.mulesoft.com/jp/integration-resources/articles">記事</a>
                                                        </nav>
                                                        <nav class="menu"><span class="menu-label">イベント</span> <a
                                                                href="https://connect.mulesoft.com/">MuleSoft
                                                                CONNECT</a> <a
                                                                href="https://meetups.mulesoft.com/">Developer
                                                                Meetups</a> <a
                                                                href="https://www.mulesoft.com/jp/events">イベント</a></nav>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-translated-footer field-name-field-translated-footer field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item"><a
                                                        class="mega-menu-item-footer-featured-content"
                                                        href="https://connect.mulesoft.com/">
                                                        <article class="mega-menu-item-footer">
                                                            <article class="featured-left-content">
                                                                <div class="loading-lazy"> <img
                                                                        alt="MuleSoft CONNECTでインテグレーションの可能性を見つけてください"
                                                                        loading="lazy"
                                                                        src="https://www.mulesoft.com/sites/default/files/cmm_files/MuleSoft-Connect-Event-2022.jpg">
                                                                </div>
                                                            </article>
                                                            <article class="featured-right-content">
                                                                <h4>MuleSoft CONNECTのオンデマンド視聴</h4>
                                                                <p class="content-link">話題のセッションのすべてをオンデマンドでご覧いただけます</p>
                                                                <span class="button blue-button">動画を見る</span>
                                                            </article>
                                                        </article>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <nav role="navigation" aria-labelledby="block-jprightmenu" id="block-jprightmenu"
                        class="block-jprightmenu">
                        <ul class="menu menu--simple-mega-menu">
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <span class="notranslate"
                                    data-simple-mega-menu="61" tabindex="0">開発者リソース</span>
                                <div class="mega-menu-wrapper">
                                    <div class="mega-menu-background"></div>
                                    <div
                                        class="simple-mega-menu mega-menu-item simple-mega-menu-type-simple-flyout view-mode-after">
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-flyout-content field-name-field-flyout-content field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item">
                                                    <nav class="menu"><a
                                                            href="https://training.mulesoft.com/">トレーニング（英語）</a> <a
                                                            class="notranslate"
                                                            href="https://docs.mulesoft.com/jp/general/">日本語のドキュメント </a>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <a
                                    href="https://www.mulesoft.com/jp/integration-partner/finder" tabindex="0">パートナー</a>
                            </li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <a
                                    href="https://www.mulesoft.com/jp/contact" tabindex="0">お問い合わせ</a></li>
                        </ul>
                    </nav>
                </div>
                <section class="right-side">
                    <ul class="menu menu--simple-mega-menu"> <a
                            href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic"
                            class="button blue-button">無料トライアル</a>
                        <li class="menu-item flyout-right main-menu-login" aria-expanded="false" aria-haspopup="true">
                            <span tabindex="0">ログイン</span>
                            <div class="mega-menu-wrapper">
                                <div class="mega-menu-background"></div>
                                <div
                                    class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                                    <div
                                        class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item">
                                                <article class="mega-menu-item-header">
                                                    <nav class="menu"> <a
                                                            href="https://anypoint.mulesoft.com/login/#/signin?apintent=generic">Anypoint
                                                            Platform（英語）</a> <a
                                                            href="https://training.mulesoft.com/login">トレーニング（英語）</a> <a
                                                            href="https://help.mulesoft.com/s/login/">ヘルプセンター（英語）</a>
                                                    </nav>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </header>
    <header class="ms-com-header mobile-header">
        <section class="mobile-header-top"> <a href="/jp/" class="logo" aria-label="Link to homepage"></a>
            <section class="right-side">
                <div class="menu-ham"> <span></span> <span></span> <span></span></div>
            </section>
        </section>
        <section class="mobile-header-bottom">
            <nav class="mobile-nav">
                <div>
                    <nav role="navigation" aria-labelledby="block-jpmainmenu" id="block-jpmainmenu"
                        class="block-jpmainmenu">
                        <ul class="menu menu--simple-mega-menu">
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <span
                                    data-simple-mega-menu="41" tabindex="0">製品</span>
                                <div class="mega-menu-wrapper">
                                    <div class="mega-menu-background"></div>
                                    <div
                                        class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-header-translated field-name-field-header-translated field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item">
                                                    <article class="mega-menu-item-header" style="min-width: 600px;">
                                                        <section class="mega-menu-container-left">
                                                            <nav class="nav-intro"><a class="nav-main-title"
                                                                    href="https://www.mulesoft.com/jp/platform/enterprise-integration">Anypoint
                                                                    Platform</a>
                                                                <p>API主導の接続性によるインテグレーション</p>
                                                            </nav>
                                                            <nav class="menu"><span class="menu-label">機能</span> <a
                                                                    href="https://www.mulesoft.com/jp/platform/mule">Mule</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/platform/studio">Studio</a>
                                                            </nav>
                                                            <nav class="menu"><span
                                                                    class="menu-label desktop-space">&nbsp;</span> <a
                                                                    href="https://www.mulesoft.com/jp/platform/exchange">Exchange</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/platform/cloud-connectors">コネクタ</a>
                                                            </nav>
                                                        </section>
                                                        <section class="try-free">
                                                            <nav class="menu"><span class="menu-label">無料トライアル</span> <a
                                                                    href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic">Anypoint
                                                                    Platformの無料トライアル申込み </a> <a
                                                                    href="https://www.mulesoft.com/lp/dl/studio">Studio
                                                                    &amp; Muleのダウンロード</a></nav>
                                                        </section>
                                                    </article>
                                                    <style type="text/css">
                                                        .try-free {
                                                            margin-top: 40px;
                                                        }

                                                        @media screen and (max-width: 1160px) {
                                                            .ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside>.logo {
                                                                background-image: url(https://www.mulesoft.com/endpoints/assets/graphics/graphics.svgz);
                                                                width: 43px;
                                                            }
                                                        }

                                                        .mega-menu-container-left {
                                                            display: inline-block;
                                                            vertical-align: top;
                                                            margin-right: 70px;
                                                        }

                                                        .mega-menu-container-right {
                                                            display: inline-block;
                                                            vertical-align: top;
                                                        }
                                                    </style>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-translated-footer field-name-field-translated-footer field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item"><a
                                                        class="mega-menu-item-footer-featured-content"
                                                        href="https://www.mulesoft.com/jp/lp/reports/connectivity-benchmark ">
                                                        <article class="mega-menu-item-footer">
                                                            <article class="featured-left-content">
                                                                <div class="loading-lazy"> <img alt="resource-image"
                                                                        loading="lazy"
                                                                        src="https://www.mulesoft.com/sites/default/files/cmm_files/MS_Navigation_localization_CBR_woman_0.jpg">
                                                                </div>
                                                            </article>
                                                            <article class="featured-right-content notranslate">
                                                                <h4>接続性ベンチマークレポート</h4>
                                                                <p class="content-link">
                                                                    MuleSoftが世界の800人のITリーダーを対象に実施したデジタルトランスフォーメーションとインテグレーションに関するアンケート調査をレポートにしました。
                                                                </p> <span class="button blue-button">レポートを読む</span>
                                                            </article>
                                                        </article>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <span
                                    data-simple-mega-menu="131" tabindex="0">ソリューション</span>
                                <div class="mega-menu-wrapper">
                                    <div class="mega-menu-background"></div>
                                    <div
                                        class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-header-translated field-name-field-header-translated field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item">
                                                    <article class="mega-menu-item-header" style="min-width: 600px;">
                                                        <section class="mega-menu-container-left">
                                                            <nav class="menu"><span class="menu-label">業種</span><a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/financial-services">金融サービス</a><a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/api/manufacturing-edi-erp">製造</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/saas/retail">小売</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/insurance">保険</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/healthcare">ヘルスケア</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/digital-media">通信・メディア</a>
                                                            </nav>
                                                            <nav class="menu"><span class="menu-label">インテグレーション
                                                                </span><a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/saas/salesforce">Salesforce統合</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/sap">SAP</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/net-framework-integration">Microsoft</a>
                                                            </nav>
                                                            <nav class="menu"><span class="menu-label">課題</span> <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/api/business-automation">ビジネスオートメーション</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/soa/legacy-system-modernization">レガシーシステムのモダナイゼーション</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/saas/move-to-the-cloud">クラウドへの移行</a>
                                                                <a
                                                                    href="https://www.mulesoft.com/jp/integration-solutions/api/360-degree-view-customer">単一の顧客ビュー</a>
                                                            </nav>
                                                            <style type="text/css">
                                                                .try-free {
                                                                    margin-top: 40px;
                                                                }

                                                                @media screen and (max-width: 1160px) {
                                                                    .ms-com-content.ms-com-content-header header.ms-com-header .header-wrapper .header-inside>.logo {
                                                                        background-image: url(https://www.mulesoft.com/endpoints/assets/graphics/graphics.svgz);
                                                                        width: 43px;
                                                                    }
                                                                }

                                                                .mega-menu-container-left {
                                                                    display: inline-block;
                                                                    vertical-align: top;
                                                                    margin-right: 70px;
                                                                }

                                                                .mega-menu-container-right {
                                                                    display: inline-block;
                                                                    vertical-align: top;
                                                                }
                                                            </style>
                                                        </section>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-translated-footer field-name-field-translated-footer field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item"><a
                                                        class="mega-menu-item-footer-featured-content"
                                                        href="https://www.mulesoft.com/jp/lp/ebook/api/salesforce-integration-customer-360">
                                                        <article class="mega-menu-item-footer">
                                                            <article class="featured-left-content">
                                                                <div class="loading-lazy"> <img alt="resource-image"
                                                                        loading="lazy"
                                                                        src="https://www.mulesoft.com/sites/default/files/cmm_files/ebook_unleash_full_power_salesforce_cover_image.png">
                                                                </div>
                                                            </article>
                                                            <article class="featured-right-content notranslate">
                                                                <h4>APIを使ってフルパワーを解放する<br> Salesforce活用術</h4>
                                                                <p class="content-link">
                                                                    あらゆるデータやシステムを統合させて、御社のデジタルビジネスを変革</p> <span
                                                                    class="button blue-button">eBookを読む</span>
                                                            </article>
                                                        </article>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <a
                                    href="https://www.mulesoft.com/jp/support-and-services" tabindex="0">サービス</a></li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <span
                                    data-simple-mega-menu="46" tabindex="0">資料</span>
                                <div class="mega-menu-wrapper">
                                    <div class="mega-menu-background"></div>
                                    <div
                                        class="simple-mega-menu mega-menu-item simple-mega-menu-type-translated-pages-megamenu view-mode-after">
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-header-translated field-name-field-header-translated field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item">
                                                    <article class="mega-menu-item-header">
                                                        <nav class="menu"><span class="menu-label">その他の情報</span> <a
                                                                class="notranslate"
                                                                href="https://www.mulesoft.com/jp/case-studies">お客様成功事例</a>
                                                            <a
                                                                href="https://www.mulesoft.com/jp/integration-resources">コンテンツライブラリー</a>
                                                            <a
                                                                href="https://www.mulesoft.com/jp/integration-resources/articles">記事</a>
                                                        </nav>
                                                        <nav class="menu"><span class="menu-label">イベント</span> <a
                                                                href="https://connect.mulesoft.com/">MuleSoft
                                                                CONNECT</a> <a
                                                                href="https://meetups.mulesoft.com/">Developer
                                                                Meetups</a> <a
                                                                href="https://www.mulesoft.com/jp/events">イベント</a></nav>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-translated-footer field-name-field-translated-footer field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item"><a
                                                        class="mega-menu-item-footer-featured-content"
                                                        href="https://connect.mulesoft.com/">
                                                        <article class="mega-menu-item-footer">
                                                            <article class="featured-left-content">
                                                                <div class="loading-lazy"> <img
                                                                        alt="MuleSoft CONNECTでインテグレーションの可能性を見つけてください"
                                                                        loading="lazy"
                                                                        src="https://www.mulesoft.com/sites/default/files/cmm_files/MuleSoft-Connect-Event-2022.jpg">
                                                                </div>
                                                            </article>
                                                            <article class="featured-right-content">
                                                                <h4>MuleSoft CONNECTのオンデマンド視聴</h4>
                                                                <p class="content-link">話題のセッションのすべてをオンデマンドでご覧いただけます</p>
                                                                <span class="button blue-button">動画を見る</span>
                                                            </article>
                                                        </article>
                                                    </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <nav role="navigation" aria-labelledby="block-jprightmenu" id="block-jprightmenu"
                        class="block-jprightmenu">
                        <ul class="menu menu--simple-mega-menu">
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <span class="notranslate"
                                    data-simple-mega-menu="61" tabindex="0">開発者リソース</span>
                                <div class="mega-menu-wrapper">
                                    <div class="mega-menu-background"></div>
                                    <div
                                        class="simple-mega-menu mega-menu-item simple-mega-menu-type-simple-flyout view-mode-after">
                                        <div
                                            class="field-wrapper field field-simple-mega-menu--field-flyout-content field-name-field-flyout-content field-type-text-long field-label-hidden">
                                            <div class="field-items">
                                                <div class="field-item">
                                                    <nav class="menu"><a
                                                            href="https://training.mulesoft.com/">トレーニング（英語）</a> <a
                                                            class="notranslate"
                                                            href="https://docs.mulesoft.com/jp/general/">日本語のドキュメント </a>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <a
                                    href="https://www.mulesoft.com/jp/integration-partner/finder" tabindex="0">パートナー</a>
                            </li>
                            <li class="menu-item" aria-expanded="false" aria-haspopup="true"> <a
                                    href="https://www.mulesoft.com/jp/contact" tabindex="0">お問い合わせ</a></li>
                        </ul>
                    </nav>
                </div> <a href="https://anypoint.mulesoft.com/login/#/signup?apintent=generic">無料トライアル</a>
                <nav>
                    <ul class="menu">
                        <li class="menu-item main-menu-login" aria-expanded="false" aria-haspopup="true"> <span
                                class="mobile-login" tabindex="0">ログイン</span>
                            <div class="mega-menu-wrapper">
                                <div class="mega-menu-background"></div>
                                <div
                                    class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu view-mode-after">
                                    <div
                                        class="field-wrapper field field-simple-mega-menu--field-header field-name-field-header field-type-text-long field-label-hidden">
                                        <div class="field-items">
                                            <div class="field-item">
                                                <article class="mega-menu-item-header">
                                                    <nav class="menu"> <a
                                                            href="https://anypoint.mulesoft.com/login/#/signin?apintent=generic">Anypoint
                                                            Platform（英語）</a> <a
                                                            href="https://training.mulesoft.com/login">トレーニング（英語）</a> <a
                                                            href="https://help.mulesoft.com/s/login/">ヘルプセンター（英語）</a>
                                                    </nav>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </nav>
        </section>
    </header>
</div>