<nav class="nav fit" aria-label="Docs">
  {{#if env.COVEO_API_KEY}}
    <atomic-search-interface id="search">
        <atomic-search-layout>
            <atomic-layout-section section="search">
                <atomic-search-box redirection-url="{{site.url}}/search.html">
                    <atomic-search-box-query-suggestions max-with-query="3" max-without-query="3"/>
                    <atomic-search-box-recent-queries max-with-query="3" max-without-query="3"/>
                </atomic-search-box>
            </atomic-layout-section>
    </atomic-search-layout>
  {{/if}}
</nav>