<nav class="nav fit" aria-label="Docs">
  <span class="mobile-nav-focus-trapper"></span>
  <div>
    <button class="nav-close-button hide" title="close menu">
      <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/arrow-down.svg" alt="">
    </button>
  </div>
</nav>
