<nav class="nav fit" aria-label="Docs">
  <span class="mobile-nav-focus-trapper"></span>
  {{#if (and env.COVEO_API_KEY (not (is-one-of (site-profile) 'archive' 'jp')))}}
  <div class="search">
    <atomic-search-interface id="search" search-hub="Documentation">
      <atomic-search-layout>
          <atomic-layout-section section="search">
              <atomic-search-box redirection-url="
                {{#if preview}}
                  http://localhost:8080/general/search.html
                {{else}}
                  {{site.url}}/general/search
                {{/if}}
              ">
              </atomic-search-box>
          </atomic-layout-section>
      </atomic-search-layout>
    </atomic-search-interface>
  </div>
  {{/if}}
  <div>
    <button class="button nav-close-button hide" title="close menu">
      <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/arrow-down.svg" alt="">
    </button>
  </div>
</nav>
