{{#if env.COVEO_ACCESS_TOKEN}}
<div id="search" class="js-search-ui js-coveo CoveoSearchInterface" data-enable-automatic-responsive-mode="false">
  <div class="CoveoAnalytics" data-search-hub="Documentation"></div>
  <div class="modal">
    <header class="flex flex-wrap align-center coveo-searchbox-wrapper">
      <label class="tip-header" for="coveo-form">Search Docs</label>
      <div class="CoveoSearchbox" data-placeholder="example: Studio" data-enable-search-as-you-type="true" data-search-as-you-type-delay="2000"></div>
      <button aria-label="Close modal" class="flex shrink coveo-close js-search-close" title="Close Search Modal" data-close="" type="button">
        <svg class="flex shrink" viewBox="-10 -10 40 40" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.9174 1.40828C19.5074 0.935478 19.0645 0.492569 18.5917 0.0825958L10 8.67432L1.40828 0.0825958C0.935478 0.492569 0.492569 0.935478 0.0825958 1.40828L8.67432 10L0.0825964 18.5917C0.49257 19.0645 0.935479 19.5074 1.40828 19.9174L10 11.3257L18.5917 19.9174C19.0645 19.5074 19.5074 19.0645 19.9174 18.5917L11.3257 10L19.9174 1.40828Z"/>
        </svg>
      </button>
    </header>
    <div class="coveo-main-section">
      <section class="coveo-facet-column">
        <header class="facet-heading">Filter by</header>
        <div class="flex facet-wrapper">
          <div class="CoveoFacet" data-title="Product" data-field="@product" data-number-of-values="10" data-enable-settings="false" data-enable-facet-search="false" data-preserve-position="false"></div>
          <div class="CoveoFacet" data-title="Version" data-field="@version" data-number-of-values="7" data-enable-settings="false" data-enable-facet-search="false" data-preserve-position="false" data-depends-on="@product" data-available-sorts="AlphaDescending"></div>
        </div>
        <aside class="facet-callout">
          <div class="tip-header">
            TIP
            <svg class="tip-svg" width="11" height="15" viewBox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg" alt="">
              <path d="M1 7L3 1H8.5L6.5 4.88235L10 5.88235L6.75 9.94118L3.5 14L4.5 8L1 7Z" stroke="#F2BE24" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="tip-text">You can often filter by version after selecting a product.</div>
        </aside>
      </section>
      <section class="coveo-results-column">
        <span class="CoveoQuerySummary" data-enable-search-tips="false"></span>
        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean"></div>
        <div class="CoveoErrorReport"></div>
        <div class="CoveoResultList" data-layout="card" data-wait-animation="fade" data-auto-select-fields-to-include="true"></div>
        <div class="CoveoPager"></div>
      </section>
    </div>
  </div>
</div>
<script defer src="https://static.cloud.coveo.com/searchui/v2.4382/js/CoveoJsSearch.Lazy.min.js"></script>
<script defer src="https://static.cloud.coveo.com/searchui/v2.4382/js/templates/templates.js"></script>
<script defer src="{{uiRootPath}}/js/vendor/coveo.js" id="coveo-script" data-access-token="{{env.COVEO_ACCESS_TOKEN}}" data-query-pipeline="{{or env.COVEO_QUERY_PIPELINE 'doc-query-pipeline'}}"></script>
{{/if}}
