<section class="survey">
  <div class="survey-icon">
    <svg width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="31.5" cy="31.5" r="30.75" stroke="#449FD9" stroke-width="1.5"/>
    <rect x="15.5735" y="15.5735" width="31.8529" height="31.8529" rx="2.21471" stroke="#449FD9" stroke-width="1.5"/>
    <line x1="30.2429" y1="29.4275" x2="42.1017" y2="29.4275" stroke="#449FD9" stroke-width="1.5"/>
    <line x1="21.5307" y1="32.3469" x2="27.4171" y2="26.4605" stroke="#449FD9" stroke-width="1.5"/>
    <line x1="27.4172" y1="32.23" x2="21.5308" y2="26.3437" stroke="#449FD9" stroke-width="1.5"/>
    <line x1="30.2429" y1="41.082" x2="42.1017" y2="41.082" stroke="#449FD9" stroke-width="1.5"/>
    <path d="M21.9182 39.3347L24.4156 41.8321L28.5779 36.0049" stroke="#449FD9" stroke-width="1.5"/>
    <line x1="14.8235" y1="21.9678" x2="46.6941" y2="21.9678" stroke="#449FD9" stroke-width="1.5"/>
    <ellipse cx="19.7705" cy="18.7705" rx="1.24117" ry="1.24118" fill="#449FD9"/>
    <ellipse cx="23.7353" cy="18.7705" rx="1.24117" ry="1.24118" fill="#449FD9"/>
    <ellipse cx="27.7002" cy="18.7705" rx="1.24117" ry="1.24118" fill="#449FD9"/>
    </svg>
  </div>
  <div class="survey-title">Give us your feedback!</div>
  <div class="survey-text">We want to build the best documentation experience for you! <br> Help us improve with your feedback.</div>
  <a class="survey-button" type="button" href="https://s2.userzoom.com/m/MSBDNTQxOFMxMzI4" target="_blank"><span class="button-text">Take the survey!</span></a>
</section>
