<aside class="toc toc-sidebar scrollbar">
<div class="skip-link-container">
    <button tabindex="0" class="skip-link">Skip to main content</button>
</div>
{{> github}}
<h1 class="toc-title">{{#if (eq (site-profile) 'jp' )}}このページの内容{{else}}On this page{{/if}}:</h1>
<div class="aside-toc">
    <nav class="toc-menu" aria-label="Skip to page content sections"></nav>
</div>
{{#if (ne page.layout '404')}}
{{/if}}
</aside>
