.hljs-comment,
.hljs-meta {
  color: var(--lume-g-color-neutral-40);
}

.hljs-keyword,
.hljs-built_in { /* stylelint-disable selector-class-pattern */
  color: var(--lume-g-color-blue-40);
  font-weight: var(--weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-tag .hljs-attr {
  color: var(--violet);
}

.hljs-doctag,
.hljs-string,
.hljs-subst {
  color: var(--lume-g-color-blue-40);
}

.hljs-attribute,
.hljs-regexp,
.hljs-tag {
  color: var(--lume-g-color-red-40);
}

.hljs-built-in,
.hljs-title {
  color: var(--lume-g-color-red-30);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--weight-bold);
}