{{#if page.attributes.deployment-options}}
<div class="deployment-options-row flex flex-wrap">
    {{#with (deployment-options)}}
    {{#if this.ch2}} {{> do-ch2}} {{/if}}
    {{#if this.ch}} {{> do-ch}} {{/if}}
    {{#if this.hybrid}} {{> do-hybrid}} {{/if}}
    {{#if this.pce}} {{> do-pce}} {{/if}}
    {{#if this.rtf}} {{> do-rtf}} {{/if}}
    {{#if this.acbIDE}} {{> do-acb-ide}} {{/if}}
    {{#if this.cloudIDE}} {{> do-cloud-ide}} {{/if}}
    {{#if this.desktopIDE}} {{> do-desktop-ide}} {{/if}}
    {{#if this.studioIDE}} {{> do-studio-ide}} {{/if}}
    {{/with}}
</div>
{{/if}}