{{#if page.attributes.deployment-options}}
<div class="deployment-options-row flex flex-wrap">
    {{#with (deployment-options)}}
    {{#if this.ch2}} {{> do-ch2}} {{/if}}
    {{#if this.ch1}} {{> do-ch1}} {{/if}}
    {{#if this.hybrid}} {{> do-hybrid}} {{/if}}
    {{#if this.pce}} {{> do-pce}} {{/if}}
    {{#if this.rtf}} {{> do-rtf}} {{/if}}
    {{/with}}
</div>
{{/if}}