<p class="deployment-option align-center flex">
    <span class="deployment-option-circle-crop">
        <img class="icon-deployment-option" src="{{@root.uiRootPath}}/img/icons/anypoint-code-builder.svg" alt="logo acb active" title="Anypoint Code Builder">
    </span>
    Anypoint Code Builder
</p>