<a class="deployment-option align-center flex" href="deployment-strategies#cloudhub">
    <span class="deployment-option-circle-crop">
        <img class="icon-deployment-option" src="{{@root.uiRootPath}}/img/icons/cloud-dots.svg" alt="logo cloudhub active" title="CloudHub">
    </span>
    CloudHub
</a>