<a class="deployment-option align-center flex" href="deployment-strategies#cloudhub-2-0">
    <span class="deployment-option-circle-crop">
        <img class="icon-deployment-option" src="{{@root.uiRootPath}}/img/icons/clouds.svg" alt="logo cloudhub 2.0 active" title="CloudHub 2.0">
    </span>
    CloudHub 2.0
</a>