<a class="deployment-option align-center flex" href="deployment-strategies#cloudhub-deployments">
    <img src="{{@root.uiRootPath}}/img/logos/deployment-ch2.png" alt="logo cloud active" title="CloudHub 2.0">
    CloudHub 2.0
</a>