<span class="image">
    <a class="image" href="deployment-strategies#cloudhub-deployments">
        <img src="{{@root.uiRootPath}}/img/logos/deployment-cloudhub.png" alt="logo cloud active" title="CloudHub 1">
    </a>
</span>