<a class="deployment-option align-center flex" href="deployment-strategies#cloudhub">
    <img src="{{@root.uiRootPath}}/img/logos/deployment-ch.png" alt="logo cloudhub active" title="CloudHub">
    CloudHub
</a>