<a class="deployment-option align-center flex" href="deployment-strategies#cloudhub-deployments">
    <img src="{{@root.uiRootPath}}/img/logos/deployment-ch.png" alt="logo cloud active" title="CloudHub 1.0">
    CloudHub 1.0
</a>