<a class="deployment-option align-center flex" href="deployment-strategies#hybrid-deployments">
    <span class="deployment-option-circle-crop">
        <img class="icon-deployment-option" src="{{@root.uiRootPath}}/img/icons/hybrid-cloud.svg" alt="logo hybrid active" title="Hybrid">
    </span>
    Hybrid
</a>