<span class="image">
    <a class="image" href="deployment-strategies#hybrid-deployments">
        <img src="{{@root.uiRootPath}}/img/logos/deployment-hybrid.png" alt="logo hybrid active" title="Hybrid">
    </a>
</span>