<a class="deployment-option align-center flex" href="deployment-strategies#anypoint-platform-pce-deployments">
    <img src="{{@root.uiRootPath}}/img/logos/deployment-pce.png" alt="logo server active" title="Anypoint Platform PCE">
    Private Cloud Edition
</a>