<a class="deployment-option align-center flex" href="deployment-strategies#anypoint-platform-private-cloud-edition">
    <span class="deployment-option-circle-crop">
        <img class="icon-deployment-option" src="{{@root.uiRootPath}}/img/icons/server-cloud.svg" alt="logo server active" title="Anypoint Platform PCE">
    </span>
    Private Cloud Edition
</a>