<span class="image">
    <a class="image" href="deployment-strategies#anypoint-platform-pce-deployments">
        <img src="{{@root.uiRootPath}}/img/logos/deployment-pce.png" alt="logo server active"
            title="Anypoint Platform PCE">
    </a>
</span>