<span class="image">
    <a class="image" href="deployment-strategies#anypoint-runtime-fabric-deployments">
        <img src="{{@root.uiRootPath}}/img/logos/deployment-rtf.png" alt="logo rtf active" title="Runtime Fabric">
    </a>
</span>