<a class="deployment-option align-center flex" href="deployment-strategies#anypoint-runtime-fabric-deployments">
    <span class="deployment-option-circle-crop">
        <img class="icon-deployment-option" src="{{@root.uiRootPath}}/img/icons/cloud-gear.svg" alt="logo rtf active" title="Runtime Fabric">
    </span>
    Runtime Fabric
</a>