<p class="deployment-option align-center flex">
    <span class="deployment-option-circle-crop">
        <img class="icon-deployment-option" src="{{@root.uiRootPath}}/img/icons/studio.svg" alt="logo studio active" title="Anypoint Studio">
    </span>
    Anypoint Studio
</p>