{{#unless (eq (site-profile) 'archive')}}
{{#if (or page.componentVersion.asciidoc.attributes.customer-feedback-survey asciidoc.attributes.customer-feedback-survey)}}
<div class="mobile-survey-div">
    {{> survey class="mobile-survey hide" iconName="close" }}
    <button aria-expanded=false class="mobile-survey-button"
        aria-label="Click to toggle the customer feedback survey section"
        title="Click to toggle the customer feedback survey section">
        {{> survey-icon }}
        <img class="survey-icon-close-image hide" loading="lazy" src="{{@root.uiRootPath}}/img/icons/close.svg" alt="">
    </button>
    <p class="mobile-survey-help-text sr-only">Take Survey</p>
    <div class="survey-popover hide">
        <div class="survey-popover-content">
            <p>Take our <a href="{{or page.componentVersion.asciidoc.attributes.customer-feedback-survey asciidoc.attributes.customer-feedback-survey}}">5 minute survey</a> and you’ll have a chance to <strong>win 1 of 10 $25 gift cards</strong>!</p>
            <button aria-label="Close survey popover and never show it again" class="survey-popover-close-button" title="Close survey popover and never show it again"><img loading="lazy" src="../_/img/icons/close.svg" alt=""></button>
        </div>
        <svg width="16" height="6" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 6s1.796-.013 4.67-3.615C5.851.9 6.93.006 8 0c1.07-.006 2.148.887 3.343 2.385C14.233 6.005 16 6 16 6H0z"></path>
        </svg>
    </div>
</div>
{{/if}}
{{/unless}}