{{#if (or preview (is-one-of (site-profile) 'prod' 'beta' 'review')) }}
{{#if (or page.componentVersion.asciidoc.attributes.customer-feedback-survey asciidoc.attributes.customer-feedback-survey)}}
<section class="survey hide {{#if class}}{{class}}{{/if}}">
  <div class="survey-toggle-div flex justify-end">
    <button aria-expanded=true aria-label="Click to toggle the customer feedback survey section"
      title="Click to toggle the customer feedback survey section" class="survey-toggle">
      <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/{{iconName}}.svg" alt="" height="12">
    </button>
  </div>
  <div class="survey-icon">
    {{> survey-icon }}
  </div>
  <div class="survey-text">
    <p id="survey-text-label">Take our <strong>5-minute survey</strong> and you'll be entered for a chance to <strong>win one of 25 gift cards worth $25 USD (or equivalent)!</strong>!
    </p>
  </div>
  <div class="survey-link-div">
    <a aria-labelledby="survey-text-label" class="survey-link" href="{{or page.componentVersion.asciidoc.attributes.customer-feedback-survey asciidoc.attributes.customer-feedback-survey}}" target="_blank">Take the survey!</a>
  </div>
</section>
{{/if}}
{{/if}}