{{#if page.component}}
<footer class="flex col doc-footer">
  <div class="flex col align-center">
    <a href="#" class="button-arrow button-arrow-up" data-l10n-text="footer-back-to-top">Back to top</a>
  </div>
  {{> feedback-form }}
  {{> github}}
</footer>
{{/if}}