<article class="doc {{{page.attributes.article-style}}}">
    {{#if (eq page.layout '404')}}
    {{> 404-content}}
    {{else}}
    {{#if page.title}}
    <h1 class="page">{{{page.title}}}</h1>
    {{/if}}
    {{> subheading}}
    {{> info-pills}}
    {{> deployment-options}}
    {{{page.contents}}}
    {{> pagination}}
    {{/if}}
</article>
{{#if (ne page.layout '404')}}
{{> article-footer}}
{{/if}}