<!DOCTYPE html>
<html lang={{#if (eq (site-profile) 'jp' )}}"jp"{{else}}"en"{{/if}}>

<head>
    <title>
        {{#if (eq (site-profile) 'jp')}}ページが見つかりません{{else}}Page Not Found{{/if}}
        {{#if site.title}} | {{{site.title}}}{{/if}}
    </title>
    {{> head}}
</head>

<body class="status-404 flex col">
    {{> header}}
    {{> body}}
    {{> footer}}
</body>

</html>