<!DOCTYPE html>
<html lang={{#if (eq (site-profile) 'jp' )}}"jp"{{else}}"en"{{/if}}>

<head>
  <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
  {{> head}}
</head>

<body class="flex col">
  {{> header}}
  {{#if page.attributes.connector-type}}
  <div class="flex container wrapper">
    {{> nav}}
    <main class="main" data-ceiling="topbar">
      {{> toolbar}}
      {{> notice-banner}}
      {{> connectors-article}}
    </main>
    <aside class="toc toc-sidebar scrollbar">
      {{> github}}
      {{> connectors-sidebar}}
    </aside>
  </div>
  {{else}}
  {{> body}}
  {{/if}}
  {{> footer}}
</body>

</html>