<!DOCTYPE html>
<html lang={{#if (eq (site-profile) 'jp' )}}"jp"{{else}}"en"{{/if}}>

<head>
    <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
    {{> head}}
</head>

<body class="flex col">
    {{> header}}
    {{> top-banner}}
    <div class="exclude-coveo-indexing wrapper">
        <main data-ceiling="topbar">
            {{> search-toolbar}}
            {{> search-interface}}
        </main>
    </div>
    {{> mobile-survey}}
    {{> footer}}
</body>

</html>