<nav aria-label="Docs Search toolbar" class="toolbar search-toolbar">
  <button class="button search-page-back-button">
    <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/close.svg" alt="">
    <span data-l10n-text="search-close-button"></span>
  </button>
  <atomic-external>
    <atomic-layout-section section="search">
      <atomic-search-box></atomic-search-box>
    </atomic-layout-section>
  </atomic-external>
</nav>