<nav aria-label="Docs Search toolbar" class="toolbar search-toolbar">
  <a class="search-page-back-button button-primary" href="#">
    <img src="{{@root.uiRootPath}}/img/icons/arrow-back.svg" alt="">
    Back to MuleSoft Docs
  </a>
  <atomic-external>
    <atomic-layout-section section="search">
      <atomic-search-box></atomic-search-box>
    </atomic-layout-section>
  </atomic-external>
</nav>