<nav class="flex align-center toolbar">
  {{#if (ne page.title 'Search Docs')}}
  <button aria-label="Docs Menu" class="button nav-toggle">Menu</button>
  {{/if}}
  {{> breadcrumbs}}
  <button class="breadcrumbs-toggle">
    <img class="" src="{{@root.uiRootPath}}/img/icons/arrow-down.svg" alt="">
  </button>
  {{#if (ne page.title 'Search Docs')}}
    {{#if (and env.COVEO_API_KEY (and (ne (site-profile) 'archive') (ne (site-profile) 'jp')))}}
    <button aria-label="Search Docs" class="button toolbar-search-button">
      <img class="toolbar-search-button-icon" src="{{@root.uiRootPath}}/img/icons/search.svg" alt="Search Docs">
    </button>
    {{/if}}
  {{/if}}
</nav>
<div class="secondary-breadcrumbs-drawer hide">
{{> breadcrumbs}}
</div>
