<nav class="flex align-center toolbar">
  <button aria-label="Docs Menu" class="mule-button-br nav-toggle hide-until-l10n" data-l10n-text="mobile-menu-button">Menu</button>
  {{> breadcrumbs mode='primary'}}
  <div class="mobile-toolbar-breadcrumbs-drawer-controls">
    {{#if (and page.breadcrumbs (ne page.layout 'home'))}}
    <button aria-expanded="false" aria-controls="secondary-breadcrumbs-drawer"
      aria-label="Click to toggle the breadcrumbs drawer" class="breadcrumbs-toggle">
      <img loading="lazy" src="{{@root.uiRootPath}}/img/icons/arrow-down.svg" alt="">
    </button>
    {{/if}}
    {{#if (or preview (is-one-of (site-profile) 'prod' 'jp'))}}
    <button data-l10n-label="search-toolbar-button" class="mule-button-br docsearch-toolbar-button" data-action="open-docsearch-modal">
      <img loading="lazy" class="docsearch-toolbar-button-icon" src="{{@root.uiRootPath}}/img/icons/search.svg"
        data-l10n-alt="search-toolbar-button">
    </button>
    {{/if}}
  </div>
</nav>
{{#if (and page.breadcrumbs (ne page.layout 'home'))}}
<div class="secondary-breadcrumbs-drawer hide">
  {{> breadcrumbs mode='secondary'}}
</div>
{{/if}}